[2018-12-26 01:26] leakingtapan opened #2 "Add CNCF CLA check"

[2019-01-04 04:47] leakingtapan opened #6 "Implement dynamic provision support"
# Option 1
User create PVC, its creation will trigger the driver to create a NEW EFS filesystem. The storageclass will be defined as follows:

## StorageClass
[code]

## Open question
* How to configure the driver to create EFS mount targets for each availability with user defines subnets and security groups?

# Option 2 (Preferred)
User creates PVC, its creation will trigger the driver to provisi

[2019-01-12 18:41] leakingtapan opened #7 "Add RWX example"

[2019-01-15 21:20] #7 closed

[2019-01-16 01:44] mwilbz opened #10 "Support Kubernetes 1.11"
Right now it seems that only Kubernetes 1.13+ is supported by this driver, but my team is using Amazon's EKS, [which only supports up to Kubernetes 1.11](https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html). Is it possible for this driver to support 1.11? I tried on our cluster just to see if I could resolve the issue, and get this error in the test pod's events:

[code]

I did

[2019-01-17 17:41] leakingtapan commented on #10
@mwilbz the driver generally works on any k8s version that CSI 0.3 is supported. Since CSI spec itself involves really quick and mount option is the one feature that is missing in CSI 0.3 and is added recently in CSI 1.0 which requires k8s v1.13.

Given that, I would recommend wait for [EKS support for k8s v1.13](https://github.com/aws/containers-roadmap/issues/30), if you don't want to maintain y

[2019-01-17 19:00] mwilbz commented on #10
@leakingtapan thank you for the quick and detailed response!

Our use case: We are creating a brand new EKS cluster and wanted a way to mount EFS volumes to pods automatically. If support for 1.12 or 1.13 existed for EKS we likely would have tried to use this driver, but in the meantime we've found a workaround by mounting EFS onto our nodes and using Kubernetes' `local` volume type.

Thanks again

[2019-01-17 19:00] #10 closed

[2019-01-18 18:12] leakingtapan opened #11 "Update manifest files"

[2019-01-23 00:16] #11 closed

[2019-02-05 21:01] leakingtapan opened #13 "Add sanity test"
Depends on #6 since the sanity test framework doesn't support testing node service standalone.

[2019-02-07 00:10] leakingtapan opened #14 "Switch to use klog"
Instead of glog

[2019-02-07 22:08] leakingtapan opened #15 "Update readme with example"
Add examples for:
* static provisioning
* mount option - encryption in transit
* multiple pod read write many

[2019-02-08 04:56] leakingtapan opened #16 "Transfer ownership to kubernetes-sigs as sig-aws subproject"
The intent of this pull request is to complete the steps necessary to migrate aws/aws-efs-csi-driver repository to k8s-sig-aws as a subproject `github.com/kubernetes-sigs/aws-efs-csi-driver`.

The steps below use rules for [new](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-new-repositories) and [donated](https://github.com/kubernetes/co

[2019-02-08 17:22] d-nishi commented on #16
/assign @d-nishi

[2019-02-08 17:26] d-nishi commented on #16
received lazy consensus from +8 folks in SIG-AWS meeting held on 02/08/2018

[2019-02-08 17:28] leakingtapan commented on #16
PR for the code of conduct change: #17

[2019-02-11 19:26] leakingtapan opened #19 "Add documentation about EFS storage capacity"
The storage capacity of EFS doesn't really matters since its an elastic filesystem that don't enforce any capacity. This value could be more meaningful when storage quota is supported.

[2019-02-11 19:38] #15 closed

[2019-02-12 00:38] d-nishi commented on #16
@leakingtapan - please close this issue as the subproject is going to Kubernetes SIG AWS and has nothing to do with AWS.

Also, this repository does not allow anyone other than AWS employees to contribute so I am not allowed to be assigned to any issue.

[2019-02-12 06:18] #16 closed

[2019-02-13 17:36] #14 closed

[2019-02-13 19:34] #19 closed

[2019-02-21 06:05] leakingtapan opened #25 "Add version command"
`./aws-efs-csi-driver --version` should return version with following information in Json format including:
* git commit sha
* driver version
* go compiler version
* build date
* Platform OS and Arch

[2019-03-13 05:36] leakingtapan opened #27 "Upgrade to CSI 1.0"

[2019-03-23 21:27] leakingtapan opened #31 "Integration with k8s liveness probe"
**Is your feature request related to a problem? Please describe.**
See https://github.com/kubernetes-csi/livenessprobe for more details

[2019-03-23 21:30] leakingtapan opened #32 "Add e2e tests"
**Is your feature request related to a problem? Please describe.**
We should add e2e test for supported features:
 - [ ] static provisioning
 - [ ] encryption in transit

[2019-03-24 21:35] leakingtapan opened #33 "Combine driver manifest files into one"
**Is your feature request related to a problem? Please describe.**
So that use can refer to a single manifest file using URL to deploy the driver.

[2019-03-28 17:32] Jeffwan opened #34 "Pod keeps waiting and can not be created."
/kind bug

**What happened?**

Pod keeps waiting and can not be created.

 kubectl describe pod efs-app
[code]

kubectl logs -f efs-csi-controller-0 -n kube-system efs-plugin

[code]

**What you expected to happen?**
Mount pv and pvc successfully but can not start pod.

**How to reproduce it (as minimally and precisely as possible)?**
follow static provision guidance

**Anything else we need to kn

[2019-03-28 19:20] mwilbz commented on #10
@leakingtapan I noticed you've added support for Kubernetes 1.11! Thanks for acting on the feedback :)

[2019-03-31 01:43] leakingtapan opened #36 "Use skip attach"
**Is your feature request related to a problem? Please describe.**
https://kubernetes-csi.github.io/docs/skip-attach.html

[2019-03-31 15:32] #33 closed

[2019-04-03 17:42] leakingtapan commented on #2
/close

[2019-04-03 17:42] #2 closed

[2019-04-04 19:41] ReillyProcentive commented on #6
Is this issue supposed to cover automatically creating new EFS file systems based off of PVC requests? In that case can we cover the ability to set various characteristics of that file system based off of the PVC (probably via annotations)? Such as the ability to configure performance mode, throughput mode, life cycle, encryption etc.

[2019-04-04 20:52] leakingtapan commented on #6
Yes

Storageclass is the mechanism to pass filesystem configurations. See [EBS's storageclass](https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs) as an example. Do you have to use PVC annotation for this?

[2019-04-04 21:02] ReillyProcentive commented on #6
No, storageClass should be sufficient for us.

[2019-04-16 14:25] wreed4 commented on #34
I'm having exactly the same issue. I thought it was IAM related, but that doesn't seem to be the case.  Any progress in your debugging?

[2019-04-16 19:07] wreed4 commented on #34
I fixed it!  It's an issue with the security groups on your EFS resource.  Make sure you add the security groups from the nodes/cluster/etc.  I used `eksctl` to create the cluster and I just added every security group it made.  So I'm not 100% sure which one did it.

[2019-04-16 19:26] Jeffwan commented on #34
@wreed4 Thanks! I also notice that's a security group issue. The time I create EFS and security group ids was populated after I select VPC and subnetId, actually that's default rather than the one created by eksctl.

We need to make sure Port 111 (TCP and UDP) and 2049 (TCP and UDP) for the NFS server.

The right security group is the one  *ClusterSharedNodeSecurityGroup*. It open all to host/pod

[2019-04-16 19:26] #34 closed

[2019-05-01 23:48] RevREB opened #42 "unable to add .spec.csi data to volumeclaimtemplates prevents use with StatefulSets"
/kind bug

[2019-05-05 23:42] leakingtapan commented on #42
AFAIK `volumeclaimTemplates` is used for creating multiple claims for provisioning new storage backends. I assume you are looking for reuse the same EFS filesystem for multiple pods in stateful set?

I tested it and it works. See the following spec as an example:
[code]

[2019-05-07 21:07] leakingtapan commented on #42
/close

[2019-05-07 21:07] #42 closed

[2019-05-09 16:00] leakingtapan commented on #13
/remove-lifecycle stale

[2019-05-17 12:05] djcass44 commented on #25
Hi I've opened #44 to add this

[2019-05-20 17:21] #25 closed

[2019-06-03 20:40] leakingtapan opened #45 "Update ServiceAccount, ClusterRole and ClusterRoleBinding name"
**Is your feature request related to a problem? Please describe.**
In order to run multiple CSI drivers within the cluster, they should use different names for ServiceAccount, ClusterRole and ClusterRoleBinding for the driver controller service and node service.

**Describe the solution you'd like in detail**
See EBS CSI driver's [manifest](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blo

[2019-06-11 18:35] leakingtapan commented on #27
/remove-lifecycle stale

[2019-06-18 17:27] wreed4 opened #46 "Create PV at subpath within filesystem"
**Is your feature request related to a problem? Please describe.**
Currently, it seems that the view of the csi driver is that when you make a PV using an efs handle, that PV should represent the entire EFS filesystem.  This means that if you create _two_ PVs pointing to the same efs handle, both PVs will contain all files on the filesystem and a file written to one PV will show up in another.

**

[2019-06-24 20:58] leakingtapan commented on #32
/remove-lifecycle stale

[2019-07-12 17:14] leakingtapan commented on #6
/remove-lifecycle stale

[2019-07-17 21:15] wongma7 commented on #27
/assign

[2019-07-17 21:24] wongma7 commented on #46
There definitely needs to be support for a `Path` field somewhere in VolumeAttributes equivalent to the `Path` field in an NFS PV VolumeSource.

/assign

[2019-07-18 01:56] wongma7 commented on #36
/assign

/remove-lifecycle stale

[2019-07-18 18:19] wongma7 opened #50 "Update to latest node-driver-registrar"
Use https://github.com/kubernetes-csi/node-driver-registrar as https://github.com/kubernetes-csi/driver-registrar has been deprecated

[2019-07-18 18:19] wongma7 commented on #50
/assign

[2019-07-18 21:56] wongma7 commented on #13
/assign

I opened https://github.com/kubernetes-csi/csi-test/pull/208. I don't see why the tests require the driver to have CONTROLLER_SERVICE, it's supposed to be optional.

[2019-07-18 22:02] wongma7 commented on #32
/assign
I'll write tests.
Integrating them with CI is a different story.

[2019-07-19 00:54] wongma7 commented on #32
Running upstream e2e tests works, but we should skip Disruptive for now.
"static provisioning", we get for free.
"encryption in transit", maybe, depending on how much we want to test. Is checking that mount option "tls" is present sufficient?
[code]

[2019-07-19 05:54] leakingtapan commented on #32
SGTM. Let's create a different issue to track this if you are going to focus on e2e test case for this issue.

[2019-07-19 06:47] leakingtapan commented on #31
/remove-lifecycle stale

[2019-07-19 17:40] wongma7 commented on #32
'should concurrently access the single volume from pods on different node' will cover RWX mode from multiple pods.

Will look into other ways to verify traffic is actually encrypted. May be tricky, might need to start a privileged pod on the node to for example check if there is an stunnel process for the mount

[2019-07-23 00:02] wongma7 commented on #6
We'll also need to call CreateMountTarget: https://docs.aws.amazon.com/efs/latest/ug/API_CreateMountTarget.html . This will be trickier because the driver needs to know the VPC kubernetes nodes are in. It also needs to pick a subnet to add the mount target in. Optionally, it takes security group & IP address args. The security group must allow inbound NFS traffic, maybe the driver should be respon

[2019-07-24 04:24] #27 closed

[2019-07-24 04:56] #36 closed

[2019-07-24 04:56] #50 closed

[2019-07-24 04:57] leakingtapan opened #56 "Integrate e2e test with prow"
**Is your feature request related to a problem? Please describe.**
Integrate e2e test with prow

[2019-07-24 04:58] leakingtapan opened #57 "Add Prow test result to testgrid"
**Is your feature request related to a problem? Please describe.**
Add Prow test result to testgrid.
Similar to [EBS CSI driver](https://testgrid.k8s.io/sig-aws-ebs-csi-driver#Summary)

[2019-07-24 05:33] leakingtapan opened #58 "Add node selector for linux node only"
**Is your feature request related to a problem? Please describe.**
Since the driver won't work on Windows, we need to add node selector to driver manifest to only deploy it linux nodes.

[2019-07-24 06:30] leakingtapan commented on #56
/assign

[2019-07-24 08:43] abramovi opened #60 "Error on efs-csi-driver-registrar"
/kind bug

**What happened?**
When new node is starting - I am getting the following error from the efs-csi-node pod:

Filter
 I0724 08:34:46.315856       1 main.go:138] Version: v0.4.2-2-ga8fd229d
I0724 08:34:46.315904       1 main.go:145] Attempting to open a gRPC connection with: "/csi/csi.sock"
I0724 08:34:46.315912       1 connection.go:69] Connecting to /csi/csi.sock
I0724 08:34:46.316091

[2019-07-24 09:49] tomerb78 commented on #60
same here...

[2019-07-24 17:33] wongma7 commented on #60
README was just updated, the latest build from `master` won't work with kubernetes versions below 1.14. In particular the error you're seeing is incompatibility between CSI 0.3 and CSI 1.0. Please use v0.1.0 of the driver instead, it will continue to work.

[2019-07-24 17:36] leakingtapan commented on #60
Yep. See [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver#kubernetes-version-compability-matrix) for driver compatibility matrix.

[2019-07-24 20:07] wongma7 commented on #56
I had https://github.com/wongma7/test-infra/commit/49949ee679107503333526f8024bf5d45d18e26d#diff-f48e4b4f752ddaa4f1a9f7f939db0e3b WIP feel free to pick it up (I just copied the EBS one...)

[2019-07-25 04:09] leakingtapan opened #63 "Make EFS path creation behavior configurable"
**Is your feature request related to a problem? Please describe.**
With the [subpath feature](https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/46) implemented, user will be able to mount a subpath of EFS into container as persistent volume. However, user must create each subpath beforehand before they consume the PV from container. This creates a hard user experience to use the feature

[2019-07-25 04:12] leakingtapan commented on #56
ah, feel free to pick it up if you started already.
/assign @wongma7

[2019-07-25 04:13] leakingtapan commented on #45
This is only needed when dynamic provisioning is implemented.

[2019-07-25 04:25] #58 closed

[2019-07-25 18:09] wongma7 commented on #63
Good point about the permissions. It looks like Pod Info on Mount won't give us anything useful though, the UID there is just the pod unique UID: https://github.com/kubernetes/kubernetes/blob/665e76d97623447d13bb3b33b68591a985b49c9d/pkg/volume/csi/csi_mounter.go#L324.

We can't leverage fsgroup to change the GID owner of the directory on mount either, because EFS is RWX not RWO so fsgroup will hav

[2019-07-25 19:16] leakingtapan opened #64 "Add example for mounting EFS subpath"
**Is your feature request related to a problem? Please describe.**
Add example for mounting EFS subpath for PR:https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/52

[2019-07-25 19:16] #46 closed

[2019-07-25 19:16] leakingtapan commented on #64
/cc @wongma7

[2019-07-26 05:26] #13 closed

[2019-07-31 18:28] #31 closed

[2019-07-31 18:28] #45 closed

[2019-07-31 21:33] leakingtapan commented on #60
/close

[2019-07-31 21:33] #60 closed

[2019-07-31 21:34] leakingtapan commented on #6
punt this feature to after initial beta release

[2019-07-31 21:35] leakingtapan commented on #57
https://github.com/kubernetes/test-infra/pull/13618

[2019-07-31 22:36] leakingtapan opened #67 "Bump driver version to 0.2"
**Is your feature request related to a problem? Please describe.**
We need to bump the driver version to 0.2 for beta release [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/Makefile#L18)

/cc @wongma7

[2019-07-31 23:00] #64 closed

[2019-08-01 12:22] rfaircloth-splunk opened #68 "Support access by DNS name"
**Describe the solution you'd like in detail**
Allow the alternative means of identifying existing EFS file systems by user specified FQDN
EFS allows for access via user provided cnames this is useful to ensure consistent access should the EFS file system be deleted and recreated

**Describe alternatives you've considered**
na
**Additional context**
Add any other context or screenshots about the f

[2019-08-01 12:25] rfaircloth-splunk commented on #6
The number of endpoints available is limited by the number of IPv4 addresses available in the vpc subnet. We really don't need a per endpoint per request we need a pattern that utilizes a folder structure within a single EFS instance

[2019-08-06 23:30] #56 closed

[2019-08-07 20:26] leakingtapan opened #69 "Bump driver version to 0.2"
**Is your feature request related to a problem? Please describe.**
Bump driver version to 0.2

/cc @wongma7

[2019-08-07 20:42] wreed4 commented on #63
To be clear, this was the original intent of https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/46 .  Requiring the directory to exist prior to volume creation is really not helpful from a kubernetes standpoint.

[2019-08-07 22:00] #69 closed

[2019-08-07 22:01] leakingtapan commented on #57
This is done.
/close

[2019-08-07 22:01] #57 closed

[2019-08-07 22:19] leakingtapan commented on #63
@wreed4 Yep. We will address the issue here. Speaking of creating the directory dynamically. There are several use cases I can think of:
1. User manually create the PV and specify the path in the `spec.csi.VolumeAttributes` and path will be created dynamically even if it is not on EFS filesystem yet.
2. User creates PVC which will trigger PV creation dynamically. And the path will be set to a rand

[2019-08-08 04:46] leakingtapan commented on #6
Related to #63

[2019-08-08 05:01] leakingtapan commented on #6
@rfaircloth-splunk @ReillyProcentive @wreed4

I updated the issue description with two options to tackle this problem. PTAL

[2019-08-08 18:41] ReillyProcentive commented on #6
I think Option 1 is the best. I think the best approach would be if `StorageClass` objects create EFS shares and `PVC` would create volumes in the specified StorageClasses provisioned EFS share.

This would allow for users who wish to have PVC volumes all use the same EFS volume (similar to how the external storage EFS provisioner works today) to do so while also allowing for creating a single EFS

[2019-08-13 05:11] chrisvdb opened #71 "Clarification of required security groups and roles/permissions for EFS CSI driver"
The documentation currently states:

It would be very useful if this could be extended with some more detail on the setup of the security groups (IN/OUT port(s), end points) and access policy (roles, permissions), or at least a pointer to that documentation on the AWS website.

[2019-08-13 22:26] leakingtapan opened #72 "Upgrade to golang 1.12"
**Is your feature request related to a problem? Please describe.**
Upgrade to golang 1.12

[2019-08-13 22:51] leakingtapan opened #74 "Migration to use shared testing orchestration framework"
**Is your feature request related to a problem? Please describe.**
Migration to use shared test orchestration framework. We will develop a shared test orchestration framework that contains the code for creating/tearing down test clusters (EKS and Kops), and for setting up drivers for testing. We should migrate to use the new framework once it is ready.

**Additional context**
This is independent o

[2019-08-14 00:26] leakingtapan commented on #74
Related to: https://github.com/aws/aws-k8s-tester/issues/48

[2019-08-14 00:26] leakingtapan commented on #74
/cc @wongma7

[2019-08-14 07:08] khteh opened #76 "no matches for kind "CSIDriver" in version "storage.k8s.io/v1beta1""
/kind bug

**What happened?**
Applying the manifest from master on AWS EKS running on version `v1.13.7-eks-c57ff8` bumps into the error.

**What you expected to happen?**
Successfully applied the manifest without any error.

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
[code]
-

[2019-08-14 18:47] leakingtapan commented on #76
That's because `CSIDriver` CRD move to be built-in since 1.14: https://kubernetes-csi.github.io/docs/csi-driver-object.html#changes-from-alpha-to-beta

This is also one of the reason that master branch only works with 1.14 as documented in the compatibility [matrix](https://github.com/kubernetes-sigs/aws-efs-csi-driver#kubernetes-version-compability-matrix)

[2019-08-15 00:09] #76 closed

[2019-08-20 04:51] #72 closed

[2019-08-21 16:46] #67 closed

[2019-09-05 04:01] leakingtapan opened #80 "Use Kustomize for manifest file customization"
**Is your feature request related to a problem? Please describe.**
Use Kustomize for manifest file customization

Similar to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/pull/360

Ref

*  https://github.com/kubernetes-sigs/kustomize

[2019-09-06 20:35] leakingtapan opened #82 "Add support fo IAM for Service Account"
**Is your feature request related to a problem? Please describe.**
Similar to https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/361

[2019-09-06 20:35] leakingtapan commented on #82
This is only needed until dynamic provisioning is implemented

[2019-09-10 07:35] chrisvdb opened #83 "Performance of aws-efs-csi-driver vs. aws efs provisioner"
We're currently using the AWS EFS Provisioner (https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs) in a production environment. The driver works perfectly (after some initial tinkering) except that performance is abominable (several minutes to copy ~60MB file from instance to EFS and several seconds to do a directory listing).

I would like to understand if aws-efs-csi-dr

[2019-09-10 17:19] wongma7 commented on #83
The main difference is that the provisioner mounts using NFS and this driver uses the EFS mount helper. Documentation makes no claim about one performing better than the other--the performance depends mostly on the mode of your filesystem, Bursting Throughput or Provisioned Throughput: https://docs.aws.amazon.com/efs/latest/ug/performance.html. If you're seeing "abominable" performance, you may be

[2019-09-11 20:16] JustinPlute opened #84 "Does the EFS CSI Driver work with an EFS in a different vpc-peered AWS account?"
I see examples with just the `volumeHandle` as the EFS ID, but would imagine you'd need the configuration to supply the EFS mount IP address?

Per https://docs.aws.amazon.com/efs/latest/ug/manage-fs-access-vpc-peering.html, "You can't use DNS name resolution for EFS mount points in another VPC. To mount your EFS file system, use the IP address of the mount points in the corresponding Availability

[2019-09-15 04:03] leakingtapan commented on #84
Currently the driver uses DNS name for EFS mount point resolution. Does the alternative from the aws doc works for you?

[2019-09-16 04:08] rplute commented on #84
No. I'll be using `fs-12345678` as an example of an EFS in another AWS account. Following the instructions, when I try to create a private hosted zone (eg., `fs-12345678.efs.us-west-2.amazonaws.com`), I get the following error:

[code]

I then create a private hosted zone not using amazonaws.com (e.g., `fs-12345678.efs`). I then create an A Record in this private hosted zone with the value of an E

[2019-09-16 17:38] #80 closed

[2019-09-19 02:02] chadlwilson opened #90 "docs: Clarify Kubernetes version compatibility and beta status for v0.2.0"
/kind documentation

**What happened?**

The current `README` and `CHANGELOG` don't make clear
- the Kubernetes version required for the recently released v0.2.0 version.
- whether the new `beta` status applies only to v0.2.0, or whether v0.1.0 is also considered stable enough to be `beta`.

Does v0.2.0 require Kubernetes 1.14? Is this the first release considered `beta`?

**What you expected to h

[2019-09-19 17:46] leakingtapan opened #91 "Add example pod for chmod new created EFS filesystem"
**Is your feature request related to a problem? Please describe.**
Add example pod for chmod new created EFS filesystem. This is necessary since new Amazon EFS file systems are owned by root:root and only the root user (UID 0) has read-write-execute permissions. And we don't want to enforce user to run container as root.

something like this:
[code]

[2019-09-19 20:41] leakingtapan commented on #90
Answered ur question as part of this PR: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/92 PTAL

[2019-09-20 18:40] #90 closed

[2019-09-21 00:33] chadlwilson commented on #90
Perfect - thank you!

[2019-09-21 10:52] brunojcm commented on #83
@chrisvdb I've just migrated an app whose attachments are now in an EFS volume using the CSI driver, it took me ~30 minutes to transfer all files (5.6GB) from the old EC2 instance to the new container/EFS mount, using SSH, same AWS Region.

About listing, this is what I get (`/usr/src/app/files` is an EFS volume):
[code]

I'd guess average file size is 2MB.

Haven't tried EFS provisioner, but the

[2019-09-25 09:43] Vedrillan commented on #63
I think the original intent is to mimic the NFS behavior and simply be able to set a path to mount in the target https://github.com/kubernetes/examples/blob/master/staging/volumes/nfs/nfs-pv.yaml, which is option 1 in your comment @leakingtapan

I suppose uid/gid and mode should be 0:0 0777, otherwise I do not see how it could work.

[2019-09-26 01:49] dszryan opened #93 "where is the link between a PVC and PV (and hence the EFS handle)"
/kind bug

not sure this is a bug or a gap.

when creating multiple EFS storages, you can provide their hanldes at a PV level.

but i fail to see where a PVC is attacted to a particular PV?
all the examples link a PVC to s storage class but not a PV??

your urgent help would be greatly appreciated

+RD

[2019-09-26 02:35] wongma7 commented on #93
Normally, kubernetes will automatically bind a PVC to any PV that satisfies the PVC's requirements.

But if you want to bind a PVC to a particular PV, you may make use of the `volumeName` or `claimRef` fields. This is not documented well officially, so please see the answers here https://stackoverflow.com/questions/34282704/can-a-pvc-be-bound-to-a-specific-pv for details.

[2019-09-26 05:24] dszryan commented on #93
thank you !

[2019-09-26 05:24] #93 closed

[2019-10-18 17:38] abhilash-thumma opened #98 "Documentation link outdated"
/kind documentation

**What happened?**
The documentation link is outdated. Below link in readme no longer exists
github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master

**What you expected to happen?**
The link should be updated with kustomization.yaml

[2019-10-19 16:56] abhilash-thumma commented on #98
sorry, this is a mistake on my part.

[2019-10-19 16:56] #98 closed

[2019-10-20 22:38] #74 closed

[2019-10-24 20:10] whereisaaron commented on #6
Definitely Option 1. I think the more common pattern is PVCs are used for dynamic provisioning,  not StorageClasses.

1. **EFS filesystems should created using a CRD and an operator.** I think this is out of scope for the EFS driver and better handled by the [AWS Service Operator](https://github.com/aws/containers-roadmap/issues/456) that AWS is already working on.

2. Once you have an EFS filesys

[2019-10-28 05:38] leakingtapan commented on #6
@whereisaaron If understand correctly, are you suggesting modeling EFS dynamic provisioning as creating volume from **existing** EFS filesystem? That's what being proposed as option 2. And option 1 is saying modeling dynamic provisioning as creating a **new** EFS filesystem.

[2019-10-28 17:02] whereisaaron commented on #6
I guess I misunderstood the option 2 then @leakingtapan. It appeared to be using the StorageClass as the mechanism of dynamic provisioning rather than the PV? Or did it mean to say a PV would be created for an existing StorageClass like the example?

I think @ReillyProcentive is saying the same thing as me, and also said option 1, but I think that is because the examples are maybe confusing both o

[2019-10-30 19:47] stefansedich opened #100 "Unable to mount two folders on same EFS volume"
/kind bug

**What happened?**

When attempting to mount two different folders on the same EFS volume using multiple PV and PVCs the pod fails to start showing a timeout binding the volumes:

[code]

Binding works fine if I mount only one of the volumes, doesn't matter which one but as soon as there is >1 it fails.

**What you expected to happen?**

I would expect this to work as it did when I was

[2019-11-01 12:56] ShanHsl commented on #100
我也有同样的问题，我做了测试。发现问题在一个pod无法挂载多个pvc。

[2019-11-01 13:03] ShanHsl commented on #100
以下为我做测试的yaml和结果
不可以执行的yaml
[code]
报错信息如下：
  Warning  FailedMount  112s (x3 over 6m23s)  kubelet, ip-xxxx-xxxx-xxxx-xxxx.ec2.internal  Unable to mount volumes for pod "volume-debugger_airflow(8e802dfa-fbef-11e9-99a0-0eea81d2edb2)": timeout expired waiting for volumes to attach or mount for pod "airflow"/"volume-debugger". list of unmounted volumes=[airflow-logs]. list of unattached volumes=[airflow

[2019-11-01 13:09] ShanHsl commented on #100
pv和pvc：
[code]

[2019-11-02 06:50] leakingtapan commented on #100
I did some quick testing and able to reproduce the same. Taking a look

[2019-11-07 19:07] leakingtapan commented on #68
One way to achieve this will be adding a new optional `dnsName` field in `volumeAttributes`. A sample PV example will be:

[code]

This will be consistent with the FSx for lustre model. The `dnsName` will override the `volumeHandle` when provided. We will also need to bundle nfs client as part of the driver image and use nfs client for mounting with FQDN, since [efs mount helper](https://github.co

[2019-11-07 20:09] leakingtapan commented on #100
There wasn't even call into the driver for `NodePublishVolume` on pv2:

[code]

[2019-11-07 21:39] leakingtapan commented on #100
Tested consume two PVs each with different EFS filesystem ID and it works.

[code]

[2019-11-07 22:22] leakingtapan commented on #100
I think I figured out why. The cause is because both PVs are using the same filesystem ID as the `volumeHandle`. It makes perfect sense for a RWX volume to reuse the same `volumeHandle` value, since the volume is expected to be shared by multiple containers.

However, kubernetes is handing such case problematically. In the volume manager's desired_state_of_world cache, it figures out whether a vol

[2019-11-07 22:43] leakingtapan commented on #100
As required by CSI Volume [here](https://kubernetes.io/docs/concepts/storage/volumes/#csi), volume handle needs to unique identify the volume.

The fix will be modify subpath feature to be specifying the subpath through `volumeHandle` as such:

[code]

If I remove the `subpath` field under `volumeAttributes`, this will be a backward incompatible change unfortunately.

[2019-11-12 18:24] leakingtapan commented on #71
/remove-lifecycle stale

[2019-11-12 18:26] leakingtapan commented on #100
I'm going to finish up the PR to fix this issue @ShanHsl @stefansedich let me know if this approach works for u

[2019-11-13 22:39] wreed4 commented on #84
I will be in the same pickle.  Can we get an answer if there is a more supported way to do this than to edit the AMI or launch config of the nodes?

[2019-11-13 22:50] wreed4 commented on #6
The way I read the options, neither were complete.  Option one suggested the PVC creating a new filesystem for each PVC, but the storage class having the file system creation parameters.  It suggested that the PVC use the storage class to create a new filesystem every time.  Option two suggested the PVC creating sub-directories within the same filesystem, and the storage class _not_ having file sy

[2019-11-26 16:08] Vedrillan opened #103 "Volume mount fail after some time"
/kind bug

**What happened?**
I have pods setup to use an EFS volume via PV/PVC and it works as expected for the most part, but after usually a few days, pods created for new releases or cronjob start to fail to mount the volume, here is an event log of a failing pod as an example:
[code]

This error happens for every pods on the same node, so at this point the quickest work around I found is to s

[2019-11-26 18:47] leakingtapan commented on #103
Here is a similar error: https://forums.aws.amazon.com/thread.jspa?messageID=867294#867294

[2019-11-26 21:33] leakingtapan commented on #103
The second error is suspicious (see source code [here](https://github.com/aws/efs-utils/blob/master/src/mount_efs/__init__.py#L184-L201)):
[code]
So the question is do you have any available port available in the [20049, 20449] range by the time this issue happened to you?

[2019-11-26 21:37] leakingtapan opened #104 "Start efs stunnel watch dog"
**Is your feature request related to a problem? Please describe.**
EFS stunnel watch dog is not started properly due to efs mount helper is installed within container environment. We need to start the watch dog to recover stunnel from crash.

Error message:
[code]
That is because there is no proper init system present in the container. This will cause efs stunnel watch dog start to fail [here](htt

[2019-11-27 13:59] Vedrillan commented on #103
I will check the used ports next time I have this issue on a node.

However it is very likely that only the EFS driver is using this port range (20049-20449) so would that mean that for some reason it is opening a stunnel on each port but (maybe crashes and) never close them properly, until all the range is used and creates this issue?

[2019-11-27 19:37] leakingtapan commented on #103
Do you have simplified steps to reproduce the issue? This could be the reason, I would like to reproduce it first in order to confirm.

[2019-11-27 20:39] rplute commented on #84
I have not tested mounting yet via the EFS CSI Driver, but this announcement last week should now allow the creation of private hosted zone with an overlapping namespace, e.g., `<efs-id>.efs.<region>.amazonaws.com`. Then ideally all we'd need to do is put an A record of the EFS mount targets.

https://aws.amazon.com/about-aws/whats-new/2019/11/amazon-route-53-now-supports-overlapping-namespaces-fo

[2019-11-27 22:22] #100 closed

[2019-11-27 22:50] leakingtapan opened #105 "Add e2e test for mounting two folders on same EFS volume"
**Is your feature request related to a problem?/Why is this needed**
We had a fix for https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/100 we need a corresponding e2e test for it.

[2019-11-28 09:33] Vedrillan commented on #103
So the issue just happened again, I checked the node and indeed the entire port range is used by stunnel processes. Here is the result of `netstat -nltp` on the node: [faulty_node_netstat.txt](https://github.com/kubernetes-sigs/aws-efs-csi-driver/files/3900742/faulty_node_netstat.txt)

After a little bit of investigation I could find a way to reproduce the issue on my end. When a pod is created, i

[2019-11-29 00:58] leakingtapan commented on #103
Yep. Thx for the inform. I am able to confirm that `stunnel` is not kill after unmount.

The fix will be killing the stunnel process during `NodeUnpublishVolume` for the given `target` path.

The pid could be found using efs mount helper state file under `/var/run/efs/`:

[code]

[code]

[code]

[2019-11-29 01:50] leakingtapan commented on #103
Created issue for efs mount helper: https://github.com/aws/efs-utils/issues/35

[2019-12-02 11:31] TarekAS commented on #91
We're having this issue. What should we do?

[2019-12-02 19:05] leakingtapan commented on #91
@TarekAS what's the exact problem are you having now? Are you setting the container uid/gid to a different ID other than root and having issue accessing the EFS file system? What's the error messages?

[2019-12-03 19:48] rplute commented on #84
I was able to test the above and with AWS PrivateLink, not a VPC peer. Works!

[2019-12-03 19:55] aruizramon commented on #84
@rplute could you share some details? I'm trying to get it working for VPC peers.

- Both peered VPCs have DNS resolution and hostnames on
- The security groups attached to the target EFS volume allow NFS traffic on 0.0.0.0/0
- The private DNS record is <my-fs-id>.efs.<my-region>.amazonaws.com with the IPs of the mount points on the target volume across three AZs
- `dig <my-fs-id>.efs.<my-region>.

[2019-12-03 23:28] leakingtapan commented on #84
@aruizramon Does it work if you mount the EFS file system using efs mount helper?

[2019-12-04 01:22] ipnextgen opened #109 "Add IAM policy needed and K8S RBAC needed by the container in the documentation."
In order to  be able to create a role for the pod and assign right IAM policies. Also maybe specify needed RBAC rights.

This will help to deploy from a terraform kubernetes provider or any other similar tool.

Thanks

[2019-12-04 18:10] leakingtapan commented on #109
Since this driver is not talking to EFS for creating EFS filesystem yet. There is no actual IAM policy required at the moment.

See https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/82#issuecomment-529005188

[2019-12-05 09:19] khadrach commented on #91
yes in fact, the pod is running using a different user than root
while the owner of the mount efs is root and write permission only for root
this is making us unable to write to the drive from the pod

[2019-12-05 19:16] leakingtapan commented on #91
One way will be `chmod` the EFS directory that you want the non root pod to read/write to be owned by the uid or gid of the Pod. This can be achieved by doing it manually (by mounting the efs yourself) or create a one-off Pod as the example above. Will this approach work for you?

[2019-12-06 19:10] leakingtapan commented on #103
Confirmed from above. This issue will be fixed by: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/104

[2019-12-08 23:16] liangrog opened #110 "statefulset mount failed following mount_path example"
/kind bug

**What happened?**
Volume mount failed:

Note: the directory "efs-test" does exist on EFS and has a 777 permission.

[code]

**What you expected to happen?**
Volume should be mounted as per example

**How to reproduce it (as minimally and precisely as possible)?**
Instead of mounting to the pod as per example, mount it to a statefulset.
**Anything else we need to know?**:

**Environment

[2019-12-09 06:43] leakingtapan commented on #110
Thx for reporting the issue. What's your statefulset manifest?

[2019-12-09 06:43] leakingtapan commented on #109
/close as this is not an issue for now

[2019-12-09 06:44] #109 closed

[2019-12-09 13:51] Vedrillan commented on #103
Great news @leakingtapan, do you have any estimates on when the fix could be available?

[2019-12-09 19:25] leakingtapan commented on #104
I did some quick test by starting the **amazon-efs-mount-watchdog** from efs mount helper, there are several challenges when using the exiting watch dog. The watch dog is designed for a non-containerized environment where systemd or initd is required to monitor and restart the process if it crashes. And running systemd in a docker container is not trivial.

There are two ways I can think of to sol

[2019-12-09 19:26] leakingtapan commented on #103
@Vedrillan Please see the other thread about progress on implement the fix

[2019-12-10 08:39] zhouziyang opened #111 "support for arm64 nodes"
docker image and k8s manifest for arm64

[2019-12-12 07:32] leakingtapan commented on #111
High level changes could include:
* cross compile the driver for arm
* build container image for arm
* install efs mount helper for arm
* install nfs client for arm

@zhouziyang could you give some some use case about why do you need to run the driver on arm platform?

[2019-12-12 13:04] houdinisparks opened #112 "EFS volume cannot unmount because device is busy"
/kind bug

**What happened?**
During rolling updated, 1 of the pods is stuck in terminating status due to error below"
[code]

**What you expected to happen?**
Device is unmounted successfully.

**How to reproduce it (as minimally and precisely as possible)?**
 Not sure, this is the first time it happens.

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl vers

[2019-12-12 23:15] leakingtapan commented on #112
@houdinisparks how did you do the rolling update? And do you have the log for efs-node pod?

[2019-12-13 01:21] liangrog commented on #110
Please see below manifest that doesn't work:
[code]

Error messages will look like (Notice the mount path)
[code]

To make it work, you need to update the PV to
[code]
Then update stateful set  volumeMounts
[code]

As you can see, mount path in PV doesn't work.

[2019-12-13 01:38] houdinisparks commented on #112
below is my yaml file for the pod in question:
[code]

logs below:

[code]

[2019-12-16 04:46] houdinisparks commented on #112
**Update 16/12/2019**

1) unmount and remount from within pod

[code]

[2019-12-16 09:54] zhouziyang commented on #111
Hi @leakingtapan , I'm currently evaluating EKS Arm worker nodes (1.14); and efs csi seeming missing arm64 images. I created them myself ([docker hub] zhouziyang/aws-efs-csi-driver-arm64, zhouziyang/livenessprobe-arm64, zhouziyang/node-driver-registrar-arm64), and they worked as expected.
It would be much more convenient if officially supported!
Thanks!

[2019-12-19 19:59] tyrken commented on #110
The feature to have paths in the `volumeHandle` only hit master 10 days before your bug report in #102, and your `mount` error message looks very like what would happen if you used the new config in older code which doesn't understand it.

I haven't tried it myself yet (still reading up) but I suggest forcing a re-pull of actual `latest` container images or more easily dropping back to the old sty

[2019-12-19 21:13] tyrken commented on #6
FWIW the old non-CSI EFS provisioner (https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs) works like Option 2, where the EFS file system, mount points & network security groups are all sorted out by "something else" first.  In their case the necessary `fs-xxxx` id is passed in via a ConfigMap/container environment variable, rather than StorageClass parameters, but the eff

[2019-12-26 03:50] leakingtapan commented on #63
/remove-lifecycle stale

[2019-12-28 16:36] stefansedich opened #115 "Timeouts binding to volume on same node"
/kind bug

**What happened?**

Have started seeing the `timeout expired waiting for volumes to attach or mount for pod` error when a pod is being restarted and it lands on the same node after I let things sit for some time. This is only recent and it appears ever since I updated to the latest EKS AMI but I cannot prove that for sure at the moment (still digging deeper).

I can have a pod binding /

[2019-12-28 17:13] stefansedich commented on #115
Checked the node in question, saw some dangling nfs mounts which I unmounted, but even after that no mounts are working on the node in question.

[2019-12-28 18:05] stefansedich commented on #115
Looking at the node where things are failing I am seeing the following in dmesg too, I am not overly familar with debugging this does anyone have any more tips?

[code]

[2019-12-29 00:54] leakingtapan commented on #115
From what you said, are you using `tls` for encryption in transit? And do you see the stunnel process in the  `efs-plugin` container of the `efs-csi-node-` pod?

[2019-12-29 01:30] stefansedich commented on #115
@leakingtapan yes to TLS, I see no stunnels at all, if I manually jump into the csi pod on that node and run ` mount -t efs -o tls fs-xxx:/ /mnt/foo` it mounts without issue, however using a pod with a pvc I see nothing happen at all apart from a timeout.

I would expect that after rebooting the pod I could mount volumes again? what else could be broken here? I am seeing the same behavior on all o

[2019-12-29 02:40] stefansedich commented on #115
BTW this is the only output I see from a freshly restarted efs-plugin container on the node with issues:

[code]

[2019-12-29 05:39] leakingtapan commented on #115
what’s the kubelet version of both worker nodes( working one and not working one)? Since mount operation is called from kubelet, do you have kubelet logs for both cases?

[2019-12-29 05:50] stefansedich commented on #115
@leakingtapan both running v1.14.9-eks-c0eccc, I have logs just let me know what I need to provide, I looked at api logs and could not find anything initiallly odd. I am leaving this cluster running as is so would love to try work out what is wrong also happy to jump on a zoom or something to debug.

[2019-12-29 22:42] leakingtapan commented on #6
Yep. That's my intention as well.

[2019-12-29 22:58] leakingtapan commented on #115
Ah, I might know the reason why. This seems related to https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/100 which is the issue you reported a while back. And the fix is only in master branch for now

What's your PV specs that uses the same EFS volume for two PVCs?

[2019-12-29 23:24] stefansedich commented on #115
This is definitely odd as I have no issues in another cluster. In this case
there is no binding at all to the folder, I can successfully bind it if I
pin my pod to node B but it never works pinned to node A.

Node A is unable to mount any EFS volume the efs-plugin never sees an
NodePublishVolume no matter what I do. If I terminate the instance and let
a new one come up things will be fine but afte

[2019-12-29 23:27] stefansedich commented on #115
To add too this is not a duplicate PVC or path it is a new test PV/PVC and
path that nothing is bound too anywhere.

On Sun, Dec 29, 2019, 3:23 PM Stefan Sedich <stefan.sedich@gmail.com> wrote:

[2019-12-30 18:23] #104 closed

[2019-12-30 18:32] leakingtapan opened #116 "Add helm chart"
**Is your feature request related to a problem? Please describe.**
Add helm chart

[2019-12-31 06:33] otakumike opened #117 "Established NFS connections hang after network connectivity interrupted"
/kind bug

**What happened?**
One of our nodes had a very brief failure in which Calico seemed to restart. We're not sure of the root cause here, but momentarily Calico was lost to us and then healed itself:

[code]

After Calico failed, the EFS CSI daemonset running on this node reported an issue connecting to the unix socket:

[code]

Even though Calico came back up a few seconds later and the n

[2020-01-02 19:16] stefansedich commented on #115
@leakingtapan figured I would fire up the latest dev build on one of the bad nodes to see if that helps but it made no difference. Still no NodePublishVolume being called on the plugin, I take there is some bad state in kubelet somewhere causing this not to be called but so far I cannot find what it could be.

[2020-01-02 21:43] leakingtapan commented on #115
I suspect it something to do with kubelet. But you also mentioned both are using `v1.14.8-eks-b8860f`, which is surprising. What's the AMI you are using? Have you find any differences between the two AMIs?

[2020-01-02 21:46] stefansedich commented on #115
@leakingtapan all nodes are running the same AMI which is the latest `ami-0c13bb9cbfd007e56` in us-west-2. Also surprising to me, today I had to keep moving forward so brought up new nodes in all our clusters but it is likely to stop working again within a a day or so.

I will look at setting more verbose logging for kubelet so I can see if that gives me any more clues as right now I am all out of

[2020-01-03 07:18] leakingtapan opened #118 "Upgrade to CSI 1.2 spec"
**Is your feature request related to a problem? Please describe.**
Upgrade to CSI 1.2 spec

[2020-01-07 08:13] FrankieLi opened #119 "Fails to connect to EFS when PVC uses non-default (kube-system) namespace"
/kind bug

**What happened?**

When I try to use a PVC created in namespaces other than where `aws-efs-csi-driver` is installed (kube-system), only *one and only one pod* may successfully connect to the EFS volume. The remaining fails with mount error:

-------Error starts-------------------
[code]
-------Error starts-------------------

**What you expected to happen?**

I expected multiple nodes

[2020-01-07 17:35] stefansedich commented on #115
@leakingtapan I cant explain it fully but our clusters were running 1 replica of opa wrongly, ever since I re-configured to run multiple instances over AZs I am yet to see this issue and the cluster has been solid with no EFS issues since the last time I brought up new nodes.

I am closing this off for now and will monitoring things going forward.

[2020-01-07 17:35] #115 closed

[2020-01-08 19:00] leakingtapan commented on #119
Seems it times out during the mount, do you have the log for the `efs-csi-node-xxx`? Since it is deployed as daemonset, you need to find the log on which node the application pod is scheduled to .

And does the same setup works for you with `default` namespace?

[2020-01-09 02:29] FrankieLi commented on #119
Found the problem. It seems that my system was spilling over into a different availability zone, and the EFS was not setup for both zones. Thank you!

[2020-01-09 02:29] #119 closed

[2020-01-12 06:26] dtenenba opened #121 "cannot mount read-only volume in pod"
/kind bug

**What happened?**

I wanted to mount an EFS-backed volume read-only in a pod. My pod remained in `ContainerCreating`, never changing to `Running`.

**What you expected to happen?**

Expected the pod to enter the `Running` state and mount the volume read-only

**How to reproduce it (as minimally and precisely as possible)?**

I installed the driver per the README in this repo. I was abl

[2020-01-13 16:29] infa-ssaurabh opened #122 "efs csi driver doesn't work with pod having tolerations"
/kind bug

**What happened?**
When pod doesn't have tolerations, the efs is mounted successfully as pvc. But when we have tolerations in pod(for specific reasons) the pod goes in "ContainerCreating" status with error:
driver name efs.csi.aws.com not found in the list of registered CSI drivers

**What you expected to happen?**
Pod should run as expected with efs mounted as pvc when tolerations are

[2020-01-13 20:25] wreed4 commented on #63
@leakingtapan I actually believe both use-cases you outline above are useful and should both be possible, where the second is a special case of the first.

You bring up a really good point with the permissions though.  We will be mounting these volumes as different customers, so it is important that custA cannot read custB's data.  However we intend to solve this problem at the k8s level with PVCs

[2020-01-15 05:26] leakingtapan commented on #82
/remove-lifecycle stale

[2020-01-17 21:29] wreed4 commented on #6
Is there any sort of timeline for when this feature will be available?  We're having to do all kinds of workarounds because the csi driver does not dynamically provision volumes.

[2020-01-19 06:09] vigneshraaj opened #123 "pod has unbound immediate PersistentVolumeClaims (repeated 8 times)"
/kind bug

https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html
I followed the example and still stuck with pod creation pending. I referred to the previous bugs and added the proper inbound rule to the security group (ClusterSharedNodeSecurityGroup), but still it fails to create volume claim. Please refer to the logs below,

[code]

[code]

[code]

[code]

[code]
[code]

[2020-01-19 06:26] leakingtapan commented on #123
From:

Seem your PVC is not bound to the PV yet. What's the PVC and PV spec you are using?

[2020-01-19 07:00] vigneshraaj commented on #123
Here is my PV and PVC specs
[code]

[2020-01-19 19:12] leakingtapan commented on #123
The access mode needs to match for both pvc and pv. You need to change the pvc accessModes to ReadWriteMany to it to bind

[2020-01-19 22:02] #84 closed

[2020-01-20 06:57] vigneshraaj commented on #123
@leakingtapan Thanks, that worked like a charm.

[2020-01-20 06:57] #123 closed

[2020-01-22 20:35] otakumike commented on #103
I'm still seeing this problem on the latest dev release.

It looks like the docker image for the dev overlay (chengpan/aws-efs-csi-driver) hasn't been updated with the very latest commit. Based on the time of the last change of the image, I believe it's running https://github.com/kubernetes-sigs/aws-efs-csi-driver/commit/4385428bbd260c3538ded86a6e9c9093ddf58728 (Dec 30), when it should be  running

[2020-01-22 21:14] leakingtapan commented on #103
please try amazon/aws-efs-csi-driver:latest this contains the latest build

[2020-01-24 00:49] leakingtapan opened #124 "Integration with EFS access point"
**Is your feature request related to a problem? Please describe.**
EFS launched access point: https://aws.amazon.com/about-aws/whats-new/2020/01/amazon-elastic-file-system-introduces-efs-access-points/. This provides fine granular access of efs mount point using IAM roles. We need to integrate this with the driver.

[2020-01-28 09:19] Amos-85 commented on #121
Hi @dtenenba  ,
I've deal with same issue yesterday,
there is few things I suggest you to check:
1)   efs-plugin container logs
2)   verify you set the same identical root folder of kubelet in the daemonset of the efs (efs-csi-node)

[2020-01-28 13:04] Amos-85 opened #125 "securityContext doesn't applied when creating pvc"
/kind bug

**What happened?**
Deploy Hashicorp [vault helm chart ](https://github.com/hashicorp/vault-helm) that include this `securityContext` below without the specified uid/gid ( the /vault/data folder created by root ):
[code]

**What you expected to happen?**
mount efs persistent volume with the right `securityContext` attributes
**How to reproduce it (as minimally and precisely as possible)?

[2020-01-28 17:37] leakingtapan commented on #125
Thx for reporting the issue. What uid/gid of the container do you see when "securityContext doesn't applied when creating pvc"? And I'm assuming you are setting the security container to the csi driver? Could you clarify with more info like the pod spec and logs

[2020-01-31 03:20] adammw commented on #104
@leakingtapan I'm seeing this behaviour still on `amazon/aws-efs-csi-driver@sha256:2ebe856c6fa58b63b45f011f562c25a61aca6b54f479f5eb4b636f649ea58fe0`, which should have been after your fix was merged. Any ideas?

[code]

[2020-01-31 03:28] adammw opened #126 "Redirect EFS mount logs to stdout"
**Is your feature request related to a problem?/Why is this needed**
EFS mount helper primarily logs to disk at `/var/log/amazon/efs/` inside the container, making it difficult to view.

/feature

**Describe the solution you'd like in detail**
The default entrypoint of the efs plugin docker container should watch/tail for any files in that directory and copy the output to stdout to be picked up by

[2020-01-31 03:34] adammw commented on #124
I believe this is just the mount.efs helper installed in the docker image is too old and needs to be updated.

[2020-01-31 03:46] adammw opened #127 "Support specifying IAM access keys to the mount helper"
**Is your feature request related to a problem? Please describe.**
Currently, the only way to mount with IAM credentials is to use the node's instance credentials.

**Describe the solution you'd like in detail**
Using [CSI StorageClass secrets](https://kubernetes-csi.github.io/docs/secrets-and-credentials-storage-class.html), support specifying a Kubernetes secret containing AWS credentials, which

[2020-01-31 05:59] leakingtapan commented on #124
Several things needed for this to happen:
* upgrade to the latest efs mount helper (as @adammw mentioned)
* add new field for access point ID in storageclass
* pass the access point ID to node service for efs volume mount
* efs csi node service needs to assume the role of container that is consuming the volume (this is the challenging part). Several things needs to happen here:
  * csi node servic

[2020-01-31 06:00] leakingtapan commented on #126
I brought this up with efs team and they should fix this on the efs mounter helper side.

[2020-01-31 06:02] leakingtapan commented on #127
Related to #124

[2020-01-31 06:05] adammw commented on #124
This currently works (with an updated mount helper) with `mountOptions`, although from a user-interface point-of-view, is not obvious.

If using the instance profile rather than container-dedicated IAM roles (less secure, but possible) I don't believe any extra logic is required as the mount helper will get the credentials from the instance metadata endpoint.

[2020-01-31 09:38] chmielas opened #128 "Livenessprobe ignores stderrthreshold flag"
/kind bug

**What happened?**
Not able to decrease log level for livenessprobe.
I want to decrease log level for livenessprobe, but it seems that argument `stderrthreshold` is ignored in `DeamonSet` Definiton. After definition update I still see logs on `info` level :

[code]

**What you expected to happen?**
To be able to decrease log level from info to error or warning

**How to reproduce it (as

[2020-01-31 18:02] leakingtapan commented on #128
Have you tired reducing the log verbosity using `- --v=4`, something like:

[code]

[2020-01-31 23:04] jieyu commented on #6
EFS recently added support for Access Point:
https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html#enforce-identity-access-points

Maybe another option is to dynamic provision PVs by creating access points in an EFS filesystem (instead of creating subdirectories)?

[2020-02-05 03:00] rimaulana commented on #110
I agree with @tyrken, I build my own image from the master branch, tried the sample manifest provided and it works like a charm

[2020-02-05 20:56] leakingtapan commented on #68
/remove-lifecycle stale

[2020-02-05 20:57] leakingtapan opened #130 "Stunnel reconstruction after driver crashes or restarts"
**Is your feature request related to a problem? Please describe.**
When TLS is enabled, there is a stunnel process got created. However, when the csi pod crashes stunnel processes got killed since they are part of the same container as csi pod. When csi pod restarts, if there were any volume mount left, csi driver should reconstruct the stunnel processes so that any existing connect to EFS is reta

[2020-02-06 13:11] chmielas commented on #128
I tried also with verbosity `- --v=4 ` but log level still remains on the same level.

[2020-02-10 14:24] Amos-85 commented on #125
Thanks for response @leakingtapan ,
the uid/gid of the container is:
[code]
pod spec:

[code]

**pod logs:**
[code]
**/vault folder**
[code]

[2020-02-13 16:52] nithu0115 opened #131 "Support for EFS access point"
**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

EFS recently released support for IAM authorization and Access points.

https://aws.amazon.com/blogs/aws/new-for-amazon-efs-iam-authorization-and-access-points/

[2020-02-13 16:54] nithu0115 commented on #131
/kind feature

[2020-02-13 17:47] nithu0115 commented on #131
I think bumping up the `amazon-efs-utils` version should solve this issue.

cc: @leakingtapan @wongma7

[2020-02-13 17:54] leakingtapan commented on #131
duplicate of https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/124

/close

[2020-02-13 17:54] #131 closed

[2020-02-13 23:42] nithu0115 commented on #124
/kind feature

[2020-02-18 13:10] radityasurya commented on #128
+1

Would be good to disable the logs too since it's flooding the logs

[2020-02-18 13:12] #83 closed

[2020-02-19 23:33] mikegirard commented on #122
Ran into this same issue. It has to do with the daemonset that is created for the driver:

[code]

Notice that the ebs driver started on all nodes, even though 2 of them have taints on them (used for things like jenkins only) whereas the efs DSet only hits the untainted nodes.

[2020-02-20 00:25] mikegirard commented on #122
Workaround until DaemonSet is updated (given standard instructions used with README):

[code]

and save that. You should see the daemonset update to show a full count of nodes.

[2020-02-20 05:26] leakingtapan commented on #122
This is a bug recently fixed on EBS csi driver. Please file a patch for fixing efs driver. Thx

[2020-02-20 06:51] leakingtapan commented on #110
/close
feel free to reopen if the problem still happens in latest image

[2020-02-20 06:51] #110 closed

[2020-02-20 17:03] mikegirard commented on #122
Thanks @leakingtapan. I had just installed the EFS driver and 'recently' installed the EBS csi driver - but apparently not recently enough.

Re-ran `kubectl apply -k "github.com/kubernetes-sigs/aws-ebs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master"`  and added that (along with efs version) to my operations stack documentation around checking for upgrades.

[2020-02-20 22:28] otakumike commented on #103
Just confirming that the updated image has fixed the problems I've seen with terminated pods not having their EFS mounts disconnected. Thanks @leakingtapan!

[2020-02-20 23:31] mikegirard opened #134 "Default log configuration is overly verbose"
/kind bug

Using published instructions with canned configs for installing the driver and starting the daemonset is VERY chatty. It's flooding my Elasticsearch instance with messages since I've implemented log aggregation across my instance.

Editing the daemonset to turn down the -v level is possible, but the liveness probe still spits out 2 lines on every probe.

I would expect the default confi

[2020-02-21 01:06] leakingtapan commented on #103
Thx for confirming.
/close

[2020-02-21 01:06] #103 closed

[2020-02-22 23:40] leakingtapan commented on #71
/remove-lifecycle stale

[2020-02-22 23:41] leakingtapan commented on #134
Related to: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/128

[2020-02-23 01:21] #130 closed

[2020-02-28 04:05] zorrofox opened #136 "Support China Region: cn-north-1 and cn-northwest-1"
**Is your feature request related to a problem?/Why is this needed**
Support China Region: cn-north-1 and cn-northwest-1

/feature

**Describe the solution you'd like in detail**
Support China Region: cn-north-1 and cn-northwest-1

**Describe alternatives you've considered**

**Additional context**
By now the POD always said:
Mounting arguments: -t efs fs-dxxxxxxx.efs.cn-northwest-1.amazonaws.com.

[2020-02-28 04:38] zorrofox commented on #136
It was resolved by using the dev version, thanks!

[2020-02-28 04:38] #136 closed

[2020-02-29 19:43] DmitriyStoyanov commented on #68
Faced with issue when eks used VPC with private dns and efs dns name cannot be resolved. Looks like adding ability to use specific dns name can help with the issue.

[2020-03-03 05:22] DmitriyStoyanov commented on #68
ha, my issue with unresolved dns name fixed by change of daemonset described here:
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/129/files

[2020-03-06 14:09] bnusunny opened #138 "support EFS in china regions"
EKS was launched in China regions last week. EFS CSI Driver v0.2.0 docker image contains old version of efs-utils. efs-utils added China region support from v1.19.

Can you please rebuild v0.2.0 image with the latest amazon linux 2 and release a new docker image?

[2020-03-06 14:18] jerry123je commented on #138
+1

[2020-03-06 21:19] leakingtapan commented on #138
You could use the docket image with latest tag for the latest rebuild.

[2020-03-07 00:57] bnusunny commented on #138
The latest tag does work. But it is built from master branch. Does it suitable to use in production?

[2020-03-07 01:09] leakingtapan commented on #138
It runs the same set of e2e tests as any versioned release. At least there is no breaking changes.

[2020-03-07 03:11] bnusunny commented on #138
Hope we can have a next release out soon. Some customers are worried about running on the latest tag, which is not pined to a specific version.

[2020-03-07 15:08] stevensu1977 commented on #138
+1

[2020-03-08 00:26] leakingtapan commented on #91
/remove-lifecycle stale

[2020-03-08 00:26] leakingtapan commented on #105
/remove-lifecycle stale

[2020-03-08 00:42] #116 closed

[2020-03-08 03:07] stevensu1977 commented on #138
@leakingtapan @bnusunny   I try chengpan/aws-efs-csi-driver:latest,  it's still not work :<, this image amazon-efs-utils version is 1.10,   so  I build  my image from master branch , it's use new amazon-efs-utils (1.21), now it's work .  if we can build new image and push to official EKS image ECR, that's great helpful to china user .

chengpan/aws-efs-csi-driver:latest shell information:

bash-4.

[2020-03-08 03:24] liangruibupt commented on #138
Run on Ningxia region:
"message": "rpc error: code = Unknown desc = Error response from daemon: Get https://602401143452.dkr.ecr.us-west-2.amazonaws.com/v2/eks/csi-node-driver-registrar/manifests/v1.1.0: no basic auth credentials"

"message": "rpc error: code = Unknown desc = Error response from daemon: Get https://602401143452.dkr.ecr.us-west-2.amazonaws.com/v2/eks/aws-efs-csi-driver/manifests/la

[2020-03-08 03:42] stevensu1977 commented on #138
@liangruibupt  I think you use wrong account id /ecr endpoint , China region EKS service have two official account id , cn-northwest-1 961992271922, cn-north-1 91830976355.

This is my dev kustomization.yaml,  I think chengpan/aws-efs-csi-driver:latest not fix it , so I build my image from master branch (CSI 0.3.0, amazon-eft-utils 1.21), it's work.

apiVersion: kustomize.config.k8s.io/v1beta1
kin

[2020-03-08 03:45] bnusunny commented on #138
The current workaround:

1. use the master branch - docker image "amazon/aws-efs-csi-driver:latest"
2. rebuild the v0.2.0 image with the latest efs-utils - docker image "awsguru/aws-efs-csi-driver:v0.2.1"

[2020-03-08 04:11] liangruibupt commented on #138
Your are right, I have change to use the 961992271922.dkr.ecr.cn-northwest-1.amazonaws.com.cn

- name: amazon/aws-efs-csi-driver
  newName: 961992271922.dkr.ecr.cn-northwest-1.amazonaws.com.cn/eks/aws-efs-csi-driver
  newTag: v0.2.0
- name: quay.io/k8scsi/livenessprobe
  newName: 961992271922.dkr.ecr.cn-northwest-1.amazonaws.com.cn/eks/csi-liveness-probe
  newTag: v1.1.0
- name: quay.io/k8scsi/csi

[2020-03-08 06:25] leakingtapan commented on #138
/close
as v0.3.0 is released: https://github.com/kubernetes-sigs/aws-efs-csi-driver/releases/tag/v0.3.0

[2020-03-08 06:25] #138 closed

[2020-03-08 09:20] bnusunny commented on #138
Thanks a lot!

[2020-03-08 21:34] otakumike opened #141 "EFS CSI driver can't mount successfully, keeps retrying"
/kind bug

**What happened?**
After a period of time where it is working successfully, an EFS CSI stops mounting new EFS volumes, but it keeps trying, resulting in dozens of stunnel instances that appear to be stuck.

I have a single pod in testing that creates 4 mounts on a single EFS volume (using subpaths), and I've been tearing that pod down and recreating it.

On the affected node, I see no a

[2020-03-11 05:07] otakumike commented on #141
Just adding that I've seen this again in our test cluster while re-deploying an app.

At 04:28 I created an update to the Deploy object that resulted in these new connections, which are failing to come online, as seen here in the pod's events:

[code]

Both the existing pod and the new pod in this updated deploy are on the same host. If I SSH to that host, I can see the existing (working) connecti

[2020-03-13 07:13] leeeboo opened #142 "The endpoints in China region are different from others."
The endpoints in China region are different from others.
It is end by "amazonaws.com.cn"

So, I got the error in pod event: Failed to resolve "fs-XXXXX.efs.cn-northwest-1.amazonaws.com" - check that your file system ID is correct.

[2020-03-16 20:19] leakingtapan commented on #111
/remove-lifecycle stale

[2020-03-23 19:09] hugoprudente opened #143 "nodeSelector for targeting nodes on amd64 arch not arm64 for multi arch clusters"
**Is your feature request related to a problem?/Why is this needed**
When deploying the CSI Driver on a Multi Architecture node x86_64 and ARM64 the deployment and daemonSet does not support ARM64 and deploy the pods causing CrashLoopBackOff.

/feature

**Describe the solution you'd like in detail**
As multi node architectures can be recurrent, adding nodeSelector specific would resolve this issue

[2020-03-24 17:45] MrNorm commented on #124
Hello! I was just wondering where this issue got to? I'd love to be able to use IAM for our EFS volumes. Thanks

[2020-03-24 22:07] leakingtapan commented on #124
@MrNorm could u add more details about ur use cases?

[2020-03-25 07:46] MrNorm commented on #124
@leakingtapan Sure thing - I'm looking to shift a number of web assets over to our EKS stack. Each web asset could have replicated pods and they all need access to a shared filesystem.

EFS + IAM at container/pod level, combined with access point mount options seemed a really good fit for this, as we can mount various EFS 'access points' and ensure the policy only allows access to containers/pods

[2020-03-25 09:04] guitarrapc commented on #128
helm chart also not specifying verbose level for liveness-probe.
It's happy if Values.yaml expose verbosity.
Temporally I'm using custom chart.

[2020-03-25 09:28] guitarrapc commented on #128
There's livenessprobe v2.0.0 released and health check begin/success logs are suppressed om default.

if you are using helm, just upgrade sidecar container image version from v1.1.0 to v2.0.0 will address this issue.

[code]

[2020-03-26 09:09] avbenavides opened #145 "Mounting subpaths does not work"
/kind bug

**What happened?**

Fails to mount EFS sub paths

**What you expected to happen?**
Mounting fails. Apparently the mount command is malformed (adds an extra ":" ) at the end.
Extract of Volume deployment descriptor
`        volumeHandle: fs-abc1234:/dir1
`

Becomes (from EFS CSI logs):

[code]

**How to reproduce it (as minimally and precisely as possible)?**
Try the mount sub path examp

[2020-03-26 09:10] vishal-swarankar-sdl commented on #138
@leakingtapan can you please update https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/kustomization.yaml as well with latest version?

[2020-03-27 23:06] cmcconnell1 commented on #112
Thanks for filing/posting this. it was very helpful.

Our process was as follows for our cluster which had hanging (missing EFS persistent volume) mounts on their nodes.  Hopefully this help others out.

A simple df command would hang on the EKS kube nodes.

running a ps -ef | grep umount showed over a thousand umount processes on the nodes
[code]

Which looked like this
[code]

then we needed to

[2020-03-30 19:29] otakumike commented on #117
/remove-lifecycle stale

[2020-04-02 09:59] snithish opened #146 "Publish Helm Chart to Repo"
**Is your feature request related to a problem?/Why is this needed**
Publish Helm chart as a repo, as this would make it easier to add it as a dependency in application
charts, reducing the amount of work that will need to be done in a script.

/feature

**Describe the solution you'd like in detail**
Chart published using Github Pages using [Chart Releaser](https://github.com/helm/chart-releaser)

[2020-04-05 00:23] Jeffwan opened #147 "incorrect mount option was specified - mount options doesn't work"
I have a pod with non root user to run. I plan to mount to the user's home disk. The problem that user doesn't have permission to write files because it needs `root` permission on volumes.

I plan to add mountOptions in the PV field and I assume this will use this options to mount the volume.

[code]

From the logs, seem options are applied to mount command, what I am curious is why they are `inco

[2020-04-05 17:59] leakingtapan commented on #147
Not sure if dir_mode and file_mode valid mount option to nfs client. Where do u see these two option?

[2020-04-05 18:00] leakingtapan commented on #147
And have you tried this https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/91#issue-495939761

[2020-04-05 18:35] Jeffwan commented on #147
@leakingtapan

I see a few different sources indicating these options are available for their storage. But I didn't find anything for EFS

Seems it can be used in PV for static provision and Storage class for dynamic provision.
https://github.com/kubernetes/kubernetes/issues/54610#issuecomment-347092965

I am wondering if that's because EFS doesn't support this. I found note [here](https://docs.aw

[2020-04-05 20:15] tclh123 commented on #145
After hours struggling, I find they didn't upgrade the stable yaml file. So the issue is because we are still using v0.2.0 instead of v0.3.0
Just use the base one, we should be fine.
[code]

[2020-04-16 23:14] wongma7 commented on #112
What version of the driver is it, 0.2.0 or 0.3.0?

[2020-04-17 03:46] leakingtapan commented on #146
Good idea! Let me know who want to help

[2020-04-17 03:47] leakingtapan commented on #118
/remove-lifecycle stale

[2020-04-17 03:47] leakingtapan commented on #82
/close

[2020-04-17 03:47] #82 closed

[2020-04-17 20:13] wongma7 commented on #122
/close

[2020-04-17 20:13] #122 closed

[2020-04-23 01:37] leakingtapan opened #151 "Bump test cluster version"
**Is your feature request related to a problem? Please describe.**
Bump test cluster version

[2020-04-24 10:42] asadullahrao commented on #124
Can anyone share the access policy with access endpoint, which i will add in my efs file policy. which ultimately accessible to my tasks.

[2020-04-24 21:52] wongma7 commented on #124
You should only need to give the driver ClientMount permissions to your access point https://docs.aws.amazon.com/efs/latest/ug/iam-access-control-nfs-efs.html. As noted above if your driver doesn't have its own aws identity it will inherit the instance profile of the node it's running on

RE: IAM policy of the driver:

I think we should keep the current behavior of the driver where it implicitly e

[2020-04-24 22:03] wongma7 commented on #124
The best option which I didn't see earlier would be to respect node publish secrets https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/127 and assume the role in the secret only at mount time

[2020-04-25 18:39] leakingtapan commented on #124
How is it going to work as the driver needs to handle multiple volumes, and each volume requires a different permission to be mounted? And also how about is secret rotation if secret object is used? What if customer need to use IAM for SA, would it cause any conflict?

[2020-04-27 21:41] 2uasimojo opened #152 "Please tag a new version"
/kind bug

Requesting a new tagged image (`release-0.4`) built against an `efs-utils` >= 1.23.

We will use `latest` for the time being, but would like to be able to use a "frozen" version as soon as feasible. Thanks in advance!

**What happened?**
When I try to use the `tls` `mountOption` the `mount` command fails with

[code]

**What you expected to happen?**
Mount works, my pod starts up, and I

[2020-04-27 21:55] Luwdo commented on #145
Using the base would mean you always get the latest tag. This is essentially the same as using the dev overlay.

A better option might be to make a new Kustomization resource that bases off of the base and just change the image Tag for aws-efs-csi-driver.

kustomization.yaml:
[code]
Then apply the folder you have this file in
[code]

I tried to do a bases on
[code]
but what I ran into is that an o

[2020-04-27 23:42] 2uasimojo commented on #147
@Jeffwan There's another option if you want control over ownership/permissions: access points. I've proposed a doc add describing how to make this work: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/153

Let me know if that works for you.

[2020-04-27 23:43] 2uasimojo commented on #91
Possibly related: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/153

[2020-04-28 01:19] 2uasimojo commented on #152
I don't think this is a bug, btw, but I'm not sure what it is.

[2020-04-28 13:35] jharrington22 commented on #152
I am able to replicate this issue with `v0.3.0`

[code]

[code]

[2020-04-28 23:27] leakingtapan commented on #147
Using access point (without IAM) sounds a good option. Does this work for you?

[2020-05-01 04:48] leakingtapan commented on #6
/remove-lifecycle stale

[2020-05-05 15:27] chmielas commented on #128
Thank you, after upgrade yo v2.0.0 issue is fixed.

[2020-05-05 15:27] #128 closed

[2020-05-08 21:22] wongma7 commented on #112
@cmcconnell1 do you know how the "hanging" mounts came about? I've not been able to reproduce this issue repeatedly triggering rolling updates on a deployment with 60 replicas.

[2020-05-08 23:30] cmcconnell1 commented on #112
Hey @wongma7

I was not 100% sure about the specific cause to the hanging mounts, but believe it was with the coding of our initial first pass at our full lifecycle deployment automation for EFS resources.

I.e.: I think something got stuck/hung (upon destroy) and not enough time was provided after tear-down before it was redeployed.  I confirmed this possibility with AWS EKS support, but we were

[2020-05-11 09:06] wanghao923 commented on #147
I try to use iam role but not work for me.

efs policy:
[code]

pv.yaml
[code]

[code]
Error message:

Warning  FailedMount       0s               kubelet, ip-10-205-94-181.cn-north-1.compute.internal  MountVolume.SetUp failed for volume "efs-pv" : kubernetes.io/csi: mounter.SetupAt failed: rpc error: code = Internal desc = Could not mount "fs-a0ff0e3d:/" at "/var/lib/kubelet/pods/83d8da2d-3a94-42

[2020-05-11 14:02] 2uasimojo commented on #147
@wanghao923 It looks to me like you're using an older version of the driver. Can you please confirm whether you're running `release-0.3` or `latest`?

[2020-05-12 03:53] wanghao923 commented on #147
It's ok if I use master branch. There are some error messages if I use branch release-0.3. My environments:
[code]
Error message:
[code]
Right DNS name is "fs-a0ff0e3d.efs.cn-north-1.amazonaws.com.cn", This is another error.

If I use version 0.3.0 for amazon/aws-efs-csi-driver in branch release 0.3, I can reproduce the error of
 yesterday.

[code]

Fortunately, These errors are fixed in the maste

[2020-05-12 08:28] tomkivlin opened #163 "Request ability to specify different path to kubelet"
**Is your feature request related to a problem? Please describe.**
When using some Kubernetes distributions e.g. RKE, the path to kubelet isn't always `/var/lib/kubelet` and so it would be nice for either the documented installation steps to include the steps to modify that path, or for the installation to automatically detect the path (or be told the path without needing to modify the node.yaml a

[2020-05-12 12:52] 2uasimojo commented on #147
@wanghao923 Good to hear. I've [asked for a new tagged release](https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/152) so we don't have to work against a moving target.

[2020-05-15 07:13] leakingtapan commented on #126
/remove-lifecycle stale

[2020-05-15 07:14] leakingtapan commented on #125
/remove-lifecycle stale

[2020-05-15 07:14] leakingtapan commented on #121
/remove-lifecycle stale

[2020-05-19 00:51] jqmichael commented on #126
I think the work-around below isn't too bad an option. And it also keeps the driver plugin log self-contained. The efs-plugin log output is already pretty long.

[code]

What do you think? @adammw

[2020-05-20 14:53] robwithhair commented on #124
Really looking forward to this functionality as my cluster is currently failing Pen Test due to lack of Access Point usage.

[2020-05-20 17:56] ossareh commented on #124
@robwithhair It seems possible to access EFS with access points; indeed the example here works almost perfectly for me: https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/kubernetes/access_points

What isn't clear to me is how to specify a service account for the driver; ultimately I want the driver to be able to use "elasticfilesystem:ClientRootAccess" to mount the access

[2020-05-20 21:05] 2uasimojo opened #167 "Unable to mount two access points on same EFS volume"
/kind bug

This is just like #100, but for access points.

**What happened?**
Pod fails to come up, eventually timing out waiting for mounts. Logs show only one mount was attempted.

**What you expected to happen?**
All file systems mounted; pod comes up.

**How to reproduce it (as minimally and precisely as possible)?**
- Create two PVs using [access points](https://github.com/kubernetes-sigs/aws

[2020-05-20 21:20] 2uasimojo commented on #167
#168 :arrow_up:

[2020-05-21 21:51] jqmichael commented on #117
@otakumike Do you mind showing us your PV spec? Want to check if you enabled TLS.

[2020-05-22 00:44] jqmichael commented on #141
@otakumike Appreciate the detailed logs! Very helpful.
I have some ideas and will go through your log one more time before repro.

[2020-05-25 02:58] leakingtapan commented on #167
Yes, the access point ID has to be part of `volumeHandle` to make kubelet aware of there is a different volume to be mounted instead of the mounting the same volume twice (which will be ignored by kubelet).

We need to define a proper `volumeHandle` semantic for both use cases:
* just the filesystem ID
* filesystem ID + subpath
* filesystem ID + access point

[2020-05-25 02:58] leakingtapan commented on #124
related to #167

[2020-05-26 07:40] otakumike commented on #117
sure, here's a slightly redacted example:

[code]

[2020-05-27 14:30] 2uasimojo commented on #167
I was afraid of that :( It's going to make it harder to make this backward compatible with the existing two-field syntax, because when we see a two-field input, we wouldn't know whether the second field is a path or an access point ID.

I suppose this means we have to require all three fields if you want to use access points, even if the `path` component is empty (as I suspect it would be most of

[2020-05-27 19:24] wreed4 opened #172 "tag 0.3.0 seems to deploy version 0.2.0"
/kind bug

**What happened?**
Reading the manifests, https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/kustomization.yaml points to v0.3.0, but the _tag_ v0.3.0 does not: https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/v0.3.0/deploy/kubernetes/overlays/stable/kustomization.yaml

This seems like a bug

**What you expected to happen?**
Tag

[2020-05-28 00:07] jqmichael commented on #141
@otakumike

Do you mind taking a look at "/var/log/amazon/efs/mount.log" on the CSI driver when it happened?

[code]

Specifically, I want to see what's the output of the `/sbin/mount.nfs4` command.

https://github.com/aws/efs-utils/blob/7b1f2d0f90afc5a6bfdf5522d5231eb8a91c184d/src/mount_efs/__init__.py#L918

[2020-05-28 00:09] jqmichael commented on #117
Thanks @otakumike

Do you mind pasting more log entries from the CSI Driver.

I want to confirm if the connection lost was from kubelet or CSI driver.
[code]

[2020-05-28 02:00] otakumike commented on #141
Unfortunately I don't have any logs of when it happened available now, but I can say that mount.nfs4 didn't return anything, it simply keeps running without ever exiting, that's what caused the root problem.

We actually ended up replacing this with our own CSI driver about six weeks after this issue was first opened. That new driver is based on this one, but where this driver calls out to the pyt

[2020-05-28 02:04] otakumike commented on #117
Sorry I don't have this anymore and as I mentioned in that other issue, we aren't using this driver anymore except for in a few to-be-migrated production environments, which I obviously don't want to test on :)

[2020-05-28 17:55] jqmichael commented on #117
Thanks @otakumike.

I think this particular issue is more rare comparing with the mount hanging one. I'll bring the other issue up to EFS team while closing this one until we can more reliably reproduce it.

Sounds good?

[2020-05-28 22:05] wongma7 commented on #167
I like your design, one simplification could be to keep {path} always the second field, i.e. be super strict about path and apid as "positional args", so whether it's two fields or three we can always assume we will get some variation of `{fsid}:{path}:{apid}` where everything past {fsid} is optional.

[2020-05-28 22:10] 2uasimojo commented on #167
Yup, I like that. I was trying to avoid the common access point case having an empty field (`{fsid}::{apid}`) but I think the simplicity of the ordering strictness is worth the tradeoff.

[2020-05-28 22:34] jqmichael commented on #141
The `Could not start amazon-efs-mount-watchdog, unrecognized init system` is red-herring.

It was emitted by the EFS mount helper where it only supports `Systemd` or `init` as process management system (EFS driver monitors the watch-dog directly).

https://github.com/aws/efs-utils/blob/7b1f2d0f90afc5a6bfdf5522d5231eb8a91c184d/src/mount_efs/__init__.py#L778

[2020-05-29 00:41] jqmichael commented on #141
@otakumike I cut an issue to EFS team.

Feel free to chime in over there.

https://github.com/aws/efs-utils/issues/62

[2020-05-29 19:32] jqmichael commented on #141
Quick update:

I synced up with EFS team and it wasn't clear what the root causes could be behind the mount hanging. We couldn't reproduce on our side.

Action items:
Both EFS and EKS team will continue to reproduce.
EFS team will discuss the proposal of adding timeouts to mount with retry (https://github.com/aws/efs-utils/issues/62).

Will update once we hear more.

[2020-05-29 19:56] otakumike commented on #141
If it helps, the failure to mount appears more likely with more volume turnover. For example, in our non-production cluster we saw this once every week, but in our production clusters (which see far fewer deployments) we saw this once every 6 weeks. We also noticed that this was more likely occur when a node was entering a cluster and receiving requests to mount several volumes at once. It was com

[2020-05-29 19:59] otakumike commented on #117
That's ok - thanks for checking. As I mentioned in the other issue we're using our own driver now which has so far been reliable, so no need to keep this issue open just for us.

[2020-05-29 22:44] jqmichael commented on #141
Thanks @otakumike

Can we have more details on your setup so that we can reproduce it?

For example:
node instance type
pod spec
pvc spec
pv spec

Thanks

[2020-05-30 04:40] leakingtapan commented on #172
Yes. the release in the ECR is a bit delayed than the actual driver release, that's one of the reason we switched to use dockerhub post 0.3 release for kustomize. Feel free to submit a patch to release-0.3 branch if this matters to u

[2020-05-30 05:21] leakingtapan commented on #141
Rewriting the efs mount helper in go is a good idea that I had been thinking as well. As lot of problems are related to this extra layer eg. mount timeout handling, stunnel process lifecycle management, log handling, tracking list of tls mounts . An exec mount helper just isn't ideal for managing long lived stunnel process. How much is the replaced CSI driver deviated from this one?

@otakumike

[2020-05-31 21:01] otakumike commented on #141
@jqmichael we use kops to provision our nodes, and saw this issue most recently on k8s v1.15.10:

(though I have seen it with 1.14 through 1.17)

PVC example:
[code]

pv spec:
[code]

And here's an example pod spec, but I've removed everything that has no bearing on EFS or storage
[code]

[2020-05-31 21:16] otakumike commented on #141
@leakingtapan I used the aws efs driver as the basis for our own version, but then it branches off pretty heavily so I wouldn't say it was very similar now. The major changes are:

- We write a mount record file to a hostpath that saves each mount that should be running, and read this on startup and periodically (bascially replacing the existing watchdog functionality). This ensured that when the

[2020-06-01 19:43] wongma7 commented on #117
/close

THX.

IMO since tls was not on this sounds like a generic NFS issue that *could* resurface even on another driver. Pls reopen if it does (hopefully not). It could be dangerous & tricky for the driver to decide when to umount -f, in case of data loss, and I am not sure if umount -l would help either because then the remount probably wouldn't succeed?

Not too familiar with calico but the cs

[2020-06-01 19:43] #117 closed

[2020-06-03 19:03] jqmichael opened #175 "zombie stunnel process stay indefinitely until the driver is terminated and pollute mount-watch logs"
/kind bug

**What happened?**
Overtime, we could see zombie process like `[stunnel] <defunct>` stay indefinitely until the driver is terminated.

[code]

**What you expected to happen?**
no zombie process exists.

**How to reproduce it (as minimally and precisely as possible)?**
Try create and delete the following spec for a couple of times.
[code]

**Anything else we need to know?**:
Looks like t

[2020-06-03 19:17] wongma7 commented on #141
I saw the same (or very similar) issue or by chance in PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/173#issuecomment-638385657. So it does seem to be random. I suspect it's an EFS serverside bug and/or maybe a nfs clientside kernel bug.

[code]

All mounts of the test filesystem failed on one node and mount processes built up. But mount of the same test file system succeeded on an

[2020-06-03 21:46] otakumike commented on #141
Really glad to hear this has been discovered elsewhere.

Yes that's right re our replacement, but with no consideration of `context`:

[code]

[2020-06-03 23:37] jqmichael commented on #172
It's a bug and it won't be fixed ever given tag is supposed to be immutable.

We will make ECR image available before any future releases (and we have one coming up soon).

[2020-06-04 00:11] leakingtapan commented on #172
We can still release v0.3.1 though

[2020-06-04 04:59] otakumike commented on #141
@wongma7 I thought it might be worth adding to this that you can most readily see this problem when a new EFS volume is created - it can take up to 10 minutes for the filesystem's DNS name to resolve across all availability zones.

We have an operator that creates an EFS filesystem and then goes ahead to use it immediately on five separate pods. We work across two zones, and pretty consistently se

[2020-06-04 16:42] jqmichael commented on #172
True. That's the same as releasing v0.4.0 or v1.0.0.

We will get the tag match in our next release.

[2020-06-04 16:46] jqmichael commented on #141
An interesting thought. I don't know how long DNS records are cached. If a backend host recycles while the DNS record pointing to the old one, it might explain the hanging.

Will ask EFS team for more information.

[2020-06-04 18:34] jqmichael commented on #141
Confirmed from EFS team that the EFS DNS always resolve to a fixed IP for the lifetime of a mount target (the backend EFS server might come and go but the IP address never changes).

[2020-06-05 07:53] zxkane commented on #146
There is an AWS managed charts repo(https://github.com/aws/eks-charts). It would be nicer to consolidate all charts related to EKS in same repo.

[2020-06-06 17:20] jqmichael commented on #141
I think I noticed a hanging mount as well. Not exactly sure how it was triggered. But it's a mount that's been active for a day or so and I tried to delete the pod and noticed the `umount` is stuck.

Any operation against that mount hangs. For example `ls /var/lib/kubelet/pods/c5c4ad5b-c9e5-4a84-a9ea-592c8c37a1d7/volumes/kubernetes.io~csi/efs-pv/mount`.

`strace` revealed it's stuck at `stat("/var

[2020-06-08 19:59] cscareerkaizen opened #176 "EFS CSI driver installation fails: efs-csi-node pod keeps restarting and then CrashLoopBackOff"
/kind bug

**What happened?**
I followed the AWS EKS doc: https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

Installed AWS EFS CSI driver on EKS
[code]

`efs-csi-node` pod becomes `RUNNING` for about half a minute, then it restarts and eventyally hit CrashLoopBackOff
[code]

After somewhile...
[code]

[code]

[code]

`efs-plugin` container's log is empty
[code]

SSH into the `efs-plugi

[2020-06-08 21:34] holypriest opened #177 "Unable to mount EFS volume inside EKS when using access points"
/kind bug

**What happened?**

Tried the example available at `examples/kubernetes/multiple_pods/specs` updating `pv.yaml` to include `accesspoint` field:

[code]

Running `kubectl apply -f specs`, the pods `app1` and `app2` get stuck at `ContainerCreating` state due to a mount error:

[code]
**What you expected to happen?**

The pods `app1` and `app2` should start normally.

**How to reproduce it

[2020-06-08 23:22] jqmichael opened #178 "All existing mounts hang after the EKS Driver container is replaced on a given node"
/kind bug

**What happened?**
After the EKS driver container is replaced (i.e. by terminating the driver process or upgrading the driver to a new image), all existing mounts on that node hang indefinitely.

**What you expected to happen?**
Existing mounts should still be functioning after a new EKS driver container is launched to the same node.

**How to reproduce it (as minimally and precisely as

[2020-06-08 23:23] jqmichael commented on #178
/assign @jqmichael

[2020-06-08 23:26] wongma7 commented on #178
mentioned this bug here "Plus there is one bug on our (driver) side that needs to be fixed first, something to do with how a newer version of the efs mount helper writes private keys that need to be persisted (but this one does not affect any released versions of the driver)." https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/166#issuecomment-640932009 (just linking for reference)

[2020-06-09 00:41] jqmichael commented on #178
We could the see behavior with he old version of efs-utils only if customer enabled IAM and access-point. But with https://github.com/aws/efs-utils/commit/41cd0384b0ea859b996f27ad0d646af9c27f8225, efs-utils started creating client cert for all TLS settings since it relies on client cert to report client info.

[2020-06-09 03:09] jqmichael commented on #141
No luck of reproducing. The mount is still functioning.

[2020-06-09 07:10] leakingtapan commented on #118
/close

fixed by #169

[2020-06-09 07:10] #118 closed

[2020-06-09 13:54] cscareerkaizen commented on #176
UPDATE:

Somehow installing csi driver using helm chart worked:
[code]

[2020-06-10 03:00] otakumike commented on #141
FWIW I never had a mount that was established which failed (outside of wider network issues that broke all mounts). Established mounts seem OK, but I can reproduce this pretty easily by creating and destroying a pod that uses a mount a dozen or two dozen times - generally in our test cluster 1 in 20 of those mounts will fail to establish. I hope that helps!

[2020-06-10 16:03] jpmolinamatute opened #180 "MountVolume.MountDevice failed"
/kind bug

**What happened?**
mount a volume failed, I get this error:

`MountVolume.MountDevice failed for volume "efs-persist" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name efs.csi.aws.com not found in the list of registered CSI drivers`

**What you expected to happen?**
the volume should have been mounted
**How to reproduce it (as minimally and preci

[2020-06-11 22:04] wongma7 commented on #142
What version of the driver are you using? This should be fixed in v0.3.0 via an update of aws-sdk-go.

[2020-06-12 15:22] kbasv opened #182 "Hidden processes (Possibly Zombie) on container restart"
/kind bug

**What happened?**
I was trying to reproduce https://github.com/aws/efs-utils/issues/69
On container restart some of the stunnels aren't restarted. On closer look at the state files of the stunnels that did not restart, mount-watchdog sees the PIDs of the corresponding stunnels from created by driver prior to restart to be running.
These PIDs do not show up on the process status when I

[2020-06-12 22:27] jqmichael opened #183 "Upgrading CSI driver broke all existing mounts (at least the non-tls ones)"
/kind bug

**What happened?**
If I upgrade CSI driver, say from v0.2.0 to v0.3.0, or simply delete the CSR driver pod and let it get replaced, all my existing mounts (tested non-tls mounts) hang indefinitely.

**What you expected to happen?**
Existing mounts remain functioning after a new driver is in place.

**How to reproduce it (as minimally and precisely as possible)?**
Deploy the v0.2.0 drive

[2020-06-12 22:54] jqmichael commented on #183
From the output of `mount`,
`clientaddr=192.168.79.46,local_lock=none,addr=192.168.134.20`

`192.168.79.46` is the driver pod IP, `192.168.134.20` is the mount target IP.

[2020-06-15 18:50] jpmolinamatute commented on #163
hey @tomkivlin  were you able to solve this issue? (I'm having the same problem)

[2020-06-15 19:19] tomkivlin commented on #163
Well, I have a workaround - I forked the repo, and created modifications of the [node.yaml](https://github.com/tomkivlin/aws-efs-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L38) file - link takes you to an example of the path that needs changing.  I then just deployed from that repo instead of the one in the instructions.

[2020-06-16 05:49] jurgenweber commented on #82
I don't think this should get closed.. this is super important.

[2020-06-16 09:08] ZhangSIming-blyq commented on #177
Hello, I met the same problem, did you fix it?

[2020-06-16 13:12] jpmolinamatute commented on #163
Hey @tomkivlin thanks so much for the help! it worked as charm! :-)

[2020-06-16 15:44] 2uasimojo commented on #167
I'll start attacking this today.

[2020-06-16 16:22] tsarna opened #184 "Please provide an official aarch64 image for use on m6g, a1"
**Is your feature request related to a problem?/Why is this needed**
The 64-bit ARM-based m6g family is generally available now and provides very attractive price/performance (and the older a1 has been available for a while). It should be possible to use these ARM-based instances just as easily as amd64, and to that end there should be official images on Docker hub for aarch64 as well.
/feature

*

[2020-06-17 17:49] farshad-hobsons commented on #152
I encountered an issue similar to https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/141 while on the branch `release-0.3` but master(commit-id: ad02e03877144f120e45f611d873b8688dee3e35) worked fine for me.

So I am also requesting for a new tagged release.

[2020-06-18 12:59] farshad-hobsons commented on #178
@wongma7 , with `amazon/aws-efs-csi-driver:latest` (commit-id https://github.com/kubernetes-sigs/aws-efs-csi-driver/commit/f66f6a2acb7842d8106eb66f6cbe9b99b6c4e702), I am still experiencing the mount-hang on all existing mounts when I bounce the csi pod.

[code]
My csi-driver daemonset manifest:
[code]

[2020-06-18 21:55] #167 closed

[2020-06-19 10:40] olfway commented on #68
/remove-lifecycle stale

[2020-06-19 10:42] olfway commented on #63
/remove-lifecycle stale

[2020-06-19 14:23] kbasv commented on #182
I realized these PIDs were LWPs spawned by the driver and implemented a fix on efs-utils accordingly. Closing this as it is not an issue.

[2020-06-19 14:23] #182 closed

[2020-06-19 16:03] farshad-hobsons commented on #177
I see you are using 0.3.0 version of the driver

The [EFS Access Points documentation](https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/0ae998c5a95fe6dbee7f43c182997e64872695e6/examples/kubernetes/access_points#efs-access-points) says:

The above worked for me with `image: amazon/aws-efs-csi-driver:latest`

[2020-06-19 21:29] holypriest commented on #177
@ZhangSIming-blyq I will try with the new version, as suggested by @farshad-hobsons . I'll leave my comments here after testing.

[2020-06-20 21:33] jqmichael opened #191 "Using the latest yaml install file + v0.3.0 driver no longer works"
/kind bug

**What happened?**
issue is our command to install efs driver is downloading an image which is not working.
kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master"

MountDevice failed to create newCsiDriverClient: driver name efs.csi.aws.com not found in the list of registered CSI drivers

**What you expected to happen?**

**How to

[2020-06-20 21:33] jqmichael commented on #191
We added a hostpath to /etc/amazon/efs/ which override the efs-utils.conf file. The driver from master branch will install the config file itself, but since you are using a stable version of the driver, that didn't happen.

https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L102

I think we should start branching the yaml installment of the driver.

[2020-06-22 09:40] nomopo45 opened #192 "MountVolume.SetUp failed for volume "efs-pv""
/kind bug

Hello,

I followed this documentation : https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html, as written in the userguide i'm trying to use the Multiple Pods Read Write Many

I have an EKS cluster, and i have an issue with my pod creation, apparently he is unable to mount the EFS Volume.

here is some log that i found :

[code]

and

[code]

I checked many things, my SG are ful

[2020-06-22 14:55] adamdelarosa commented on #192
I also have this issue.
version:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T21:03:42Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.8-eks-e16311", GitCommit:"e163110a04dcb2f39c3325af

[2020-06-22 19:43] daisuke-yoshimoto commented on #192
@noamran

You might be able to solve this problem by using an updated image of amazon/aws-efs-csi-driver, as shown in the stackoverflow article below.

https://stackoverflow.com/questions/62447132/mounting-efs-in-eks-cluster-example-deployment-fails

[2020-06-22 23:13] nmtulloch27 commented on #192
I have this issue as well.

[2020-06-22 23:41] ossareh commented on #152
Literally just burned with this; I've been using `:latest` for some time (approx. 4 weeks). A new `:latest` was tagged on Friday and our pod happened to crash on Sunday - now no EFS mounts work.

[2020-06-23 00:43] 2uasimojo commented on #152
@ossareh - are the symptoms the same as what’s in the description here, or something different?

[2020-06-23 00:52] ossareh commented on #192
We have this issue also.

[code]

On Sunday our efs csi pod died and restarted; I've been using `:latest` because of the issues with access points. That picked up the latest `:latest` which has #185 merged in. I've updated our PV and PVC definitions to match those in the examples directory for access points and now we have the error above.

*pvc*
[code]

*pv*
[code]

[2020-06-23 03:25] nomopo45 commented on #192
I was able to solve the problem using an updated image of amazon/aws-efs-csi-driver, as shown in the stackoverflow article below.

https://stackoverflow.com/questions/62447132/mounting-efs-in-eks-cluster-example-deployment-fails

Here are all my steps:

Using EFS with EKS

Follow this doc :  https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

Be careful when you install the csi driver m

[2020-06-23 09:50] hugoprudente commented on #143
got merged resolving

[2020-06-23 09:50] #143 closed

[2020-06-23 14:26] nmtulloch27 commented on #192
Still didnt resolve my issue... i am getting Mounting arguments: -t efs -o tls fs-xxxxxxx:/ /var/lib/kubelet/pods/xxxxx-xxxx-xxx-xxx/volumes/kubernetes.io~csi/efs-pv/mount

[2020-06-23 16:11] ossareh commented on #192
@nomopo45 I feel 100% sure that I'm using the latest `amazon/aws-efs-csi-driver`. Are you able to clarify which sha you're using?

[code]

As you can see I'm using `docker-pullable://amazon/aws-efs-csi-driver@sha256:43fb05d4544230010ecb8d7619a4d3b6c2c317a73a79925638501cc82754843c` with the configuration above, and I can assure you there is a problem with this setup. It could be the case that there

[2020-06-23 16:32] nmtulloch27 commented on #192
I concur...I have pulled the latest and the issue still persist.

[2020-06-23 17:00] ossareh commented on #152
Hi there @2uasimojo, the specific issues I'm having are documented in #192 (incorrectly closed by the OP; hoping that a mod can reopen it). My prior comment on this thread is in relation to very few tagged releases resulting in issues such as accidental upgrades to core pieces of infrastructure, i.e agreeing with your statement of:

[2020-06-23 17:36] ossareh commented on #192
@nmtulloch27 I think I'm on to something; just to confirm - are you using the helm chart for your installation or the kustomize based solution that @nomopo45 suggested?

[2020-06-23 18:26] nmtulloch27 commented on #192
i am using kustomize based solution that @nomopo45 suggested

[2020-06-23 18:49] ossareh commented on #192
@nmtulloch27 hmm, OK. If take a look at #193 you can see I was getting tripped up by imagePullPolicy not being set correctly. If you add "imagePullPolicy: Always" under (or around) [this line](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/base/node.yaml#L27) you'll pull the actual latest, not the version that you pulled when you first installed the driver.

[2020-06-23 19:24] nmtulloch27 commented on #192
I see, so then you would run kubectl apply  -k aws-efs-csi-driver/deploy/kubernetes/base   instead of  kubectl apply  -k aws-efs-csi-driver/deploy/kubernetes/overlays/stable/ is that correct?

[2020-06-23 19:41] 2uasimojo commented on #152
Roger that @ossareh. I was mainly trying to nail down whether #185 was the culprit or not. Looking at the commit history, I see quite a bit of change in the past two or three months, which (IIRC -- no way to tell looking at dockerhub) was the last time `latest` was tagged.

[2020-06-23 19:51] kferrone commented on #146
I whipped up a quick index.yaml simply using `helm repo index`. The repo will be available as soon as PR is merged. However a maintainer of this project will have to make the docs folder public on Github Pages.

[2020-06-23 20:21] 2uasimojo commented on #192
Say, b3baff821a477161599eef757c5ed59dc7126073 added a new mount in the efs-plugin container, and relies on it existing in the watchdog. If you bounced your workers, but didn't reapply the DaemonSet from latest, that could cause failures that might look like this.

[2020-06-23 21:04] ossareh commented on #192
@nmtulloch27 not necessarily. The base doesn't have an "imagePullPolicy" specified; so you'd need to add that. Unfortunately Kustomize doesn't allow changing the pullPolicy via a transformer based on this thread: https://github.com/kubernetes-sigs/kustomize/issues/1493 (caveat: I don't use Kustomize, so maybe I'm reading this incorrectly).

So here's what I recommend, for now:

 1. clone this repo

[2020-06-23 21:53] ossareh commented on #192
@nmtulloch27 I was intrigued enough to check it out myself; see #195 for a branch which implements setting the imagePullPolicy as discussed.

[2020-06-23 22:15] nmtulloch27 commented on #192
I made the changes and applied them as per your instructions. It seems to have resolved that issue. However i am getting   "_MountVolume.MountDevice failed for volume "efs-pv" : rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error: desc = "transport: Error while dialing dial unix /var/lib/kubelet/plugins/efs.csi.aws.com/csi.sock: conn

[2020-06-23 22:26] ossareh commented on #192
@nmtulloch27 I did not.

What does: `kubectl exec $(kubectl get po -l app=efs-csi-node -n kube-system -o jsonpath='{.items[0].metadata.name}') -n kube-system -it efs-plugin -- cat /var/log/amazon/efs/mount.log` return for you (it's likely to be long, so perhaps just provide the final ~50 lines in a gist).

[2020-06-23 22:52] nmtulloch27 commented on #192
Hey i have placed the gist below:
https://gist.github.com/nmtulloch27/61e5ee77a29e74e7f43d3a07f858da3d

[2020-06-23 22:58] ossareh commented on #192
@nmtulloch27 that isn't at all what I was expecting but it clearly calls out the image is not there to be fetched. I'll ask the appropriate question over in #195

[2020-06-23 23:00] nmtulloch27 commented on #192
Okay, i'll move to that thread.

[2020-06-23 23:04] ossareh commented on #192
@nmtulloch27 I've pushed an update to my branch; give it a shot and update #195 with success / failure.

[2020-06-23 23:31] nmtulloch27 commented on #192
Okay cool..how do i update it with success or failure? Still fairly new to the site.

[2020-06-24 00:03] ossareh commented on #192
@nmtulloch27 oh, interesting. This is going back to my earlier comment of "I'm not familiar with kustomize". It turns out there are two ways to call kustomize:

`kustomize build deploy/kubernetes/overlays/dev` and `kubectl apply -k deploy/kubernetes/overlays/dev`. My testing uses the former, but when I use the latter I get the same error you do. I'll look into it now.

RE: "update with success/ fa

[2020-06-24 00:06] nmtulloch27 commented on #192
Oh haha and okay cool... have a good night!

[2020-06-24 00:25] ossareh commented on #192
@nmtulloch27 I can't help myself! I took a look and brought both options `kustomize build...` and `kubectl apply -k` into line with one another, I think. Can you give it a go? I think it's probably just best if you clone github.com/ossareh/aws-efs-csi-driver check out the fix_kustomize_dev_overlay branch and run the `kubectl apply -k` from there.

[2020-06-24 00:47] nmtulloch27 commented on #192
Haha nice, I'll will do that right now!

[2020-06-24 12:48] farshad-hobsons commented on #183
I consistently can reproduced and experienced the same kind of problem when I intentionally tried bouncing the `efs-csi-node` pods by running `kubectl -nops delete po -l app=efs-csi-node` as a test.

### How to reproduce this:
- Use kustomize to deploy csi driver in a namespace called `ops` in a cluster version `v1.15.11-eks-af3caf` with `kustomize/v3.5.4`:

Bases File:`k8s/kustomize/bases/aws-efs

[2020-06-24 15:41] leakingtapan commented on #142
/remove-lifecycle stale

[2020-06-24 15:44] leakingtapan commented on #111
/remove-lifecycle stale

[2020-06-24 15:44] leakingtapan commented on #184
Similar request: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/111

[2020-06-24 17:48] #105 closed

[2020-06-24 18:26] wongma7 commented on #191
We can maintain overlays for each version in master. And let stable always be a copy of the latest stable release. We should not change stable until after a new release when we do the post-release stuff, update the README etc.: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/140/

[2020-06-24 18:27] wongma7 commented on #191
Let's revert ad02e03 for now. Basically we should never touch stable overlay except in post-release stage where we will copy changes from dev overlay to stable overlay.

[2020-06-24 18:58] ossareh commented on #192
@nmtulloch27 thanks - that was super helpful.

[2020-06-24 21:10] tsarna commented on #111
#184 is indeed the same issue. Sorry, I think I searched for aarch64 and not arm64 so I missed this.

The arm64 based m6g family VMs are now generally available, and price/performance is reportedly much better than m5. I think many people would want to use them in unless they have a specific need to stay on x86_64.

[2020-06-25 03:52] leakingtapan commented on #178
Reopen as revert from: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/196

[2020-06-25 03:53] leakingtapan commented on #178
/cc @wongma7

[2020-06-25 04:17] leakingtapan commented on #172
/milestone-0.4

[2020-06-25 05:47] leakingtapan commented on #111
I created a PR for arm64 and an arm64 image using similar command in #197. Since I don't have arm64 machine, mind testing using the image: chengpan/aws-efs-csi-driver:latest ?

[2020-06-25 07:05] omriarieli commented on #191
Hi, FYI i am getting validation errors when installing with helm3 on eks kubernetes 1.15

null_resource.efs_csi_driver (local-exec): Error: rendered manifests contain a resource that already exists. Unable to continue with install: CSIDriver "efs.csi.aws.com" in namespace "" exists and cannot be imported into the current release: invalid ownership metadata; label validation error: missing key "app

[2020-06-25 14:23] sansarsankhyan2391 opened #198 "EFS mount issue with efs csi driver latest image tag"
/kind bug

i have tried efs csi driver with the latest image tag as the tag 0.3.0 was giving errors.
but i am getting the below errror with the latest image tag now:

 **driver name efs.csi.aws.com not found in the list of registered CSI drivers**

[2020-06-25 15:48] farshad-hobsons commented on #183
@leakingtapan @wongma7 - The changes from from "gitCommit": "c6082e582166cc85b9d9761b7e5b0546f7fd153c"("buildDate": "2020-06-24T19:51:36Z") to "gitCommit": "8cfff11b09ed1f1d3a3e5c1bd20ce79b262b0805"("buildDate": "2020-06-25T02:43:16Z") seem to have fixed the issue. I cannot reproduce it anymore.

From the [changeset](https://github.com/kubernetes-sigs/aws-efs-csi-driver/compare/c6082e582166cc85b9d

[2020-06-25 17:16] leakingtapan commented on #111
@tsarna

[2020-06-25 17:28] wongma7 commented on #183
@farshad-hobsons it was the hostNetwork: true change. Yes I want to make a tagged release for 0.4.0, takes a bit of coordination.

[2020-06-25 17:29] wongma7 commented on #183
(we need https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/196 as well before a release IMO)

[2020-06-25 17:34] farshad-hobsons commented on #183
Also, noting that when I test the https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/examples/kubernetes/access_points/specs/example.yaml , the mount hangs only for the duration of the time during which aws-efs-csi-driver Pod is down, when the driver pod recovers the hanged-mount recovers meaning that application recovers automatically when driver pod recovers. I assume this is expe

[2020-06-25 18:22] wongma7 commented on #183
I don't think that is expected. If it's specific to when you use access points or tls (access points implies tls) then it is probably a variation of this issue https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/178 where the driver cannot access the private key for encryption/decryption

[2020-06-25 18:45] farshad-hobsons commented on #183
ok, fyi, I tested the tls-only example (https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/kubernetes/encryption_in_transit/specs) and the behavior of the issue is same i.e. mountpoints hang only during the time the csi-driver is down. Mountpoints recover when driver pod becomes available.

[2020-06-25 20:18] #146 closed

[2020-06-26 05:41] leakingtapan commented on #146
Index file is published: https://kubernetes-sigs.github.io/aws-efs-csi-driver/index.yaml

[2020-06-26 08:50] galindro opened #200 "Provide a helm repo"
I just would like that the aws-ebs-csi-driver helm chart could be available via helm repo, like any other helm chart. I'm using helmsman to deploy it and I currently need to download the tgz, extract and them install.

[2020-06-26 13:29] galindro opened #201 "Delete/Clean filesystem/access point on PV deletion"
Would be nice if the filesystem or access point be cleaned after PV deletion to avoid trash or unintentional behaviors with stateful applications that uses EFS (for example, databases, etc...)

[2020-06-26 17:39] wongma7 commented on #152
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/202 is to push to a 7 digit sha tag upon merge to master branch. instead of to `latest` tag.

[2020-06-26 18:22] 2uasimojo commented on #152
Thanks @wongma7 -- this ought to satisfy our needs nicely for the medium term.

[2020-06-26 19:48] leakingtapan commented on #200
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/199

[2020-06-26 21:56] tom-beatdapp commented on #192
Just for anyone running into this issue, if I can help save you some debugging time. I saw this issue when I used the incorrect Security Groups for my EFS filesystem. Worth double checking this. The SG applied to each mount target should be the one that "Allows inbound NFS traffic from within the VPC" which is created in these steps: https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

[2020-06-29 07:38] #127 closed

[2020-06-29 11:35] GJKrupa opened #203 "PVC stuck in pending state: ExternalExpanding' Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC"
/kind bug

**What happened?**

I followed the examples for setting up a PV and PVC with in-flight TLS. I removed the PV and PVS and re-created them. The PVC became permanently stuck with the following in the events:

ExternalExpanding' Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC

**What you expected to happen?**

Th

[2020-06-29 13:33] GJKrupa commented on #203
I should add that both the PV and the PVC have a storage request size of 5Gi so there should be no expansion required.

[2020-06-29 16:36] wongma7 commented on #203
That ExternalExpanding does not explain why the PVC did not become bound. Please share the output of `kubectl get pvc -o yaml` for the pvc in question before and after recreating it

[2020-06-29 16:38] wongma7 commented on #201
This will follow from implementing dynamic provisioning tracked here: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/6 . The driver will create access points on PVC creation and delete them on PVC deletion (if the ReclaimPolicy of the PV is Delete).

Going to close as duplicate

/close

[2020-06-29 16:38] #201 closed

[2020-06-29 16:41] wongma7 commented on #198
You may be experiencing this issue: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/191 . The command `kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master"` was broken for some time but it should be fixed now.

[2020-06-30 10:42] GJKrupa commented on #203
No real differences other than the state and the annotations. The flux annotation was removed because I had to run a `helm upgrade` from the command-line to restore the PVC after deleting it with kubectl.

Before:
[code]

After:
[code]

[2020-06-30 10:44] GJKrupa commented on #203
This is the output from describing the PVC:

[code]

[2020-06-30 11:01] GJKrupa commented on #203
At a guess I think what's happening is that I was deleting the PVC but no the PV earlier. When I create a new PVC it assumes that the previous one already consumed all the space in the PV and it's trying to expand it to create more but can't. If I make the PVC smaller than the PV it doesn't help because k8s allocates the full PV to the PVC anyway.

I believe that the k8s NFS driver also has this i

[2020-06-30 22:10] wongma7 commented on #203
If you delete the PVC and not the PV the PV will enter Released state, not Available, and so your PVC will stay Pending even though you intend for it to bind to that same PV again.

The expand error is a bit of a red herring. I'm not sure why it's creating that event but it should not even be handling PVCs that are in state Pending.

[2020-06-30 22:11] wongma7 commented on #203
To be clear there is a 1:1 mapping between PVC and PV.

[2020-07-01 23:53] jqmichael opened #207 "Branching yaml install files"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

Today, the `node.yaml` file under `deploy` directory is shared between `dev` and `stable` overlays. Any updates to `nod

[2020-07-01 23:56] jqmichael commented on #207
@2uasimojo @leakingtapan @ossareh

[2020-07-02 08:08] nomopo45 commented on #192
So i closed the ticket because i thought the issue was solved since it worked for me after using the latest image and not the v0.3.0, but after trying again today it's not working anymore, even with the latest image, i checked my SG also and i fully opened it just to test but it is still not working (same error as before). I also tried the fix proposed by @ossareh by cloning his repo and apling th

[2020-07-02 12:24] 2uasimojo commented on #192
@nomopo45 Since #202, `latest` isn't actually latest anymore. You may be bouncing off of #196.

From now until we have a new release, I would suggest keeping your YAML and image tag in sync. For example, the current tip of the master branch is at commit 778131e6fdfce466bbada3fb08b1e5bdd50c072b, which corresponds to image tag [778131e](https://registry.hub.docker.com/layers/amazon/aws-efs-csi-drive

[2020-07-02 13:27] 2uasimojo commented on #207
Love this @jqmichael. It ought to help significantly with tagged releases.

There's still a hole, which is that any untagged overlay (call it `dev`, `stable`, `latest`, whatever) is still a moving target. For example, if you set up your driver pod using the `dev` overlay from the master branch which refers to the `latest` image tag, and then the `latest` image changes, if you bounce your DaemonSet

[2020-07-02 19:51] ossareh commented on #207
@2uasimojo yah, that makes sense. It certainly [helps me understand why I saw my docker sha change unexpectedly](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/195#issuecomment-650280097) two weeks ago; i.e. the DaemonSet changing triggered fetching the incompatible latest sha. It also seems inevitable as part of using mutable docker tags.

To break the problem into it's constituent pa

[2020-07-03 07:03] leakingtapan commented on #207
IMHO, we don't have to explicitly list out all the versions under `deploy` directory just to version the manifest (I actually used this pattern during initial development of ebs csi driver). We could just rely on git tagging to version the manifest (as this is what is means). Since by the time a release happens, that's the file we want. Something like below is already working:

[code]

So that we

[2020-07-03 07:06] leakingtapan commented on #200
/close

[2020-07-03 07:06] #200 closed

[2020-07-03 15:36] abdennour commented on #6
Can we use aws-efs-csi-driver in conjection with **efs-provisioner** for dynamic provisioning EFS shares.

User Create PVC --> EFS-Provisioner Creates new PV --> All PVs pointing to the same EFS resource but with different shares.

[2020-07-06 20:54] wongma7 opened #208 "Update to efs-utils 1.26-3"
/kind bug

(Creating this to track it for myself)

**What happened?**
There are 2 bugs in efs-utils that affect tls mounts that may lead to mounts hanging if the driver is updated/restarted. They will be fixed in the next release of efs-utils

https://github.com/aws/efs-utils/issues/69
https://github.com/aws/efs-utils/issues/74

(They are not specific to the driver, but much more likely occur in a

[2020-07-06 23:15] jqmichael commented on #207
master branch is always unstable, good to use for dev environment, never use for production.
use the version tag for kubestomize

I think we should do better than purely relying on documentation.

There're a couple of reasons I think branching the yaml file in maser branch is preferable.

1) Backwards compatible for existing users who rely on
`kubectl apply -k "github.com/kubernetes-sigs/aws-efs-c

[2020-07-07 00:08] leakingtapan commented on #207
kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=master" (that has been the case for a long time).
No matter what the latest doc says, many existing users will keep using the previously provided command to install the driver from master branch (it might even be integrated in their CI/CD system). I think this is the biggest motivation for deprec

[2020-07-07 02:03] jqmichael commented on #207
Are we willing to break users who follows
[code]
as suggested by the README doc as well as EKS doc going forward?
https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

And for uses who were impacted by bugs like https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/191, what's our suggestion to them? Don't follow the old doc, start downloading from a tagged branch since the old doc

[2020-07-07 03:03] wongma7 commented on #207
First of all: we must have git branching+tagging. Git branching is necessary for maintaining stable release branch(es) alongside an unstable master branch. Without git branching we cannot do bugfix releases. Tagging is how you notify users there is a new release. We have no other way to tell them. So I agree with @leakingtapan: with git branches+tags, we can and should change the instructions to p

[2020-07-07 12:38] 2uasimojo commented on #207
Option 3 makes sense to me, as long as we beef up the docs. Suggest:
- Update docs (both [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/778131e6fdfce466bbada3fb08b1e5bdd50c072b/docs/README.md#installation) and [eks](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) to describe how to apply a specific release (`kubectl apply -k ...?ref=$tag`)
- Drop a comment in the

[2020-07-07 14:43] devkid commented on #6
We implemented this with a custom CSI driver that dynamically creates PVs in response to PVCs. The driver is only responsible for creating and binding the PVs; the actual mount is still performed by the AWS EFS CSI driver.

Here you go: https://github.com/LogMeIn/aws-efs-csi-pv-provisioner

I'd be happy to assist in adding this functionality directly into this driver.

[2020-07-07 18:12] jqmichael commented on #207
Agreed we should update our doc no matter what.

Personally, I think option3 significantly adds complexity into future updates to the yaml file. Imagine if we need to consistently add, delete and update the yaml structure, and purely relying on manual json patch could leads to a series of nightmare and bugs.

Any reason maintaining two copies of yaml files for dev and stable version is unacceptabl

[2020-07-07 18:53] 2uasimojo commented on #207
@jqmichael I don't have a strong opinion on that front. Option 3 is acceptable to me, but so are others, including:

**Option 4:** Get rid of the overlays entirely.
- Always use `?ref=$tag_or_commit` to apply what you want.
- You're always guaranteed frozen if you use a `$commit`, but
   a) that's unsupported dev-only unstable yatta yatta; and
   b) you are responsible for overriding the image ref

[2020-07-07 19:58] jqmichael commented on #207
Thanks @2uasimojo. That's very good call out.

Looks like there are enough push back to completely restructure the existing overlay hierarchy.

What if we meet in the middle ground by going with a slightly modified version of option 3? To be specific, reuse the existing install mechanism, but move the `node.yaml` file to each overlay folder to avoid the manual json patch headache?

Something like

[2020-07-07 20:40] 2uasimojo commented on #207
What will the image tag be set to in those overlays? For `dev/node.yaml` presumably `latest` (or `master` if you take my suggestion above). But for `stable/node.yaml`? It would feel pretty ooky to me to have `master`'s `stable/node.yaml` hardcoded to point to a `v$M.$m.$p` image tag.

And no matter which way you slice it, `stable` on `master` is still a moving target, and subject to the [sync prob

[2020-07-08 03:58] nomopo45 commented on #63
Hello,

I just want to know if there are news regarding the fact that the user must create each subpath beforehand before they consume the PV from container, is it possible to do an auto creation of the directory or not yet ?

thank you

[2020-07-08 09:41] gillbee opened #210 "Requesting new image build to remidiate image reporting scan vulnerabilities"
/kind bug

**What happened?**
In order to use external images within our organisation, each images is scanned for vulnerabilities.  The current image release v0.3.0 is reporting vulnerabilities and therefore we are not permitted to use this.

**What you expected to happen?**
Image is available which does not report vulnerabilities

**How to reproduce it (as minimally and precisely as possible)?**

[2020-07-08 13:14] przemolb opened #211 "Is it possible to use EFS CSI driver just with SC and PVC ?"
I am looking for a way to provision volumes on EKS similar to Azure k8s (AKS). They have `azure-file` (which is basically SMB) and I can create shared filesystems using just storage class and pvc:
[code]
As you can see I can allocate `pvc` without defining `pv`.
Is it possible to achieve the same (no PVs) using EFS CSI driver ?

[2020-07-08 18:24] wongma7 commented on #211
Not yet, this feature is called 'dynamic provisioning' because the driver will dynamically provision the PV and directory/access point in EFS for you. please follow https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/6

[2020-07-08 18:24] #211 closed

[2020-07-09 14:22] jqmichael commented on #207
Unfortunately, updating doc to point to

`github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=0.3.0` won't work because the images didn't get updated when cutting the 0.3.0 release.
https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/172

We have to live with it until the next release before updating our doc. :(

@leakingtapan
What's your thoughts moving t

[2020-07-14 06:52] leakingtapan commented on #207
@2uasimojo's suggestion sounds good to me. And I think breaking end user's current usage of `ref=master` kustomize apply and switch to use `ref={tag}` is the right thing to do.

In long term, I would consider this problem along with the sync problem between helm chart. Since once we get to a state where kustomize files are properly versioned and layered, we'll come into how to sync it with the hel

[2020-07-16 14:01] zachaller opened #214 "Watchdog errors"
/kind bug

**What happened?**
We needed to use access point mounts so we have been experimenting with the dev deployment but the recent changes in the last 3-4 days seems to have broken watchdog

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

[code]

**Environment**
- Kubernetes version (use `kubectl version

[2020-07-16 19:32] wongma7 commented on #214
Yes, https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/212 made a breaking change to the dev overlay but the dev image still points to tag `latest` which was not/is no longer updated.

The fix IMO is to push to tag `master` and have the dev overlay point to that: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/215

[2020-07-16 20:51] wongma7 commented on #214
@zachaller could you try the new dev overlay which references the `master` tag that was just pushed. Thanks

[2020-07-16 21:04] zachaller commented on #214
@wongma7 looks to have fixed it thank!

[2020-07-16 21:04] #214 closed

[2020-07-17 19:30] #208 closed

[2020-07-17 21:34] wongma7 commented on #210
Hmm actually let me reopen this until a release is actually made. I'm planning on 1.0.0 next week.

[2020-07-20 19:19] JonathanLachapelle commented on #6
That would be great, we are trying to build a multi-tenant cluster with EFS as the main statefull storage solution and without dynamic provisioning, it will be difficult to implement.

[2020-07-20 19:46] wongma7 commented on #191
The helm chart is still not quite right. I think there needs to be an if statement here https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/helm/templates/daemonset.yaml#L111 excluding it if the version is <= v0.3.0

[2020-07-22 01:29] #134 closed

[2020-07-23 19:50] wongma7 commented on #210
Please try v1.0.0, it's based on that new al2 tag 2.0.20200602.0

[2020-07-23 19:50] #210 closed

[2020-07-23 21:31] adammw commented on #152
v1.0.0 was just released, seems to fix our issue

[2020-07-23 23:18] 2uasimojo commented on #152
Thanks all!

[2020-07-23 23:18] #152 closed

[2020-07-24 10:53] singh-ajeet opened #225 "aws-efs-csi-driver's helm chart is not working as sub chart"
My application is using EFS persistent volume, so I was trying to use aws-efs-csi-driver as sub-chart of my application's chart. But it is not working.

There is no error,  but my application is not able to mount EFS. If I deployed aws-efs-csi-driver helm chart separately than it works fine.

Chart.yaml
[code]

After executing ` helm dependency build `  command I can see it in my charts directory

[2020-07-27 11:47] #145 closed

[2020-07-27 12:33] GrataHonoria opened #228 "MountVolume.SetUp failed."
/kind bug

**What happened?**
The pod is stuck on ContainerCreating with the error:
[code]

**What you expected to happen?**
The pod to be a in a running state.

**How to reproduce it (as minimally and precisely as possible)?**
Install the driver:
`kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.0"`
 & apply the statefulset example w

[2020-07-27 21:46] jqmichael commented on #228
Do you mind checking out this PR to collect more logs for troubleshooting?
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/217/files

[2020-07-27 21:50] jqmichael opened #229 "There's no way to override EFS_CLIENT_SOURCE when building the image"
/kind bug

**What happened?**
[code]

Print out the env variables inside the target of `aws-efs-csi-driver`.
[code]

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version:
1.0.0

[2020-07-28 18:42] jqmichael opened #232 "Handling mount and umount hang at driver layer"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

/feature

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.
If mount or umount hang for whatever reason, the driver should 1) timed out and 2) potentially force umount if failed re

[2020-07-29 10:50] GrataHonoria commented on #228
https://github.com/GrataHonoria/efs-logs

I unmounted all the old mounts in the efs-plugin container & deleted the files in /var/run/efs. I don't think they get unmounted properly. The statefulset worked after that.

The python script had to be edit to include the efs-csi pod name. it seems to ignore the argument.
`
kubectl describe po efs-csi-node-5dpc4 -n kube-system

Error from server (NotFound

[2020-07-30 18:52] lknaubkonrad commented on #63
I have the same question.

[2020-08-02 06:38] Saberos opened #234 "Helm support for node affinity"
**Is your feature request related to a problem?/Why is this needed**
I'm running a hybrid EKS cluster with both Fargate nodes and an EC2 node group. As Fargate does not currently support persistent volumes or CSI drivers, I would like to prevent the Daemonset from trying to deploy to Fargate nodes, as the pods scheduled on the Fargate nodes will fail to start.

/feature

**Describe the solution yo

[2020-08-05 01:56] #71 closed

[2020-08-05 02:50] albertmichaelj opened #235 "Update helm chart for 1.0.0 release"
**Is your feature request related to a problem?/Why is this needed**
I tried to install the helm chart today for the `aws-efs-csi-driver`, but I realized that the helm chart only install version `v0.1.0`. This is a very outdated version given that the current release is `v1.0.0`

**Describe the solution you'd like in detail**
I'd like to see an update to the helm chart so that the helm chart track

[2020-08-06 06:01] Saberos commented on #235
The [index.yaml](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/gh-pages/index.yaml) used by Helm has not yet been updated to point to support the v1.0.0 release.

[2020-08-06 18:27] mmccord-mdbuyline opened #236 "nodeSelector unused in helm chart"
/kind bug

**What happened?**

The `nodeSelector` key in the `values.yaml` is unused by the templates of the chart.

**What you expected to happen?**

`nodeSelector` is used by the charts and subkeys are populated under the `nodeSelector` key of the `DaemonSet`.

**How to reproduce it (as minimally and precisely as possible)?**

Install the chart while specifying nodeSelectors, note they are not p

[2020-08-06 18:49] wongma7 commented on #236
I just merged https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/226 to fix this, could you try out the new chart? Please reopen if it's still broken.

Also, I'm aware about the index being broken, it's work in progres shere: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/223

[2020-08-06 18:49] #236 closed

[2020-08-06 18:50] wongma7 commented on #235
We are aware, but there is some weird issue with the digest (which I understand is not really used by helm for verification anyway) and I don't have permission to push a new index: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/223 a

[2020-08-06 18:51] wongma7 commented on #235
By the way, 0.1.0 refers to the version of the helm chart, not the `appVersion` of the CSI driver. Can you double check the version of the driver that was installed by inspecting the aws-efs-csi-driver DaemonSet?

[2020-08-06 19:17] albertmichaelj commented on #235
I realized after I opened this issue that the helm chart version did not track with the `appVersion`, but it was an outdated version because it wouldn't let me use TLS encryption. It gave me an error that TLS encryption was not supported on the version. Unfortunately, I don't have it installed anymore, and I am hesitant to put it on my production cluster again. I uninstalled the helm chart and the

[2020-08-07 05:50] Saberos commented on #235
Can confirm that I'm getting v0.3.0 csi driver daemonset containers when using helm chart v0.1.0.

[2020-08-07 19:17] #229 closed

[2020-08-13 05:30] krmayankk commented on #125
/add-lifecycle frozen

[2020-08-13 05:31] krmayankk commented on #125
@leakingtapan  is this fixed or going to be fixed soon ? can we freeze its lifecycle ?

[2020-08-13 05:33] krmayankk commented on #125
/lifecycle frozen

[2020-08-13 05:48] gaurav-ackotech commented on #6
@devkid I used your repo code, but Lil bit confused I followed the steps till 6 As your Read me. but not able to understand I need to deploy a pvc whihc is available under deployment folder or this one which you pasted over readme.
``A corresponding PV called pvc-<UID of PVC> will be created bound to the PVC. This PV is utilizing the AWS EFS CSI driver. A subdirectory called <namespace of PVC>-<na

[2020-08-13 05:50] gaurav-ackotech commented on #6
@devkid I used your repo code, but Lil bit confused I followed the steps till 6 As per your Read me. but not able to understand I need  to deploy a PVC that is available under the deployment folder or this one which you pasted over readme.
or need to update As per below comment in you read me ?
``A corresponding PV called pvc-<UID of PVC> will be created bound to the PVC. This PV is utilizing the

[2020-08-14 04:46] nelsonflorez11 opened #239 "POD ContainerCreating Status, Failed to Mount EFS"
Hello
I am trying to configure EFS in EKS with the following link aws-efs-csi-driver/examples/kubernetes/statefulset /specs/ example.yaml

I experience error when starting the POD, the pv and pvc start correctly but not the POD

[code]

Describe mentions that you can not mount the EFS, someone else has presented this error?
[code]

The Security Groups of the cluster VPC have the correct permission

[2020-08-14 13:49] jlehtimaki commented on #239
@nelsonflorez11 I think you'r problem is *partly* because of `mount.nfs4: mounting 127.0.0.1:/dir1 failed, reason given by server: No such file or directory`.

I'm also seeing this sort of error where kubelet says it's timing out:
[code]

Mounting from the node works. I'm clueless..

[2020-08-19 03:35] nelsonflorez11 commented on #239
Hello I solved it this way:

I make the correction the error was presented on the file  aws-efs-csi-driver/examples/kubernetes/volume_path/specs/example.yaml

The reason for the error is because the path in EFS / dir1 and / dir2 did not exist, if it is mounted without path it works correctly, as shown below
[code]
However, the function that fulfilled my need to manage the permissions of the routes

[2020-08-19 18:20] wgordon17 opened #240 "Mounting EFS from a peered VPC"
**Is your feature request related to a problem?/Why is this needed**
I'm unable to mount a EFS volume across peered VPCs. The error message is "Failed to resolve "fs-e0fc4798.efs.us-east-2.amazonaws.com" - check that your file system ID is correct." There _is_ a workaround that requires updating the `/etc/hosts` file on each node, however that is not an option for my usage on OpenShift.

/feature

[2020-08-19 19:21] 2uasimojo commented on #240
Things that come to mind:
- Syntax-wise, allow the fsid chunk of the volumeID to be an IP. But since the volumeID is currently colon-delimited, IPv6 addresses will be a pain.
- How do access points fit in here? Remembering that for [openshift/aws-efs-operator](https://github.com/openshift/aws-efs-operator) we use that to get around default root permissions on base mount points.

:eyes:

[2020-08-19 20:14] devkid commented on #6
@gaurav-ackotech The PV and PVC in the `deploy/` folder are required for the provisioner itself (so that it can mount the root directory of the EFS into itself for management operations); these use the `efs-sc` storage class provided by the aws-efs-csi-driver itself (and that's why it has a PVC *and* a PV - the CSI driver alone doesn't provision any PVs). You can consider the PV and PVC part of th

[2020-08-20 01:52] bysnupy commented on #240
@2uasimojo If `hostAliases` is allowed to configure at `efs-csi-node` DaemonSet on [openshift/aws-efs-operator](https://github.com/openshift/aws-efs-operator) through CR.

[2020-08-20 12:34] 2uasimojo commented on #240
@bysnupy Oh, that's cool! @wgordon17 let's play around with this, yeah?

[2020-08-20 20:03] wgordon17 commented on #240
@bysnupy That's an awesome suggestion!! With @2uasimojo's help (and a modified operator), we were able to confirm that `hostAliases` did _exactly_ what we needed it to! Thanks again 🎉

[2020-08-20 20:03] #240 closed

[2020-08-24 14:39] 2uasimojo commented on #124
The original issue here does seem obsolete given https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/kubernetes/access_points. If there are still permission/usability problems, suggest opening a new more specific issue.

[2020-08-27 10:36] jlehtimaki commented on #239
@nelsonflorez11 yup that works! Can you please close this issue!

[2020-08-27 15:44] #239 closed

[2020-08-28 19:23] jjayeshgohil commented on #63
Hi,

We are also looking for this feature.

Thanks

[2020-09-01 19:10] kbasv opened #242 "Make efs-utils.conf customizable"
**Is your feature request related to a problem? Please describe.**
Currently efs-utils.conf is baked into the code. If driver restarts, driver overwrites any custom changes made to efs-utils.conf file.

**Describe the solution you'd like in detail**
Ensure driver doesn't overwrites efs-utils.conf by preserving its state

**Describe alternatives you've considered**
 Provide flags/CLI arguments to m

[2020-09-03 08:09] sppwf commented on #63
Hi,

Waiting the feature to be implemented.

Thanks
Sergiu

[2020-09-03 09:48] gillg opened #243 "Very dirty Helm chart"
Hi,

In the 1.0.0 helm chart release some things are not clean...

* In values.yaml there is a `replicaCount: 2`. This makes no sense for a DaemonSet, and this value is use nowhere.
* In daemonset `securityContext.privileged: true` and `volumes[].hostPath` are use, which needs a specific PSP declaration in a secured cluster. (with a service account attached to pods)
* `podAnnotations` and `tolerat

[2020-09-05 02:56] Srini-B-GIT opened #244 "livenessprobe and csi-node-driver-registrar not from aws ECR ."
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Latest /aws-efs-csi-driver-master/deploy/kubernetes/overlays/stable/kustomization.yaml file pulling images for
livenessprobe  and csi-node-driver-registrar from quay.io  in most of the client environments they prefer these images directly

[2020-09-08 14:41] Cuite21 opened #245 "Image pull error: Failed to pull image"
/kind bug

**What happened?**
When using the master branch, while creating the deployment pods are in image pull error state

Failed to pull image "602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-efs-csi-driv
er:v1.0.0": rpc error: code = Unknown desc = Error response from daemon: Get https://602401143452.dkr.ecr.us-west-2.amazonaws.com/v2/eks/aws-efs-csi-driver/manifests/v1
.0.0: no basic au

[2020-09-08 22:33] xposix commented on #177
I had the same problem and updating to 1.0.0 worked! Access points are only supported on this version.

[2020-09-08 22:42] xposix commented on #91
I had the same issue deploying a Jenkins service (uses UID and GID of 1000). AWS already solved this use case creating the EFS access points, they automate the process of creating a folder inside the EFS volume and `chown`s it (which is more accurate/correct approach to the `chmod 777` one). All the access and file creation through a specific access point automatically uses a specific UID/GID. You

[2020-09-08 22:42] xposix commented on #91
/remove-lifecycle rotten

[2020-09-09 05:52] jurgenweber commented on #239
so is 'mountpath' deprecated then? I would expect it to work....... does it mean i need to create the path first before I can mount it?

can it not create it when not found?

[2020-09-09 13:47] fmedery opened #246 "Unable to deploy aws-efs-csi-driver on bottlerocket"
/kind bug

**What happened?**
I deployed a sample EKS with bottlerocket cluster and tried to deploy the aws-csi-driver using the documentation on the github page
[code]

error:
[code]

log:
[code]
**What you expected to happen?**
aws-csi-driver up and running

**How to reproduce it (as minimally and precisely as possible)?**
* deploy a eks cluster with bottlerocket
then:
[code]
**Anything else we

[2020-09-10 04:21] jurgenweber opened #248 "create directory when volume path is not found"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

as per https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/239
when a pod is attempting to mount a volume path, if the directory does not already exist it fails with a 'no such file or directory' error. My expectation would be t

[2020-09-10 15:24] emanuelr93 opened #249 "Add documentation about amazon-efs-utils depencency"
The need to have the amazon-efs-utils binary is not clearly specified in the current version of the README.
From the tests I performed, the binary is mandatory for this driver to work. Shouldn't that be clarified in the documentation?

[2020-09-10 18:33] arvin6msd commented on #235
Same issue. helm update does not update 0.3 app version to 1.0. Can someone update the chart?

[2020-09-11 05:23] mssachan commented on #245
Hitting same issue.
[code]

[2020-09-11 09:04] tatodorov commented on #246
The aws-efs-csi-driver can be deployed to EKS with Bottlerocket OS worker nodes.
The problem is that it cannot attach EFS to Pods.
These are the logs from efs-plugin and kubelet when trying to attach EFS PV to a Pod.

Log from efs-plugin
[code]

Log from kubelet:
[code]

[2020-09-13 12:23] cbighea opened #252 "NodeGetCapabilities logged to stderr instead of stdout"
/kind bug

**What happened?**
The aws-efs-csi-driver pods have the following item showing up in stderr in Datadog monitoring, which doesn't seem to be an error:
`I0913 12:09:11.322490       1 node.go:226] NodeGetCapabilities: called with args`

**What you expected to happen?**
I expected this to be logged to stdout

**How to reproduce it (as minimally and precisely as possible)?**
Just followed th

[2020-09-17 03:21] mach-kernel commented on #122
If you're running a cluster with mixed Fargate and EC2 instances, edit the `efs-csi-node` affinity set to avoid Fargate pods (otherwise, you will get a bunch of noise):

[code]

[2020-09-18 09:10] kamit78 opened #254 "Can different PV be associated to same EFS volume"
**Current Setup**
Right now we created a PV with EFS volume id that bound to pvc in a namespace as N1 wherein pods mounts this pvc to read and write data to EFS

Scenario
Now create a another PV resource with volume id of same EFS, would it bind to PVC in some different namespace(N2) ?

To be concise following is my query--

Can different PV connect same EFS, which further bound to different PVC's

[2020-09-20 01:16] dec14 commented on #180
Having this issue as well. Any solution?

[2020-09-20 01:21] dec14 commented on #191
The installation still isn't working

[2020-09-20 03:54] #151 closed

[2020-09-23 03:31] s3than commented on #225
It's because the helm chart is packaged as helm/ if you add an the following

[code]

[2020-09-25 13:55] antonosmond commented on #235
The helm chart version has not been bumped in the update to appVersion 1.0.0 so helm chart 0.1.0 (if pulling from the helm repo) refers to appVersion 0.3.0 however the [Chart.yaml](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/v1.0.0/helm/Chart.yaml) in this repo has appVersion 1.0.0. Chart 0.1.0 cannot be both appVersion 0.3.0 and 1.0.0 so the chart version needs to be bumped e.g. ch

[2020-09-25 15:23] paolofacchinetti commented on #111
Any update on a release for arm64 EC2 instances?

We want to try a c6g cluster, but the lack of support for arm64 means that we can't proceed in that direction.

[2020-10-01 21:56] chrishenzie opened #256 "Make vendored copy of dependencies"
**Is your feature request related to a problem?/Why is this needed**

During the `docker build` of this image, it copies over the `go.mod` and downloads all dependencies, which I observed take a very long time (on my computer this took several minutes).

Similarly to how the aws-ebs-csi-driver repo is structured, I would like to have a vendored copy of dependencies, which will speed up the build p

[2020-10-02 04:44] #256 closed

[2020-10-02 13:31] jackivanov commented on #124
Is there any progress on segregated service accounts policies for containers?

[2020-10-06 01:06] #112 closed

[2020-10-06 13:18] JonathanLachapelle commented on #243
I agree, this need to be improved.

I cannot use this helm chart as of right now because my cluster can only use a private repo and require the use of Image Pull Secrets

[2020-10-07 22:31] wongma7 opened #259 "Coveralls is flaky with new NodeGetVolumeStats unit tests"
/kind bug

**What happened?** Coveralls reported coverage dropped even though there was a unit tests covering the code introduced in https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/238 because sometimes the makedir part of the code doesn't work even though it works locally https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/238#issuecomment-705187978

Coveralls is NOT supposed to

[2020-10-07 22:31] wongma7 commented on #259
/assign @kbasv

[2020-10-07 22:44] wongma7 commented on #254
Yes!

[2020-10-07 22:45] wongma7 commented on #249
We assume that you are running it containerized with the binary installed. Still I agree it is worth calling out this dependency, since technically you can mount EFS without it if you use vanilla NFS.

[2020-10-07 22:48] wongma7 commented on #248
I don't think the driver should touch anything in your volume or create access points unless explicitly asked to. There is a little bit of overlap with this request and the dynamic provisioning feature which I think is in progress of being designed still.

[2020-10-07 22:49] wongma7 commented on #244
There is an ecr kustomize overlay, does that work for you? https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/overlays/stable/ecr/kustomization.yaml

[2020-10-07 22:51] wongma7 commented on #243
Help would be appreciated, the helm chart has not changed much since creation and does not get much attention compared to kustomize

[2020-10-07 23:43] kbasv commented on #259
/assign @kbasv

[2020-10-08 01:18] #235 closed

[2020-10-08 01:53] TBBle commented on #6
For visibility/cross-linking, https://github.com/aws/aws-controllers-k8s/issues/328 is the issue for EFS provisioning via the AWS Controllers for Kubernetes project. Once that is available, it would close the loop in terms of "doing it all in k8s".

It seems that per Option 2, the December 2019 discussion, and https://github.com/LogMeIn/aws-efs-csi-pv-provisioner, that the expectation is still tha

[2020-10-08 23:09] chrisjohnson00 commented on #180
/remove-lifecycle stale

[2020-10-09 14:29] #147 closed

[2020-10-10 05:50] useiichi opened #262 "EFS CSI driver can't mount successfully, keeps retrying"
When I apply examples/kubernetes/multiple_pods
Pod app1 and app2 remain ContainerCreating.

$ kubectl describe pod app1
  Warning  FailedMount       2m7s (x5 over 11m)  kubelet, ip-10-10-10-5.ap-northeast-1.compute.internal  Unable to attach or mount volumes: unmounted volumes=[persistent-storage], unattached volumes=[persistent-storage default-token-sjfzc]: timed out waiting for the condition
  W

[2020-10-10 09:46] #262 closed

[2020-10-10 09:47] useiichi commented on #262
sorry. This is problem of SecurityGroup Setting.

[2020-10-12 09:35] #121 closed

[2020-10-13 00:51] a7i opened #263 "Access Mode of ReadWriteOnce does not work as expected"
/kind bug

**What happened?**
Based on the [Kubernetes PV docs](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes), access mode of `ReadWriteOnce` claims that the volume can be mounted as read-write by a single node. However, I have observed that this is not the case.

**What you expected to happen?**
I expected that when the PV/PVC is defined with an access mode of `Rea

[2020-10-13 01:24] wongma7 commented on #263
AccessModes is meant to be a reflection of the provider's, in this case EFS's, capabilities. It is basically a label to ensure that if a user requests RWX storage via a PVC they will get a RWX PV. Or if they are want RWO storage they may get a RWO or RWX PV. It is not meant for enforcement. It is not enforced by Kubernetes, by design, and cannot be inforced by the driver.

[2020-10-14 23:43] PatrickXYS opened #264 "Update AL2 Image Version"
**Is your feature request related to a problem?/Why is this needed**
Update AL2 Image version which serves as Base Image of EFS Image

/feature

**Describe the solution you'd like in detail**
Change [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/v1.0.0/Dockerfile#L27)
From
[code]
to
[code]

What's the whole test process in order to publish new EFS image?

[2020-10-14 23:43] PatrickXYS commented on #264
/cc @jqmichael @wongma7

[2020-10-15 11:16] ahmad-hamade opened #265 "Can't find chart v0.2.1"
/kind bug

**What happened?**
Can't find the latest chart version available from the repo https://kubernetes-sigs.github.io/aws-efs-csi-driver/

**What you expected to happen?**
I should see the latest chart v0.2.1

**How to reproduce it (as minimally and precisely as possible)?**

helm repo add aws-efs-csi-driver https://kubernetes-sigs.github.io/aws-efs-csi-driver/
helm search repo aws-efs-csi-d

[2020-10-16 03:02] #126 closed

[2020-10-18 15:20] xposix opened #267 "Add AWS EKS 1.18 support for Helm Chart"
/kind bug

**What happened?**
Helm Chart installation fails with the following message when used against a new AWS EKS 1.18 cluster:
[code]

**What you expected to happen?**
To finish installation without any problem

**How to reproduce it (as minimally and precisely as possible)?**
Create an empty new cluster and try to install this CSI driver with Helm
[code]
**Anything else we need to know?**:

[2020-10-20 15:46] maateen commented on #267
It seems that EKS 1.18 comes with built-in (probably in-tree, please lemme know if I'm wrong here) `efs.csi.aws.com` **CSIDriver**. This helm chart wants to install its own version of the **CSIDriver** which actually triggers the error.

[code]

**So, what is the fix?**

Simply delete the built-in **CSIDriver**:

[code]

[2020-10-21 08:17] xposix commented on #267
Alright, but that's hardly a fix, right? The Helm should decide if it needs to install or not the CSI driver depending on the version.

[2020-10-21 12:03] Klohto commented on #178
Together with #183, it's still a pressing issue. Any progress on this topic?

[2020-10-21 15:37] maateen commented on #267
@xposix it's a way around actually. But I am wondering how it is possible for Helm to identify already installed components.

[2020-10-21 17:38] Klohto commented on #267
@maateen I don't have a EKS 1.18 cluster on hand to test the CSIDriver issue, but there isn't a way how to get Helm to "appropriate" a resource that wasn't created by Helm. Atleast not automatically.
The _correct_ way is to document the need for deletion or use an in-place approach of labelling and annotating the resource before installing the Helm chart.

I have recently log similar issue againts

[2020-10-21 18:21] JonathanLachapelle commented on #265
Also helm chart v0.2.0 is not present

[2020-10-21 18:44] wongma7 commented on #178
It should be fixed again, we resubmitted a version of the PR, can you share all your YAMLs

[2020-10-22 12:26] ahmad-hamade commented on #265
Also the chart release 1.0.0 is missing. 😩

[2020-10-22 12:35] JonathanLachapelle commented on #265
There's probably a pipeline not being triggered. I'm not sure exactly of the process to package and publish the helm charts

[2020-10-23 17:24] mteodori commented on #267
I see the same issue on clusters created with 1.17 and specifically the issue appears on newly created ones that have version v1.17.9-eks-a84824 while the issue was not present in the former ones I created that have version v1.17.9-eks-4c6976, is there a CHANGELOG with release notes where it's documented what changed between these two versions?

[2020-10-24 00:25] jwesolowski-rms commented on #267
@mteodori I've not been able to find this mentioned anywhere in a CHANGELOG for EKS (which is quite frustrating), but I think it is related to this: https://aws.amazon.com/blogs/aws/new-aws-fargate-for-amazon-eks-now-supports-amazon-efs/

I'm assuming we are sufficiently *in the future* and that is why this is happening. I tested changing the CSIDriver resource to a `pre-install` hook with `"helm.

[2020-10-25 04:51] vothanhbinhlt commented on #267
I have had same issue when I created new AWS EKS version 1.17

[2020-10-26 17:28] paalkr commented on #125
Any news on this?

[2020-10-27 07:54] othillo commented on #265
It seems that the Helm repo index (https://kubernetes-sigs.github.io/aws-efs-csi-driver/index.yaml) is not updated.

As a workaround I cloned this repo at v1.0.0 and installed it from there:

[code]

[2020-10-27 23:53] wongma7 commented on #248
We are discussing this a little bit in FSx and I would like the solution to be consistent for all drivers, please join https://github.com/kubernetes-sigs/aws-fsx-csi-driver/pull/162#discussion_r513098426,

When I say in the above comment "unless explicitly asked to", that could mean a new volumeAttribute to toggle behavior between "Fail if directory does not exist" and "Create the directory does n

[2020-10-27 23:56] jurgenweber commented on #248
Ok, I kinda of agreed' with your first post and it doesn't really belong here. I figured the best way to move forward would be to reomve the feature all together and force access points, etc.

[2020-10-28 00:09] wongma7 commented on #248
Yeah, so I backtracked alittle bit because for FSx they don't have a concept of access points to abstract paths, so if we end up adding this feature to FSx then I figured we could consider porting it to EFS.  THe problem is then we are increasing EFS's api surface and that could be more confusing than useful if folks have to figure out path, access point, subpath....etc.

[2020-10-28 09:13] sbkg0002 opened #269 "Auto creation of Accesspoints"
**Is your feature request related to a problem?/Why is this needed**

When using the current driver in a multi-tenant cluster, tenants require access to resources in the AWS account in order to create EFS Accesspoints.
The 'old' efs-provisioner would create a subpath for each new pv, while the CSI driver does not.

/feature

**Describe the solution you'd like in detail**
Being able to create a new

[2020-10-30 19:35] a7i commented on #263
@wongma7 With that being said, wouldn't it be accurate to say that the EFS CSI driver should only support/allow RWX?

[2020-10-30 22:50] wongma7 commented on #263
no because an EFS PV can be labelled with RWO, ROM, and RWX, as it can technically satisfy all those use-cases. Like, RWO is a subset of RWX so if a user asks for RWO storage (by putting RWO in their PVC), their request is technically satisfiable by EFS storage. If we were to put EFS in that chart in the doc you linked, it would check all boxes, same as NFS.

AccessModes is a tool for you as an ad

[2020-10-30 23:02] a7i commented on #263
I disagree as RWO is defined as "access mode of ReadWriteOnce claims that the volume can be mounted as read-write by a single node" which in this case it can be mounted by multiple nodes. With that being said, I'll go ahead and close this PR.

[2020-10-30 23:03] #263 closed

[2020-10-30 23:08] wongma7 commented on #263
the keyword is *can*. it *can* be mounted to a single node because if it can be mounted to more than one than obviously it can also be mounted to one.

the upstream docs are open to prs, you are not the first to be confused by it so feel free to help clarify it

[2020-10-31 02:10] #267 closed

[2020-10-31 21:10] #175 closed

[2020-11-01 14:27] #124 closed

[2020-11-06 15:25] #176 closed

[2020-11-07 04:38] #141 closed

[2020-11-09 17:21] duncangrist opened #277 "How does the driver know which PV to bind to any given PVC?"
I'm confused as to how the driver knows which PV to bind to any given PVC.

e.g. if you look at the following example which maps two volumes into a specific pod:
https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/examples/kubernetes/volume_path/specs/example.yaml
there's nothing that I can see which connects each PVC to the specific PV.

Obviously both the PVC and PV share the same

[2020-11-09 18:41] pieeri commented on #265
Related to the recent upgrades in EKS (https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/267), is there a timeline in resuming the Helm chart pipeline?

Current EKS versions (>=1.17) require the changes included in https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/270. Sadly, for continuous deployment (via e.g. Terraform), the current chart doesn't offer the possibility to modi

[2020-11-09 20:55] wongma7 commented on #277
It creates the PV with claimRef already set https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L1422. you can read more about claimref here: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

BTW, technically it is not the driver but the external-provisioner sidecar container that handles ensuring the PVC and PV bind. driver d

[2020-11-10 12:45] duncangrist commented on #277
Hi @wongma7 - thanks get getting back to me - I think I understand this now.

My confusion stemmed from the fact that in the example that I linked it appears important that PV `efs-pv1` is eventually mounted at `/data-dir1` and that PV `efs-pv2` is mounted at `/data-dir2` but there is nothing in the yaml that explicitly connects each claim to the correct volume to ensure this.

Whilst it appears i

[2020-11-10 12:45] #277 closed

[2020-11-10 18:18] wongma7 commented on #277
hmm yes so the example is a bit flawed because there is technically no guarantee efs-pv1 gets bound to efs-claim1, without claimRef being set.

You have to go from volumeMounts to volumes to PVC to PV.

e.g. the first volumeMount entry refers to volume `name: efs-volume-1`. Then if you scroll down to the volumes entries, you can see that efs-volume-1 refers to pvc efs-claim1.

  - name: efs-volume

[2020-11-12 20:45] quizy101 commented on #243
I've submitted PR #279 to address these issues if you want to take a look.

[2020-11-12 20:50] quizy101 commented on #234
I've created a PR #279 that allows affinity.

[2020-11-13 11:33] Klohto commented on #178
@wongma7 Looks like there is no need anymore. I have been running on master for the past 2 days and haven't encoutered this issue

[2020-11-13 15:08] #163 closed

[2020-11-13 19:03] esalberg opened #280 "EFS CSI driver should pass the IAM flag (for IRSA) to EFS Utils for app-specific filesystem policies"
**Is your feature request related to a problem?/Why is this needed**
We are unable to segregate EFS filesystems based on policy to different EKS pods.  While we can pass a specific role to the EFS CSI driver itself, it is always the same role.

We need to limit EFS filesystem access per pod.

/feature

**Describe the solution you'd like in detail**
EFS Utils has added support for AssumeRoleWithWeb

[2020-11-13 19:33] wongma7 commented on #280
We have to wait for this feature https://github.com/kubernetes/enhancements/issues/2047 . Otherwise there is no way for the driver to get a pod's creds and use the pod's creds for mounting.

[2020-11-14 19:07] tsarna commented on #111
Sorry this took so long to test, I had some other blockers come up.

chengpan/aws-efs-csi-driver:latest seems to work just fine for me on a t4g instance. Sad to see that #197 was closed

[2020-11-15 02:30] tsarna commented on #111
Thanks for working on this! It looks like the sticking point for #197 was the charts. Any chance the build portion could be committed and a separate issue split off for the charts portion?

Thanks!

[2020-11-16 08:00] spohner opened #281 "Driver fails to release ports on unmount"
/kind bug

**What happened?**
We noticed that pods were unable to mount EFS PVCs, and got stuck in ContainerCreating. The logs showed
`Output: Failed to locate an available port in the range [20049, 20449], try specifying a different port range in /etc/amazon/efs/efs-utils.conf`
Logged into the node and found with netstat that all 400 ports were populated by stunnel processes.

The watchdog logs s

[2020-11-16 12:16] #68 closed

[2020-11-17 02:43] jrtcppv opened #282 "CSI driver causes EFS filesystems to mount to wrong mountpoint"
/kind bug

We use a sharded EFS setup in which multiple EFS filesystems are mounted to one pod. Files are distributed among the shards randomly so that we don't reach an I/O bottleneck in any one filesystem. We have found that randomly some pods will come up with a different EFS share mounted than what the pod spec specifies. To check for this we created a file on each filesystem corresponding to

[2020-11-17 02:53] wongma7 commented on #282
Want to make sure I understand: in the first example, instead of seeing upload003/upload003 that Pod saw one of upload003/upload00{0,1,2,4,5,6,7}?

ls: cannot access '/upload003/upload003': No such file or directory
command terminated with exit code 2

Could you share logs of the CSI driver on the node to which such a Pod was scheduled? This script can help gather logs. https://github.com/kubernet

[2020-11-17 04:51] jrtcppv commented on #282
Okay I just sent you the logs via email.

Your description of the issue is correct, /upload003 actually saw /upload003/upload005, so it was mounted to one of the other volumes. We verified this by both checking for the same number of files in both mount points (/upload003 and /upload005) and by verifying a file with a UUID filename existed in both mount points.

[2020-11-19 09:59] zxkane commented on #267
Any official solution/to do action for this problem, the built-in efs csi driver breaks [the installation guide](https://github.com/kubernetes-sigs/aws-efs-csi-driver#installation).

Why closed the issue without resolving the problem?

[2020-11-19 11:49] zxkane commented on #267
Sorry for the noise.

I see the fix for helm chart already is ready. Any plan to release a new helm chart version(still pin the efs-csi-driver image to v1.0.0) to resolve the installation problem in newly created EKS cluster via Helm?

[2020-11-19 18:42] dmcnaught opened #283 "resource limits in helm values file don'"
/kind bug

**What happened?**

**What you expected to happen?**

**How to reproduce it (as minimally and precisely as possible)?**

**Anything else we need to know?**:

**Environment**
- Kubernetes version (use `kubectl version`):
- Driver version:

[2020-11-21 17:19] #142 closed

[2020-11-22 06:32] #172 closed

[2020-11-22 12:14] jackie-JD opened #284 "driver name efs.csi.aws.com not found in the list of registered CSI drivers"
/kind bug

**What happened?**
I was planning to use the EFS CSI driver and installed it according to the guide: https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html with the command as follows:
kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/ecr/?ref=release-1.0"
But met one issue like the following in the pods's logs:
Events:
  Type     R

[2020-11-22 20:46] #183 closed

[2020-11-23 18:37] KorvinSzanto commented on #191
I'm using CDK to load in this driver using helm and I'm getting the error shown above:
My `HelmChartOptions` object is:
[code]

[2020-11-25 13:38] afrazkhan opened #285 "Allow Mounting via IP"
**Is your feature request related to a problem?/Why is this needed**

It is not possible to mount a share from a different VPC, since DNS resolution for the share will not be available. Using this driver results in:

[code]

/feature

**Describe the solution you'd like in detail**

It would be great if we could specify an IP instead, since this mounting via IP works manually.

**Describe alternati

[2020-11-26 09:47] keifgwinn commented on #252
Does it even need to log this at all? It's the single largest message count on my system, hundreds of thousands of lines of useless logging.

[2020-11-26 18:17] #198 closed

[2020-11-27 23:46] #203 closed

[2020-11-29 14:24] #192 closed

[2020-12-04 00:31] chinmaychandak commented on #228
@GrataHonoria, were you able to fix this? I'm seeing a similar issue.

[2020-12-09 21:47] agrahamlincoln commented on #265
There have been changes to both the EFS CSI driver and the helm chart which fix critical issues on installation. **Please publish a new helm chart, and update the repository.**

I took a quick stab at updating myself, and it seems that outside contributors could not provide this configuration ourselves - the newest helm chart needs to be available for download via github releases to properly updat

[2020-12-10 01:42] wongma7 commented on #265
Thank you for the deep dive, this fell off my radar.

Recently somebody contributed a chart-releaser github action to automate chart updates and github releases of chart updates to the ebs repo so I am going to follow that pattern.
ref:
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/.github/workflows/helm-chart-release.yaml

Ping me on slack if you do not sewe movement on this i

[2020-12-11 02:25] mi5key commented on #285
We are also unable to mount EFS in K8s due to the fact that we have DNS Hostnames turned off in our AWS VPC as we use our own internal DNS.

[2020-12-11 09:00] #207 closed

[2020-12-13 08:19] ronlut commented on #240
@bysnupy @wgordon17
Thanks for the great solution!
Should that work in a multi-az cluster?
If I add the zone "a" mount target ip to the host aliases for example, and have a node in zone "b", I think it causes "volume node affinity conflict"?
It happens only to pods scheduled on nodes in a different az than the zone of the EFS mount target.

How will you tackle that problem?

[2020-12-14 04:26] 037g commented on #285
We also need IP based mounting. Modifying the `/etc/hosts` files on the nodes failed to work.

[code]

[2020-12-14 20:10] chrishenzie commented on #285
Brainstorming an implementation idea, is it reasonable to allow users to supply an IPv4 / IPv6 for `PersistentVolume.spec.csi.volumeHandle`, and then adjust the arguments we supply to the mounter?

[2020-12-14 21:17] webern commented on #246
/remove-lifecycle stale

[2020-12-14 21:31] wongma7 opened #287 "Generate kustomize from helm"
**Is your feature request related to a problem?/Why is this needed**
Manual mirroring kustomize and helm to keep them in sync is impossible

/feature

**Describe the solution you'd like in detail**
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/Makefile#L124

**Describe alternatives you've considered**
N/A

**Additional context**

[2020-12-15 03:28] #111 closed

[2020-12-15 03:50] tsarna commented on #111
/reopen

[2020-12-15 03:50] tsarna commented on #184
/reopen

[2020-12-15 05:08] yashvardhan-kukreja commented on #287
/assign

[2020-12-17 04:46] bysnupy commented on #240
@ronlut This solution is about the VPC peering, so it's available regardless of AZ between EFS and k8s node. Because VPC peering would be controlled by routing table rules(e.g. CIDR network) between VPC peers.

[2020-12-21 02:53] zxkane opened #289 "release helm chart to be able to deploy to EKS 1.17+"
/kind bug

**What happened?**

The bug of helm chart has been fixed in https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/267. But there is no new release helm chart to pick up the fix.

See below error when following the readme of this project to install EFS CSI driver to EKS 1.18,

[code]

**What you expected to happen?**

It’s the official doc to suggestion how deploying EFS CSI drive

[2020-12-22 14:06] dahu33 opened #290 "Upgrade to efs-utils v1.28.2"
**Is your feature request related to a problem?/Why is this needed**
IAM auth doesn't work in my environment where only IMDSv2 is enabled, most likely because `efs-utils` version is a bit behind. [v1.28.2](https://github.com/aws/efs-utils/releases/tag/v1.28.2) seems to fix the issue so it would be nice to upgrade.

/feature

**Describe the solution you'd like in detail**
Upgrade to efs-utils v1.28

[2020-12-22 16:49] terraform-class commented on #289
Getting the same error. Any fix for this?

[2020-12-22 18:58] wongma7 commented on #289
I'll release 0.3.1 this week, I'm also looking at https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/265, https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/288 and https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/291.

[2020-12-23 12:11] nicutor commented on #284
+1

[2020-12-25 20:40] #232 closed

[2020-12-30 14:37] emmaroberts-nbs commented on #289
Do you have any further updates on this?

I'm experiencing the same problem which is causing a blocker for me using EFS in EKS.

I'm using terraform with the helm provider as follows:
[code]

[2020-12-30 16:24] emmaroberts-nbs commented on #289
My workaround is to use the kustomize terraform provider, see below

[code]

Hope this helps while the helm chart isn't working

[2020-12-31 16:32] jdbranham commented on #180
Maybe this line is the issue?
`hostPath type check failed: /var/lib/kubelet/plugins_registry/ is not a directory`

[2020-12-31 21:24] chrisjohnson00 commented on #180
/remove-lifecycle stale

[2021-01-01 22:12] krmichel commented on #287
@yashvardhan-kukreja Are you actively working on adding this change?  If not I can do it.  I made the change for the ebs driver.

[2021-01-01 22:53] krmichel commented on #265
@ahmad-hamade @JonathanLachapelle @othillo For some clarity around this issue.  PR #292 should fix this in the short term by making the app version 1.0.0.  @wongma7's PR #291 should fix it on a permanent basis.  Some of the versions that are referenced on this issue are the version of the driver and not the chart.  The chart had been at version 0.1.0 since the initial commit of it here: https://gi

[2021-01-01 23:01] krmichel commented on #225
This should be fixed when PR #291 is merged

[2021-01-02 20:36] yashvardhan-kukreja commented on #287
I was about to look into this by 5th Jan.

[2021-01-03 00:52] #228 closed

[2021-01-04 22:04] tegataiprime commented on #285
We're facing the same issue.  Being able to provide an IP Address for the EFS Filesystem would be a great help.  We're especially interested in using the AWS EFS CSI Driver to provide support for encryption-in-transit and IAM for access control.

[2021-01-05 04:05] vothanhbinhlt commented on #289
I got the same issue. Any update?

[2021-01-05 17:24] #6 closed

[2021-01-05 17:24] #269 closed

[2021-01-06 06:52] ruzickap commented on #246
I checked this again and it seems the problem disappeared when using "current" bottlerocket and "latest" aws-efs-csi-driver.

I tried it with the "recent" version of the `aws-efs-csi-driver` container image (`9c4d851`) and it works for me:

[code]

[2021-01-06 20:58] wongma7 commented on #265
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/292 has merged so now chart version 0.1.0 refers to appVersion/driver version 1.0.0.

https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/291 is still in progress since I last commented, I need to rebase it and test it in my fork.

[2021-01-06 21:24] wongma7 commented on #289
After https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/292 merges, I will make a new helm chart release to include all the recent helm chart changes like https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/260, https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/261, #267, https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/288, etc.

See also https://github.com/kube

[2021-01-06 21:32] wongma7 opened #294 "Push images to public ECR and private ECR"
Similar to https://github.com/kubernetes-sigs/aws-ebs-csi-driver, community gcr `k8s.gcr.io/provider-aws/aws-efs-csi-driver` should be the canonical source of images. Docker Hub has throttling now.

Current push destinations:
1. Docker Hub: amazon/aws-efs-csi-driver
2. GitHub registry
3. EKS private ECR: 602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-efs-csi-driver

Desired push destinations

[2021-01-06 21:33] wongma7 commented on #245
/lifecycle frozen

I think that if you are using the ECR overlay, to pull from ECR there has to be a Policy attached to the kubernetes node EC2 instance allowing pull from ecr

See also https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/294, I want to provide alternative push destination besides this ECR and docker hub

[2021-01-06 21:34] wongma7 commented on #283
/assign

related to "Very dirty Helm chart " https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/243

[2021-01-06 21:35] wongma7 commented on #283
/unassign
/help-wanted

[2021-01-07 03:05] wongma7 commented on #290
/assign

the PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/268 is lacking CLA, but I will ensure we have a more recent version in time for next release.

[2021-01-07 03:06] wongma7 commented on #264
/assign

https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/290

also need to update efs-utils

[2021-01-07 03:19] wongma7 commented on #285
That error is coming from efs-utils and efs-utils seems to expect that whatever IP/DNSname/FSID you give it can somehow be linked back to the FSID: https://github.com/aws/efs-utils/blob/master/src/mount_efs/__init__.py#L1518
Of course the simplest thing to pass to efs-utils is the FSID itself which is what we are currently doing/expecting.

To be more flexible, first step is to remove this check h

[2021-01-07 04:09] #246 closed

[2021-01-08 13:59] tsarna commented on #294
Given that this container is for use on AWS, I would say public ECR should be a definite yes!

[2021-01-08 14:17] tsarna commented on #285
I also run my own DNS within AWS, but have it configured to forward amazonaws.com to 169.254.169.253 so that I can use these kinds of internal AWS hostnames. Perhaps this is useful to you as a workaround.

[2021-01-10 18:31] maateen commented on #289
This could be a quick workaround:

[code]

[2021-01-11 21:37] wongma7 opened #299 "Remove StorageClasses from encryption_in_transit , multiple_pods examples"
/kind bug

Now that there is dynamic provisioning (example coming in https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/297/files) I think it is a bit confusing that these other examples include storageclasses that would be invalid for dynamic provisioning. While StorageClasses can be useful for organizking PVs, primarily they are for instructing dynamic provisioners so I think it's best i

[2021-01-11 22:21] #234 closed

[2021-01-11 23:11] gazal-k opened #300 "chown/chgrp on dynamic provisioned pvc fails"
/kind bug

**What happened?**

Using dynamic provisioning feature introduced by #274 with applications that try to `chown` their pv fails.

**What you expected to happen?**

With the old [efs-provisioner](https://github.com/kubernetes-retired/external-storage/tree/master/aws/efs), this caused no issues.
But with dynamic provisioning in this csi driver, the chown command fails. I must admit, I don'

[2021-01-12 12:35] #178 closed

[2021-01-13 12:59] jennieli-els opened #302 "Helm install failed, due to missing required annotation for CSIDriver metadata"
/kind bug

**What happened?**
Helm install failed, due to missing required annotation for CSIDriver metadata
**What you expected to happen?**
Helm chart can be installed successfully
**How to reproduce it (as minimally and precisely as possible)?**
Helm install
**Anything else we need to know?**:

Helm 3 doc about helm labels and annotations: https://helm.sh/docs/chart_best_practices/labels/

Logs

[2021-01-13 14:11] qwinkler commented on #289
@wongma7 Sir, could you please tell, what is the expected completion date (like a few weeks, or a few years)?

[2021-01-13 18:10] wongma7 opened #303 "Dynamic PV tests flaky"
/kind bug
https://testgrid.k8s.io/provider-aws-efs-csi-driver#e2e-test&width=20

for example, README fix failing tests: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/301

[2021-01-13 18:19] wongma7 commented on #303
@kbasv will have to fix before releasing

[2021-01-13 18:35] wongma7 commented on #289
ETA is end of this week. The main blocker is https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/296 to disable controller component (dynamic provisionig is not ready for release so this controller would not do anything) and upgrade test (i.e. if i do helm upgrade from current chart release 0.1.0 to the new 1.0.0 nothing breaks)

[2021-01-13 22:50] wongma7 commented on #303
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/296#issuecomment-759789559

Here is one where on a fresh deploy driver on a specific node the first two mount.nfs calls hanged and all subsequent calls hanged. More logs available on request.

I0113 21:37:11.503578       1 mount_linux.go:146] Mounting cmd (mount) with arguments (-t efs -o accesspoint=fsap-03916e91c53b60b26,tls fs-67749663:

[2021-01-14 15:02] tsarna commented on #184
/reopen
/remove-lifecycle rotten

[2021-01-14 22:06] wongma7 commented on #289
Chart 1.0.0 has been released.  The driver version (appVersion) is still 1.0.0, so it does NOT include the recent driver changes like dynamic provisioning or config dir location change. It works for me even if EFS csidriver is on the cluster.
[code]
---
Details:

This was a manual release since #296 and #291 were delayed too much. I really wanted it to be automated to avoid the issues of manual re

[2021-01-17 13:32] yashvardhan-kukreja commented on #287
@wongma7  sorry for the late reply (was swamped previously). I have raised a PR solving solving this issue .
PTAL. If it looks good, then I'll add the corresponding documentation accordingly.
Thanks!

[2021-01-18 12:43] dsaydon90 opened #307 "missing latest helm chart version"
/kind bug

**What happened?**
the version in the helm repo `aws-efs-csi-driver` is not include that latest changes for the `serviceaccount` creation and for the `conroller` creation support:

https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/dfab8556194671bbd00b41d3ed2738701ac3484e/helm/values.yaml#L74-L84

[code]

[2021-01-18 17:25] dsaydon90 opened #308 "Error getting CSI driver capabilities"
/kind bug

**What happened?**
by using the helm chart from: https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/helm

I'm getting the following error:
[code]

**How to reproduce it (as minimally and precisely as possible)?**
download helm directory from: https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/helm
create values.yaml
[code]
helm -n kube-system install -f val

[2021-01-20 20:41] KorvinSzanto commented on #184
Is there a workaround today beyond building my own image?

[2021-01-22 13:39] francobep commented on #284
+1

[2021-01-22 15:06] wochanda opened #310 "Dynamically create file systems"
With the newly introduced [dynamic provisioner](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/274), the driver lets users associate an EFS File System (FS) with a Storage Class (SC), with Persistent Volume Claims (PVC) resulting in provisioning of EFS Access Points underneath that file system with unique directories/UIDs/GIDs for privacy. Currently EFS has a hard limit of 120 APs per

[2021-01-22 15:22] wochanda opened #311 "Integrate with volume health monitor"
To integrate with [volume health monitor](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1432-volume-health-monitor) we need to implement [ControllerGetVolume](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1432-volume-health-monitor#add-controllergetvolume-rpc) RPC. This will allow us to better expose volume size metrics emitted via [NodeGetVolume

[2021-01-26 03:24] okt2019 commented on #308
I also encountered the same problem, the latest version is a bit tricky

[2021-01-26 08:16] dsaydon90 commented on #308
In my case, I have disabled to controller and I have created the pvc and the pv by myself

[2021-01-26 09:03] renanqts commented on #307
Please, provide a new release.

[2021-01-26 21:26] wongma7 commented on #307
This is intentional, there is still a bunch of documentation and security related fixes that need to go in

[2021-01-27 08:46] edvsuperbrave commented on #252
We get these entries thousands of times in our logs too:

main.go:68] Health check succeeded
connection.go:184] GRPC error: <nil>
connection.go:183] GRPC response: {}
connection.go:181] GRPC request: {}
connection.go:180] GRPC call: /csi.v1.Identity/Probe
main.go:50] Sending probe request to CSI driver "efs.csi.aws.com"

We sent out k8s logs to DataDog which marks it as errors. Probably because th

[2021-01-27 16:17] njuettner commented on #284
Same issue with flatcar.

[2021-01-27 18:18] korbin opened #313 "efs-csi-controller won't start if IMDS access is blocked"
/kind bug

**What happened?**

With IMDS disabled per best practices (https://docs.aws.amazon.com/eks/latest/userguide/best-practices-security.html) on Bottlerocket hosts, pods from the `efs-csi-controller` deployment will not start.

We need something similar for the controller, or for it to just not need IMDS access to begin with.

```F0127 18:13:01.145009       1 driver.go:54] could not get met

[2021-01-28 12:59] njuettner commented on #308
@wongma7 is this expected to work? I encountered the same issue. Does this mean the controller currently does not work with the latest image version?

Logs:

[code]

[2021-01-28 18:34] wongma7 commented on #308
helm chart in master doesn't work by itself, it still refers to tag v1.0.0.,

If you want to try dynamic provisioning you must use the `master` tag. But I would recommend that you wait for documentation and a tag/release first.

If you are not interested in dynamic provisioning, you must use the "repo" installation method in the README

[2021-01-28 19:15] maxc0c0s commented on #285
Would also be great for us. Our containers in one VPC need access to an EFS through VPC Peering

[2021-01-29 07:49] reyntjensw commented on #281
We are experiencing the same issue in an environment where a lot of pod autoscaling is happening.

From our experience it happens every 7 to 10 days, the quick fix here is to replace all nodes but in a production environment this is not a behavior we want to have.

This is the part of the error we are seeing
[code]

[2021-01-29 19:37] garystafford commented on #280
It appears that this dependent feature entered Beta two weeks ago, for possible realease with v1.21. Given the status change, is there any timeline for adding the above feature to the driver?

[2021-01-29 21:07] esalberg opened #316 "Node.yaml should allow specifying serviceaccount (release 1.1)?"
/kind bug

**What happened?**
I was testing service account settings with release 1.1 (dev overlay).  After updating serviceaccount-csi-controller.yaml, the serviceAccountName setting in controller.yaml worked appropriately.  However, the pods from node.yaml were not using the serviceAccountName (until I added that line to the template spec).

**What you expected to happen?**
Could you please conf

[2021-01-29 21:26] rkennedy-tpl commented on #234
I believe I am encountering this.

out-of-the-box, the Helm chart creates a DaemonSet that **will** attempt to run on the Fargate nodes, which seems unnecessary and fails.

further, the `affinity` in `values.yaml` is never used so I'm not even able to manually override it.

[2021-01-30 20:44] #242 closed

[2021-02-01 04:41] MarcusNoble commented on #63
Can we get this issue reopened? Currently waiting on this before switching from the deprecated efs-provisioner.

[2021-02-01 05:56] leakingtapan commented on #63
/reopen
/lifecycle frozen

[2021-02-01 14:00] maxc0c0s commented on #285
Can you give a bit more details on how you did it. I tried a lot of things with Route53 Resolvers but without success.

Thanks!

[2021-02-01 19:44] korbin commented on #313
I was able to get the `efs-csi-controller` running by removing the liveness check and switching to `hostNetwork: true` until the IMDS dependency can be resolved.

[2021-02-01 21:55] wongma7 commented on #316
We have included an example controller serviceaccount because it's ALWAYS needed but we are lacking an example node serviceaccount because it's only sometimes needed. We don't intend for both controller and node to use the same serviceaccount.

The example service account is provided for the controller only because the controller MUST have permission to create and delete access points. Documentati

[2021-02-01 21:57] wongma7 commented on #313
Yes, seems we'll have to add hostNetwork true, thank you for trying and verifying it fixes it.

(I am looking into ways to avoid talking to instance metadata altogther since we only use it for super basic stuff like instance id but not even sure if it's feasible yet)

[2021-02-01 22:00] wongma7 commented on #316
/assign

Will add a node equivalent:

"serviceaccount-csi-node.yaml " to kustomize and helm

[2021-02-02 09:13] moonek opened #317 "Does this driver work on vanilla k8s? (lack of docs)"
Can I use this driver on my own k8s cluster in AWS other than EKS nodes?
The credential management method(secrets) used by the general csi driver and the efs driver look different.
I can't find anything about credential in the installation documentation.

/triage support

[2021-02-02 14:36] mssachan opened #318 "Getting wrong mount type while mounting FFS filesystem"
/kind bug
EFS volume is getting mounted inside pod with type `xfs`. It should be of type `nfs`, `nfs4` or `efs`

**What happened?**
[code]

**What you expected to happen?**
EFS volumed mount type should be `nfs`, `nfs4` or `efs`

**How to reproduce it (as minimally and precisely as possible)?**
Follow steps mentioned here: https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/

[2021-02-02 16:26] prithulagta opened #319 "How to specify the EFS ID"
Hi - Currently running into an issue, where I am getting the below error from pod in statefulset:

Normal   ExternalProvisioning   PersistentVolumeClaim   waiting for a volume to be created, either by external provisioner "efs.csi.aws.com" or manually created by system administrator

To give a background:
1. I have provisoned an EFS and have the correct SG added to it.
2. I have the efs-csi-node d

[2021-02-02 20:20] wongma7 commented on #317
Yes you can, our docs should call out EKS specific features like IAM ofr service accounts and if not that's a bug.

Do you mean credentials for the controller?

[2021-02-02 20:22] wongma7 commented on #318
Did your PVC get Bound to the PV you created? Or somehow it got bound to another PV? You can check by looking at their YAMLS (kubectl get -o yaml), please share if you can

[2021-02-02 20:23] wongma7 commented on #319
The statefulset use-case assumes that there will be an external provisioner to dynamically create PVs for each of your PVCs. However, support for this has not been released as of the latest version (1.1.0)

[2021-02-02 20:25] wongma7 opened #320 "Reuse EBS E2E testing scripts (git subtree) for creating kops clusters"
/feature

Depending on aws-k8s-tester for testing is more complicated than calling scripts like https://github.com/kubernetes-sigs/aws-ebs-csi-driver/tree/master/hack/e2e straight up. Namely we have to install this binary every CI run and it turns out building go modules in CI environment is not very reliable : https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/315

The EBS scripts are ALM

[2021-02-02 22:36] wongma7 opened #321 "CI broken because of mvdan.cc/lint"
/kind bug

We fail to download aws-k8s-tester. but even if we got apst that we probably would fail to build the tests. So i'll ook at how to get around this, vendor dir alone doesn't seem to work.

related:
https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/320
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/712

[2021-02-03 03:33] mssachan commented on #318
[code]

[code]

[code]

[2021-02-03 04:05] moonek commented on #317
@wongma7 Yes. I'm curious about how to set credentials to provisioner to create efs volume using aws api.

[2021-02-03 07:32] mssachan commented on #318
Though CSI driver node log shows volume was mounted with `-t efs` option
[code]

[2021-02-03 11:13] prithulagta commented on #319
Thanks for your response. However even if you provision the PVs and PVS separately, how will one link them to the individual pods belonging to the statefulset?

[2021-02-03 14:09] prithulagta opened #323 "kubelet, MountVolume.MountDevice failed for volume "sample-efs" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name efs.csi.aws.com not found in the list of registered CSI drivers"
Hi, Currently running into an issue, where a pod of a statefulset is throwing the below error, while trying to mount a volume:

0s    Warning   FailedMount   Pod   MountVolume.MountDevice failed for volume "sample-efs" : kubernetes.io/csi: attacher.MountDevice failed to create newCsiDriverClient: driver name efs.csi.aws.com not found in the list of registered CSI drivers
Please note that the state

[2021-02-03 19:34] wongma7 commented on #319
I don't think there is currently a convenient way to link PV->PVC->Pod. You have very limited ways to influence what PV and thus what EFS FSID a Pod mounts from the Pod perspective, there are no args or anything to explicitly pass the ID.

Say you have pod-0 and pod-1, and you want to link them in such a way that pod-0 always uses pv-0 (fsid:/path-0) and pod-1 always uses pv-1 (fsid:/path-1).
pod-

[2021-02-04 02:09] moonek commented on #317
I confirmed that it only supports static provisioning.
I understood that there is no credentails setting.
In the vanailla k8s the current driver is expected to work well.

[2021-02-04 02:09] #317 closed

[2021-02-04 16:28] #323 closed

[2021-02-04 16:47] prithulagta commented on #319
Thank you for the detailed response. Much appreciated. Will do the workaround as you suggested. However will keep an eye on the PR, to when it gets' merged.

[2021-02-04 16:47] #319 closed

[2021-02-04 20:46] #321 closed

[2021-02-04 22:10] wongma7 commented on #318
Do you have access to kubelet logs? From the CSI node logs, it looks like the driver mounted to the correct path provided by kubelet. Next is for kubelet to bind mount that path to another one that the Pod can see. There should be messages like "MountVolume succeeded for efs-pv " or something like that. If the log is too long, you can slack or email me.

Do you know what /dev/nvme0n1p2 is? is it t

[2021-02-06 00:09] #177 closed

[2021-02-06 01:10] #91 closed

[2021-02-08 05:05] shankerbalan commented on #282
We are seeing a similar issue as well. We do ~10 deployment daily and each pod has 2 EFS mounts. In the past month, we have seen the mount order reversed atleast 3 times.

Its really hard to re-produce. We have updated the AMIs on all the EKS clusters to see if it resolves the issue. Will post logs next time we hit the issue.

[2021-02-08 19:49] fredsig commented on #234
I'm also affected by this. I can't use the standard EFS driver with Helm when using both Fargate and EC2 nodes.

[2021-02-10 10:02] mikalai-t opened #325 "Pods are getting stuck in ContainerCreating because of EFS CSI driver error"
/kind bug

Hello.

**What happened?**
Sometimes, on a new EC2 instance EFS CSI driver can't handle PVC from Pods running on that node and this cause an issue described in subject.

**What you expected to happen?**
PVC must be executed correctly so Volume can be mounted and attached to the Pod.

**How to reproduce it (as minimally and precisely as possible)?**
It happens intermittently. Generally t

[2021-02-10 14:40] steers commented on #265
Now that PRs #292 and #291 have both been merged, is there anything left to be done for this issue? lgtm

[code]

[2021-02-10 17:22] agrahamlincoln commented on #265
LGTM! Thanks for getting this over the line, I'm updating my helm deployments now to the latest chart :)

[2021-02-10 17:48] benmccown-amz opened #328 "efs-csi-node DaemonSet schedules to Fargate nodes with included example"
/kind bug

**What happened?**

When following the EFS CSI documentation at [1] the efs-csi-node DaemonSet attempts to schedule to fargate based nodes if you are running any fargate workloads within your EKS cluster. This results in pods failing to deploy.

[1] https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html

**What you expected to happen?**

I would expect if I were to follow the doc

[2021-02-10 17:58] benmccown-amz commented on #328
Modified spec.template.spec for node.yaml

[code]

[2021-02-10 18:02] benmccown-amz commented on #328
Opened [pull request 329](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/329/)

[2021-02-10 19:19] wongma7 opened #330 "Run helm chart releaser github action from release branches, not master"
/kind bug

**What happened?** In case master branch contains unstable changes that are not ready to be released, e.g. dynamic provisioning right now, it doesn't make sense to release the helm chart from master branch.

Instead, release from stable release branches.

Current workaround is to manually make releases. When github action helm chart releaser attempts an automated release after a manual

[2021-02-10 20:33] wongma7 commented on #265
thanks for patience all.