[2022-02-15 09:51] mimmus commented on #556
As dynamic provisioning has a limit of 120 access points under one filesystem, I'm trying static provisioning, with volume path _volumeHandle: [FileSystemId]:[Path]_ but it's not clear if I still need a PVC with a Storage Class or I need only to define a PV.

[2022-02-16 09:08] yongzhang commented on #616
@markmcdowell did you get any useful response from AWS?

Actually I have 2 EKS clusters: `dev` and `prod`,
The only difference between the 2 is the instance size, I use t3 in `dev` and c5 in `prod`, but I never see the issue happens in my dev cluster, so I changed my instance type to c5 in prod 9 days ago, at least till now it works very well without issues, will continue to keep eyes on it.

[2022-02-16 21:40] HenryYanTR commented on #125
Facing the same issue. Volume is mounted to a folder with 755 permission owned by uid:0 / gid:0, not respecting fsGroup. So it's only writable by root. However, running container as root violates our security policy.

[2022-02-17 09:48] jgoeres opened #635 "In pods with multiple EFS PVC mounts, the EFS-CSI driver seems to sometimes mix up mount points"
/kind bug

Hi all,

we are using EFS CSI driver v1.3.2 on EKS v1.21.5.

We are running a big data app where significant parts of the number crunching logic has been implemented with Spark 3.1.1. We use the Spark operator (https://github.com/GoogleCloudPlatform/spark-on-k8s-operator) v1.2.1-3.0.0 (the issue described here also occurs with 1.2.3-3.1.1) to run the Spark jobs.
The Spark operator defin

[2022-02-17 12:56] markmcdowell commented on #616
I didn’t get anything useful no, other than they thought it may coincide with releases they did.

We didn’t have the issue for 2 weeks then had it twice in 1 day. We’ve moved off efs and back to gp3 storage as it was the only way we could avoid it.

[2022-02-18 07:51] luigidifraia opened #637 "Could not start amazon-efs-mount-watchdog, unrecognized init system "aws-efs-csi-dri""
Scenario: AWS EKS with k8s version 1.21, dynamic volume provisioning. `PVC` and EFS access point are created as expected, but `PV` attachment to test `Pod` fails.

How to reproduce end-to-end: https://github.com/luigidifraia/aws-eks-accelerator-for-terraform/tree/efs-csi-driver-helm/examples/eks-cluster-with-new-vpc-and-efs

PV status:
[code]

Pod events:
[code]

EFS controller logs:
[code]

EFS n

[2022-02-18 15:10] 617m4rc commented on #635
Sounds pretty much like #282 doesn't it?

[2022-02-18 17:31] DarkStar1 commented on #499
Goodness me. This cost me almost a week trying to figure out why the pv[c] wasn't being created.
Thank you for this tip. I moved past this and have now hit the following issue from the described pod:
`Warning  FailedMount  31s (x20 over 25m)   kubelet            MountVolume.SetUp failed for volume "pvc-69cb5470-2943-4696-8aaf-c74e0b93dcfa" : rpc error: code = Internal desc = Could not mount "fs-05

[2022-02-18 20:09] pptb-aws opened #639 "Add Storage Class to static_provisioning and statefulset examples"
**Is your feature request related to a problem?/Why is this needed**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The static_provisioning and statefulset examples do not have a storageclass in the example.  This may result in confusion for people when looking at these examples when all others have storageclasses.

/feature

**Describe the solution y

[2022-02-21 23:38] yongzhang commented on #616
it happens again today :(

[2022-02-22 11:03] presidenten commented on #629
@vemundeldegard Would you mind expanding on how you setup the new security groups?

Im having this exact problem, and everyone is mentioning security groups, but no one is telling how to fix it :-)

[2022-02-22 12:16] vemundeldegard commented on #629
In my case I needed to add inbound AND outbound rules to the security group that is attached to the worker nodes.

[code]

[2022-02-22 13:51] sarasensible commented on #629
Here is the Terraform I used to create the AWS Security Group, for posterity:

[code]

In my case I had the incorrect cidr_blocks variable.

[2022-02-22 16:07] presidenten commented on #629
@sarasensible
Thanks!! I got it working now :)

[2022-02-22 18:02] bnapalm commented on #635
We have experienced a similar bug multiple times, although I am not 100% sure if it is the exact same as described here, and is more in line with the behaviour described in the closed issue #282

In our case, I noticed while browsing via shell on one of the pods, that the same volume was actually mounted in 2 places, whereas those mountpoints should have had different mounts (one of them was corre

[2022-02-23 04:30] sethatron commented on #580
I also ran into this issue today. I can confirm that adding `directoryPerms: $value` to the storage class resolves `ValidationException` error message

[2022-02-23 13:15] luigidifraia commented on #637
New attempt with logLevel set to 5 for nodes:
[code]

[2022-02-23 17:54] vakkursw opened #641 "Backup and Restore a Access Point ID"
We are using an EKS cluster with an EFS driver to persist the data from statefulset.

There are several access points that use the same EFS to mount the data from different Statefulsets.
I  would like to back up the data from one of these access points which is referenced by one of the PVs and restore the content in a different EKS cluster. I have seen EBS driver has the snapshot feature, looking

[2022-02-23 19:24] vakkursw commented on #476
I am also looking for something like this where I can restore the PVs in different EKS cluster

[2022-02-24 00:18] luigidifraia commented on #637
Fixed by fixing the SG definition for mount targets.

[2022-02-24 00:18] #637 closed

[2022-02-24 03:30] balbatross commented on #104
If you ever start an infrastructure provider please let me know, this answer was more helpful than 8 hours of AWS documentation, Jah Bless

[2022-02-25 03:45] jbg commented on #603
FYI the images are available on ECR (not ECR Public, but it still solves the throttling):

`602401143452.dkr.ecr.${data.aws_region.current.name}.amazonaws.com/eks/aws-efs-csi-driver:${var.image_tag}`

[2022-02-26 13:32] darlaig commented on #539
The work around doesn't seem to work for me. I'm getting an STS assume role ( our eks worker role) not authorized to perform sts: AssumeRole on the resource "iam:role" which has all the required access to the elasticfilesystem resource

[2022-02-26 13:39] darlaig commented on #539
@callum-p were you able to dynamically create a PV using the work around? IRSA isn't enabled in my cluster yet.

[2022-02-28 16:33] chrishenzie commented on #540
/remove-lifecycle stale

[2022-02-28 21:31] callum-p commented on #539
@darlaig yes I can dynamically create PVs.

Sounds like your eks worker role doesn't have sts:AssumeRole granted for the iam role that has the EFS permissions.

[2022-03-01 03:56] msolberg8 commented on #616
We're seeing the same thing. Idle CPU spike. First couple of times we panicked and just wiped the stuck nodes. Tonight we were able to fix by removing the efs-csi-node pod on the stuck node. Anyone know if we can downgrade to avoid this issue?

[2022-03-03 14:26] pierluigilenoci commented on #591
This can be closed as outdated.

[2022-03-03 14:26] #591 closed

[2022-03-03 18:52] #522 closed

[2022-03-05 04:02] soederpop commented on #637
@luigidifraia i'm having the same problem.  do you think it is a mistake in how i set up the mount targets with the aws cli? how did you know this was the problem

[2022-03-05 07:53] luigidifraia commented on #637
@soederpop The clue for me was that when creating a PVC a new access point was created in EFS, but mounting was failing. That's strong evidence that the inbound NFS traffic was blocked by the security group on the mount targets. Check this commit to see how I addressed the issue in the end: https://github.com/aws-samples/aws-eks-accelerator-for-terraform/pull/266/commits/e6b364d87221eb481d8e93b08b

[2022-03-07 10:08] keifgwinn commented on #564
/remove-lifecycle stale

[2022-03-07 12:32] shiying2012 commented on #616
I trigger a container restart by executing "kill 1" in the efs-csi-node pods to which the affected AZ belongs. Those containers with mounted EFS volumes can temporarily resume functionality.

[2022-03-08 15:32] indra0007 commented on #476
We are looking for this feature too

[2022-03-08 18:13] pkit commented on #586
/remove-lifecycle stale

[2022-03-08 18:15] niranjan94 commented on #313
/remove-lifecycle stale

[2022-03-11 00:09] artificial-aidan commented on #517
/reopen

[2022-03-11 15:22] artificial-aidan opened #642 "Feature Suggestion: Multiple EFS volumes per storage class (example implementation done)"
**Is your feature request related to a problem? Please describe.**
The limit of 120 access points per EFS means there is a max number of PVCs per storage class

**Describe the solution you'd like in detail**
Allow multiple EFS volumes per storage class

I took a stab at this and it's working in my test environment. I accepted a comma separated list of EFS Filesystem Ids, and then check to see if t

[2022-03-11 16:10] awoimbee opened #643 "Helm: Use .Capabilities.KubeVersion to template image tags"
**Is your feature request related to a problem?/Why is this needed**
The [current version of `values.yaml`](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/b666822944cfb54b339a8c3f2f30db68e21ac6fd/charts/aws-efs-csi-driver/values.yaml) contains image tags for the containers used.
The issue is that these tags specify `eks-1-18-13`, I'm not running EKS 1.18.13. And why should I manually s

[2022-03-13 09:38] codelang1 commented on #300
Observed the same issue on Redis docker container running on k8s.

kubectl logs -f   -n sophos-cnf cnf-redis-node-0  -c volume-permissions
chown: changing ownership of '/data': Operation not permitted

Let me know if more details are needed.

[2022-03-13 14:42] #526 closed

[2022-03-15 21:13] RDLemos commented on #616
@markmcdowell ,
Can you provide more details about the workflow executed? Can you collect logs using [log_collector script](https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/troubleshooting)

[2022-03-17 10:20] #556 closed

[2022-03-18 22:18] ktaletsk commented on #300
@pkit's workaround helped me to run bitanmi/postgres chart (it requires uid:gid=1001:1001) without modifications just by creating a new storageClass:
[code]
and specifying this storageClass `--set global.storageClass=postgr-efs`

Related issues:
https://github.com/bitnami/charts/issues/8753
https://github.com/bitnami/bitnami-docker-postgresql/issues/184

[2022-03-19 08:05] kvifern commented on #616
Adding a workaround here for anyone who needs it, the following script monitors the stunnel processes running on the worker node and kills them if they are unresponsive. The killed processes are then re-created by the EFS CSI driver. The stunnel processes are used to add TLS encryption to NFS traffic, you can read more about it [here](https://docs.aws.amazon.com/efs/latest/ug/efs-mount-helper.html

[2022-03-20 22:51] #570 closed

[2022-03-21 09:14] jgoeres commented on #635
Since our setup described in my initial post is a bit involved, we tried to build a simple reproducer. We create configurable number of PVCs via an EFS-CDI-driver-backed storage class. A "controller" pod mounts these and puts a unique marker file in each. It then proceeds to launch "validator" pods in rapid succession. The validators check if the marker files are in the expected share. If they are

[2022-03-21 09:53] bnapalm commented on #635
I find it puzzling that you don't observe the problem in your synthetic test setup..

Are the "validator" pods being ran one by one? I have no evidence of this, but maybe the issue is more likely to appear if many pods mount shares? At least in our case, the pods experiencing this employ HPA, so they are often scaled from 3 to a few dozen and back. Is your production spark workload similar?

Maybe

[2022-03-21 21:16] sidewinder12s commented on #587
/remove-lifecycle rotten

[2022-03-21 22:34] LevonBecker commented on #521
Be sure NOT to set ```node.nodeSelector``` It's a DaemonSet and should be left to deploy to all nodes or you'll get the above error if your pod lands on a node without the efs-csi-node-xxxx pod. UNLESS you are specifically trying to only allow EFS access from specific nodes.

[2022-03-22 14:14] jawad846 commented on #499
Hello guys,

Need urgent support on

https://stackoverflow.com/questions/71573444/aws-efs-mount-on-eks-persistentvolumeclaims-efs-claim-is-forbidden-may-only

[2022-03-22 22:30] AndrewFarley commented on #489
This just wasted hours of my team's time for a lack of documentation update.  I've submitted an documentation update above.  https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/647  Please approve, merge and close this issue finally.

[2022-03-23 04:06] jawad846 opened #648 "Forbidden: may only update PVC status"
I installed the EFS CSI driver to mount EFS on EKS, I followed [Amazon EFS CSI driver](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) and [aws-efs-csi-driver](https://github.com/kubernetes-sigs/aws-efs-csi-driver)

I've faced the below error while deploying PersistentVolumeClaim.

[code]

StorageClass.yaml -->

[code]

pv.yaml -->

[code]

pvclaim.yaml -->

[code]

Kindly help me t

[2022-03-23 09:45] zhushendhh opened #649 "Do we support to configure "Path" in static mode?"
I see the files are created in the root path of EFS, do we support to use specified paths?
Or do we support to directly use EFS without CSI?

Thank you.

[2022-03-24 22:20] wongma7 commented on #454
/reopen

[2022-03-24 22:20] wongma7 commented on #454
/remove-lifecycle rotten

[2022-03-24 23:23] 0nebody commented on #616
@kvifern thanks for your workaround, I am testing it in our development environment.

For anyone who wants to run this as a daemonset - https://gist.github.com/0nebody/f55a376f2c0ec3f9968168d271763fca

[2022-03-25 03:58] SohumB opened #650 "cross_account_mount example's security policy requirements appear to be out of date"
I needed to add `elasticfilesystem:DescribeFileSystems`, `elasticfilesystem:CreateAccessPoint`, and `elasticfilesystem:DeleteAccessPoint` permissions to the cross account efs role to get a cross account volume provisioned. The first, at least, I think is the same DNS resolution failure issue as described in https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/489.

[2022-03-25 05:14] Cappuccinuo commented on #616
Hey folks,

Has anyone tried to [upgrade their stunnel version](https://docs.aws.amazon.com/efs/latest/ug/upgrading-stunnel.html) to latest 5.63 on the node and see whether the issue is happening anymore?

The stunnel shipped with efs-utils is pretty old (4.56) due to various reason. We suspect there is something wrong with the stunnel itself that the re-establishment of connection failed silently

[2022-03-25 12:08] jawad846 commented on #648
I fixed the issue with aws support.

Posting the resolution might help someone.

We removed the `system:nodes` ands `system:bootstrappers` permission of the controller server from the aws-auth configmap. and it's fixed the issue.

Previous  configmap/aws-auth -->

[code]

Currenlt configmap/aws-auth -->

[code]

Thanks @all

[2022-03-25 12:11] #648 closed

[2022-03-26 06:52] kvifern commented on #616
Hi @0nebody,
Nice job with the workaround daemonset, just be aware that you may not need to mount /proc since "hostPID" is already set to true. This means that the containers within the pod would use the host PID namespace and will already be able to see and interact with the processes in the host namespace.

If you need to test the effect of the script, you can temporarily update your EFS securit

[2022-03-26 10:57] #569 closed

[2022-03-26 17:58] #566 closed

[2022-03-26 23:03] #574 closed

[2022-03-27 04:07] #576 closed

[2022-03-28 14:03] Cappuccinuo commented on #616
Thanks @kvifern ,

Yea haven't figure out that part for stunnel upgrade, as the stunnel is a dependency of efs-utils, the stunnel exec itself **should be** installed on the node itself. The upgrade logic can be in the docker file.

----

For the workaround script, instead we should use `df` command, as `stat` command will take advantage of the kernel cache, so it may detect the unhealthy stunnel n

[2022-03-28 15:57] jgoeres commented on #635
In the meantime, the reproducer we built manages to actually reproduce the issue. I had the controller permanently (re-)creating 30 "validator" pods and let that run since Friday evening. When I checked today, the issue had occurred 9 times out of 145358 launched pods (each mounting the same 5 PVCs into directories /a to /e).
I will pick one occurrence, validator-5. This is the contents of the 5 m

[2022-03-30 11:42] sriram0721 opened #652 "Unable to replicate files across pods"
We have created and efs and set up efs-csi driver with dynamic provisioning of pvc for k8s cluster . During the creation of pod, a pvc is dynamically created and getting mounted to the pod. if the pod writes some files to that efs, those files could not be seen in another pod (which is also mounted with same efs) .
I suspect this is because, for every pvc, efs access points creates a root director

[2022-03-31 03:37] #578 closed

[2022-04-01 13:27] pierluigilenoci commented on #634
@wongma7 @Ashley-wenyizha could you please take a look?

[2022-04-01 21:36] paalkr commented on #652
This is as intended. Each PVC is an "isolated" part of the EFS filesystem.

To achieve what you want, you have to mount the same ReadWriteMany PVC in both pods.

[2022-04-01 22:02] paalkr commented on #538
I know this issue is closed, but I will like to make a comment for future Googlers ;) Creating an Access Points for each PVC is in my opinion a huge shortcoming for the dynamic provisioner. In one of the K8s clusters I manage we have more then 1000 ReadWriteMany PVCs (and more then 4500 PODs). The efs csi-driver dynamic provisioner doesn't work for us due to the number of Access Points limitations

[2022-04-01 22:16] paalkr commented on #594
Ref: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/538

[2022-04-01 22:19] paalkr commented on #63
Ref: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/538

[2022-04-05 14:23] David-Krupa opened #660 "Golang Vulnerability Allows an Attacker to Crash a Server Discovered at High"
kind bug

**What happened?**
From security scans, discovered high severity vulnerability in the go package. See release notes here: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-27191

Use of a Broken or Risky Cryptographic Algorithm in golang.org/x/crypto/ssh golang.org/x/crypto/ssh versions 0.0.0-20220214200702-86341886e292 and prior in Go through 1.16.15 and 1.17.x through 1.17.8 allo

[2022-04-06 01:34] AndrewFarley commented on #489
Fixed in the merge just now #647, please close this?

[2022-04-07 06:23] jgoeres commented on #538
@paalkr Your post pretty much exactly matches our experience with the old provisioner and the trouble we are having with the AP limitation since we had to make the switch. A mode that just creates subdirectories would be what we need.

[2022-04-07 09:55] #489 closed

[2022-04-07 11:41] Anticom opened #668 "Allow volume expansion / resizing an in-use pvc"
**Is your feature request related to a problem? Please describe.**
When trying to change the requested storage of a PVC I'm getting:
[code]

Since the EFS SC is dynamically provisioning volumes I am assuming that resizing volumes is supported as well. Neither the [aws efs csi driver docs](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html) nor this repo does document the current state o

[2022-04-09 12:28] #310 closed

[2022-04-09 18:30] atiwari1 commented on #596
/remove-lifecycle stale

[2022-04-10 21:24] gjacobsatl commented on #460
/remove-lifecycle stale

[2022-04-10 21:48] #325 closed

[2022-04-14 19:20] Ashley-wenyizha commented on #649
Do you mean 'basePath'?

basePath (Optional) - Path on the file system under which access point root directory is created. If path is not provided, access points root directory are created under the root of the file system.

https://github.com/kubernetes-sigs/aws-efs-csi-driver#readme

[2022-04-15 01:52] Cappuccinuo commented on #616
Hey folks,

You can try the latest driver to see if the issue is fixed. Thanks.

[code]

[2022-04-19 06:01] ewuknadierf commented on #616
Hi @Cappuccinuo ,
that would be great. But i can not see any closed [PR](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pulls?q=is%3Apr+is%3Aclosed) that tackles this issue here. What change might prevent the hanging mounts?

[2022-04-19 07:19] joegraviton commented on #336
I get same issue, the probe only fails sometimes.
However, all my containers have already been running for one week and never restarts.
I don't understand why probe is failing with 500.
Also, increasing delay won't help in my case since my container doesn't restart, right ?

[2022-04-19 19:45] cmartintlh commented on #639
I think I'm having difficulty with this as well. I created a static provisioned PV/PVC with an empty storageClassName. Since gp2 storage class in the EKS cluster was set as the default, this changed my PVC to use the gp2 storageClass, though it was still linked to my static provisioned PV using the EFS CSI driver. This did cause issues when trying to run `kubectl apply`, as it was attempting to re

[2022-04-21 12:59] adamgilbert opened #673 "EFS driver causing unusually high load average"
/kind bug

**What happened?**

We have a small set of clusters in EKS, and occasionally some of the nodes will experience a high load average, even while CPU usage is relatively low. This doesn't appear to be consistently reproducible, but usually we end up removing the impacted node. A normal load average in typically around 2, and with this bug we've seen it in the hundreds or thousands. I was a

[2022-04-22 15:28] 0x0013 commented on #635
@jgoeres that's great amount of details. I hope someone knowledgeable can use your data to get to the bottom of this, seeing as it is hard to reproduce on purpose.

We are also still plagued by this issue. Out of curiosity, did you observe the conflicting mounts to use the same port, in the output of `mount` command?

[2022-04-22 22:35] JordyWTC commented on #627
I second this, in AWS EKS Fargate the coredns is setup with the k8s-app = "kube-dns". As it's not possible now to add extra labels, the pod is not getting a node assigned.

[2022-04-24 05:57] #580 closed

[2022-04-24 09:56] jonathanrainer commented on #313
Have raised a PR that I think should resolve this issue here: https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/681

[2022-04-25 10:26] pierluigilenoci commented on #471
/remove-lifecycle stale

[2022-04-25 10:26] pierluigilenoci commented on #471
@kbasv @wongma7 @gezb @jsafrane @nckturner could you please take a look?

[2022-04-25 13:10] entscheidungsproblem opened #682 "Run containers with readOnlyRootFilesystem"
**Is your feature request related to a problem? Please describe.**
 Running containers with a read-only root filesystem--when feasible--is considered a best practice. Not doing so causes EFS CSI driver containers to get flagged by security scanners/linters/questionnaires/overzealous admission controllers.

**Describe the solution you'd like in detail**
 Support running some or all containers with

[2022-04-25 15:14] universam1 commented on #569
Facing this issue massively with huge impact on our infra @wongma7
Cycling the nodes is the only option we have which is a problem running hundreds of nodes.

It can be reproduced when the csi pods are restarted, and there can be several reasons for such as image updates, resource changes and so on

Please tackle this issue

[2022-04-26 09:23] mimmus commented on #310
It's an AWS hard-limit based on use cases.
I had a call with EFS engineers, they asked for details abouth this specific use case but don't give me any timeframe.

[2022-04-26 09:39] itsvshreyas commented on #310
We even have a use case to spin up more than 1000 Persistent Volumes. AWS does not support nfs-subdir-external-provisioner. Switching to AWS-CSI, which supports dynamic provisioning, now has its own issues with its hard limit. We have even had a case opened with EFS Engineers to see if we can get any changes to this in future versions at least. We will have to wait and see.

[2022-04-26 12:55] universam1 opened #683 "mounts hang when efs-csi-node pods are restarted because of empty privateKey.pem"
/kind bug

**What happened?**

The same issue as #178 and #569, still not solved.

After the EKS driver container is replaced (i.e. by terminating the driver process or upgrading the driver to a new image), all existing mounts on that node hang for 1 hour

[code]

## Reason

`privateKey.pem` that is persisted on the node happens to become an **empty file**, but the [check is not able to detect tha

[2022-04-26 13:21] universam1 commented on #683
/cc @dimitriosstander

[2022-04-26 13:42] msolberg8 commented on #616
@Cappuccinuo it seems to me that the EFS Utils stunnel watcher runs on a 5 minute interval.
![image](https://user-images.githubusercontent.com/26940792/165313141-9d927fee-78cb-42fb-83c6-eff9b503d280.png)

Are we able to speed it up on our end? We were acustomed to the 60 second interval with the fix above.

[2022-04-26 13:44] Cappuccinuo commented on #616
@msolberg8 Yes this can be changed on the instance efs-utils config file(/etc/amazon/efs/efs-utils.conf), https://github.com/aws/efs-utils/blob/master/dist/efs-utils.conf#L67-L70

[2022-04-26 13:59] universam1 commented on #683
@wongma7 provided a potential solution: https://github.com/aws/efs-utils/pull/130

[2022-04-27 10:56] steveizzle commented on #668
I am not from the project, but this is a quote from [https://aws.amazon.com/blogs/containers/introducing-efs-csi-dynamic-provisioning/](https://aws.amazon.com/blogs/containers/introducing-efs-csi-dynamic-provisioning/)

_Note that the actual storage capacity value in the persistent volume claim is not used, given the elastic capabilities of EFS. However, since the storage capacity is a required fi

[2022-04-27 15:34] NBardelot commented on #683
Somehow we've encountered the bug today with the driver in version 1.3.3 after a rollout where we wanted to restart the driver for all the cluster.

At first it looked like a mount issue (unbound immediate PersistentVolumeClaims).
The socket returning a "connection refused" made us think of a network issue, but our security groups for the EFS Access Points were OK...
It's only after a while that t

[2022-04-27 17:30] xesco opened #684 "Add `imagePullSecrets` to the service account template"
**Why is this needed**

Adding the `imagePullSecrets` to the service account template has a few advantages:

- It looks cleaner
- It is added only in one place: the service account
- The change only propagates to the pods, not the deployment or daemon set.
- It seems to be the way of doing this, according to the [Kubernetes official docs](https://kubernetes.io/docs/tasks/configure-pod-container/co

[2022-04-28 16:37] M-JobPixel opened #685 "Helm chart fails with pulumi created EKS cluster"
/kind bug

**What happened?**

I created an EKS cluster using pulumi https://www.pulumi.com/blog/easily-create-and-manage-aws-eks-kubernetes-clusters-with-pulumi/ then. This seems to automatically install the csidriver
[code]
When I then try to apply the helm chart, also through pulumi, I get a warning:
`warning: This resource contains Helm hooks that are not currently supported by Pulumi. The res

[2022-04-28 17:38] M-JobPixel commented on #685
I tried uninstalling the chart from using pulumi and then installing it by hand with helm directly and it manages to not fail then.

I assume the hooks cope with an already installed csi-driver, and thus this issue is really with Pulumi not supporting the helm hooks and not with your chart,

[2022-04-28 17:38] #685 closed

[2022-04-28 17:59] msolberg8 commented on #616
@Cappuccinuo thanks!!

Any idea why now all of a sudden stunnel needs a healthcheck? While we're very thankful for the update, this seems like a bandaid rather than a root cause fix.

Also, are there plans to update the helm chart to support easier configuration of the stunnel healthcheck?

[2022-04-29 08:44] libcthorne commented on #294
/remove-lifecycle rotten

[2022-04-29 13:53] MatteoMori opened #686 "Regional STS endpoint is not in chart (v2.2.6) anymore"
/kind bug

**What happened?**
I have a private cluster and I am trying to configure regional STS. I can see that v2.2.5 of this chart does support [regional endpoints](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/helm-chart-aws-efs-csi-driver-2.2.5/charts/aws-efs-csi-driver/values.yaml#L79) while v2.2.6 does not have an option anymore.

Is the process different now?

thanks!

[2022-04-29 14:37] bodgit commented on #433
@MatteoMori as far as I know it's been fixed since v1.3.0, but you need to make sure you're setting `AWS_STS_REGIONAL_ENDPOINTS=regional` as an environment variable for the Pod.

[2022-05-01 15:48] #590 closed

[2022-05-01 15:51] Anticom commented on #668
So if I'm understanding you correctly what you're saying is that the specified limits are not enforced?

[2022-05-01 19:51] #555 closed

[2022-05-02 20:58] #502 closed

[2022-05-03 09:48] universam1 commented on #611
/remove-lifecycle stale

[2022-05-03 16:27] artificial-aidan commented on #616
+1 to setting this with the helm chart. Updating all of the node groups with custom launch templates is quite the chore to configure this one setting.

[2022-05-04 01:21] uclaeaslam commented on #300
I would also like this fixed. Was using the old [efs-provisioner](https://github.com/kubernetes-retired/external-storage/tree/master/aws/efs) and trying to upgrade to this. I'm running the standard [wordpress](https://hub.docker.com/_/wordpress) containers, which does some chmod/chgrp at the beginning for stuff in `wp-content` folder, which will fail as everyone else above describes.

For now, abl

[2022-05-04 17:42] ihatecodingaf commented on #635
@jgoeres We were facing a similar kind of issue. Seems like the efs version needs to upgraded to v1.3.7 . After this change we did not notice this issue.

[2022-05-04 19:19] zoramthanga commented on #635
We're hitting the same issue with efs-csi driver v1.3.4. Can anyone else confirm whether v1.3.7 might have fixed the problem? cc: @wongma7

[2022-05-05 06:59] jonathanrainer commented on #586
See PR #687 for a solution to this

[2022-05-05 12:37] janaurka commented on #564
BTW: this can be fixed with overwriting the default values file with:

[code]
so https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/595 is essentially too complicated, since it’s also changing the Container Registry.

If the above mentioned solution does not work for you _and_ you are using a k8s version <1.12, then look at the compatible images under: https://gallery.ecr.aws/eks-distro/ku

[2022-05-06 11:21] pulecp commented on #474
/remove-lifecycle rotten

[2022-05-06 18:37] jonathanrainer commented on #596
This PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/689 adds support for these tags

[2022-05-06 19:36] bwinter opened #690 "I would like an option to use EFS that doesn't require modifying node instancy policies."
**Is your feature request related to a problem? Please describe.**
I am working with clusters where I don't have control over node provisioning. Currently the [EFS CSI driver installation documentation](https://github.com/kubernetes-sigs/aws-efs-csi-driver#set-up-driver-permission) shows the driver only supports IAM instance policy options for granting it permission to talk to EFS.

Possibly obvio

[2022-05-06 19:45] jonathanrainer commented on #634
This is being addressed in #615 :)

[2022-05-07 07:04] jonathanrainer commented on #611
Had a look into this on my own EKS Cluster, I set it up with the latest chart (2.2.6) running 1.3.8 of the software and put a storageClass into the cluster that has `async` in the mount options then you see the following:

[code]

So the option is being passed into the mount command that the driver is making. Now if you then log into the pod and run `mount` to list the mounts you see the following

[2022-05-07 12:21] #577 closed

[2022-05-08 11:33] #597 closed

[2022-05-09 09:45] wolffberg commented on #543
/remove-lifecycle stale

[2022-05-09 13:08] murali-krishna opened #691 "Add documentation on what metrics `vol-metrics-opt-in` expose"
There is no documentation on how and what metrics are exposed when vol-metrics-opt-in (volMetricsOptIn in helm chart) is set to true. It would be great if a list of metrics and how these metrics get exposed is provided in docs.

[2022-05-10 10:36] dheerajgss opened #692 "Add tags to dynamically created Access Points using YAML file"
**Is your feature request related to a problem? Please describe.**

Whenever an access point is created dynamically using PV/PVC with the help of the EFS CSI driver, there are no tags associated with it to identify which PVC it belongs to (or) there is no way to add tags using the YAML file to categorize which pods/deployments are using those access points.

For example, if I want to use an access

[2022-05-10 17:13] dheerajgss commented on #692
#689 partially covers the requirement, but if I want to categorize my access points in a much-refined way (like application level or pod level as mentioned in my initial description) then these static tags would not help me.

[2022-05-10 17:20] jonathanrainer commented on #692
Ah yes I see what you mean. Would you be happy to be able to set the tags per StorageClass? Or do you need it more fine grained than that?

[2022-05-10 17:25] dheerajgss commented on #692
StorageClass settings would help I guess. I don't have any ideas about fine graining it as of now😅.

[2022-05-10 19:08] pranavgaikwad commented on #300
@wochanda any reason why the driver cant make UID/GID enforcement optional just like it is in AWS console?

[2022-05-11 05:56] kyanar opened #693 "efs-plugin crash loops when a storage class is created with a fixed uid and gid, and access point creation fails"
/kind bug

**What happened?**
I created a storage class attached to an EFS file system. As soon as the EFS CSI driver became aware of it, the efs-plugin container crashed and began crash looping with the following exception:

[code]

CloudTrail indicated that the CreateAccessPoint call failed due to the identity-based policy not granting permission to perform the action on the specified file syste

[2022-05-11 19:07] David-Krupa opened #694 "Golang 1.17.8 vulnerabilities regarding PEM data and panic via long scalar input at HIGH severity"
/kind bug

**What happened?**
Container scanning tools discovered a couple of HIGH severity critical CVE's from the National Vulnerability Database (NVD).

- CVE-2022-24675    This vulnerability has been modified and is currently undergoing reanalysis. Please check back soon to view the updated vulnerability summary. encoding/pem in Go before 1.17.9 and 1.18.x before 1.18.1 has a Decode stack over

[2022-05-11 20:36] richerve commented on #543
I also have a need for this, what I'm thinking is having an admission controller that will add a `/<namespace>` prefix to any PVC using storageClass `efs-<something>` or whatever I use as storageClass name. But this is an extra step.

Having said that it seems that this kind of behaviour is better handled by an operator than by a csi driver but in this specific case it'd probably be just an extra

[2022-05-11 23:15] murali-krishna commented on #691
Does anyone have any idea on this?

[2022-05-12 00:09] kyanar commented on #693
Upon review I discovered that the issue was that the Access Point creation failed with an Access Denied error. This should result in an appropriate message being output into the efs-plugin container's standard output, but before the message being output is a call to d.gidAllocator.releaseGid which segfaults since if a fixed uid and gid is provided, GidAllocator.initFsId was never called and as suc

[2022-05-12 07:53] tsmetana opened #695 "Volumes can get mounted multiple times, preventing pod deletion"
/kind bug

**What happened?**
Trying to delete pod that's using multiple EFS volumes fails very frequently due to failure to unmount the EFS volumes. This seems to happen because some of the volumes got mounted multiple times (with different stunnel port) and kubelet will not attempt to unmount them.

**What you expected to happen?**
If I ask for 10 EFS volumes, the driver would mount 10 volumes a

[2022-05-12 08:03] BlackDark commented on #686
Maybe something is fishy with release script or automation? the variable and code is still available on the master branch and somehow got dropped between the tagging?

[2022-05-12 16:37] andyguwc commented on #522
Using this new policy fixed the issue, as OP mentioned earlier, the old policy had the condition filtering wrong.
https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/d8bc07389b00821f1c6f2dde9e37dda9c29a2385/docs/iam-policy-example.json

[code]

[2022-05-13 09:49] fbrousse opened #696 "Unable to create PVC due to missing ClusterRole access to secret for dynamic efs"
/kind bug

**What happened?**

The creation of a PVC fails due to missing permissions when using dynamic EFS provisioning.
We can see this error log in the efs-csi-controller pod :

`I0513 07:49:31.449884       1 event.go:282] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"my-ns", Name:"fbr-testing", UID:"7fb0a868-4237-40ed-adac-d7d1a62c2acf", APIVersion:"v1", ResourceVersion:"3

[2022-05-13 09:54] universam1 commented on #696
related to #677 #674 ?

[2022-05-15 04:23] #588 closed

[2022-05-17 17:00] bwinter commented on #690
Oh cool. Maybe the ask here is to update the docs and add an example?

[2022-05-19 07:03] juanise opened #697 "error: git cmd = '/usr/bin/git checkout FETCH_HEAD': exit status 128"
/kind bug

What happened?
If I try to install driver with:
kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/ecr/?ref=release-1.3"
or
kubectl apply -k "github.com/kubernetes-sigs/aws-efs-csi-driver/deploy/kubernetes/overlays/stable/?ref=release-1.3"
I get an error
error: git cmd = '/usr/bin/git fetch --depth=1 origin release-1.3': exit status 128
Wha

[2022-05-20 08:22] lebetz opened #698 "volMetricsOptIn not working correctly in helm chart"
/kind bug

**What happened?**
If you set controller.volMetricsOptIn to true, it adds `--vol-metrics-opt-in=true` to controller deployment.
But that parameter has to be set for the nodes.

**What you expected to happen?**
The helm chart should add `--vol-metrics-opt-in=true` to node daemonset.

[2022-05-22 05:18] #490 closed

[2022-05-22 20:31] lmouhib commented on #280
/reopen

[2022-05-23 14:02] vchepkov commented on #280
/remove-lifecycle rotten

[2022-05-23 14:02] vchepkov commented on #280
/reopen

[2022-05-23 14:03] vchepkov commented on #280
Could anybody from maintainers re-open this ticket, please?

[2022-05-24 11:34] zonybob opened #699 "Support custom CA bundles in disconnected regions"
**Is your feature request related to a problem?/Why is this needed**

When using the driver in disconnected partitions/regions, there is a need to mount a volume for a custom CA bundle and sometimes to also set `AWS_CA_BUNDLE` when AWS calls are needed for describing mount target IP addresses. The helm chart does not allow variables and templating for these, and I have resorted to manually editing

[2022-05-25 20:37] vmga-crisnevares commented on #489
@AndrewFarley This has been fixed in the master branch, but none of the subsequent releases ([v1.3.8](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/v1.3.8/docs/iam-policy-example.json), [helm-chart-aws-efs-csi-driver-2.2.6](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/helm-chart-aws-efs-csi-driver-2.2.6/docs/iam-policy-example.json)) include this fix.

_(Sorry, I know th

[2022-05-29 14:21] saeed617 commented on #125
I think this is similar to [vsphere-csi's issue](https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/370). [kubelet](https://github.com/kubernetes/kubernetes/blob/94f372e501c973a7fa9eb40ec9ebd2fe7ca69848/pkg/volume/csi/csi_mounter.go#L383) ignores fsGroup if fsType is empty.
so setting `csi.storage.k8s.io/fstype: ext4` in storage class parameters should fix the problem but I can't test th

[2022-05-31 10:08] V0lantis commented on #325
Seeing the same issue on the latest version of CSI driver

[2022-05-31 19:34] msolberg8 commented on #616
@Cappuccinuo is there any plan in place to upgrade the stunnel in the official version to 5.63?

From what I understand stunnel is pulled in when aws-efs-utils is installed. Would it be worth making an issue over there?

And to answer your question above yes we would need to set that up at the node level which we'd rather not do. We try and keep the nodes as plain jane as we can.

[2022-05-31 23:21] #594 closed

[2022-06-01 01:10] Cappuccinuo commented on #616
Yea we are working on efs-utils side, you can track https://github.com/aws/efs-utils/issues/99. We need to coordinate with repository side to publish stunnel 5.x.

[2022-06-04 03:57] SizZiKe commented on #325
@k8s-ci-robot help

[2022-06-04 11:39] #575 closed

[2022-06-06 10:48] martinhaus opened #704 "Migration from efs-provisionser"
I'm looking for some steps or points about a migration from [the old efs-provisioner](https://github.com/kubernetes-retired/external-storage/tree/master/aws/efs) to aws-efs-csi-driver. Since the driver now supports dynamic provisioning as well, it should be able to fulfil the same purpose why we original chose to use efs-provisioner.

There was [one](https://github.com/kubernetes-sigs/aws-efs-csi-

[2022-06-07 01:02] ldemailly commented on #616
subscribing as we have a similar issue but killing stunnel doesn't fix it for us still

Jun  7 01:00:38 [ip] kernel: nfs: server 127.0.0.1 not responding, timed out

is there some other things to check/restart ? (vs killing the node; I'd like to understand how it gets in this state and a workaround to unblock it)

[2022-06-07 01:06] ldemailly commented on #616
edit: killing these 2 processes (ps btw was hanging too!)
[code]

and back to
[code]

[2022-06-08 00:56] usrbinsam opened #705 "efs-plugin - panic: runtime error: invalid memory address or nil pointer dereference"
/kind bug

**What happened?**

When launching a pod with dynamic provisioning, the controller goes into CrashLoopBackOff.

**What you expected to happen?**

PVC to become ready, Pod to become ready, and no CrashLoopBackOff.

**How to reproduce it (as minimally and precisely as possible)?**

Using the PVC & Pod from the example:

[code]

**Anything else we need to know?**:

Deploying to an `m6g.med

[2022-06-08 01:19] usrbinsam commented on #705
Appears to be a duplicate of #693

[2022-06-08 01:19] #705 closed

[2022-06-08 06:37] yevgeny-kushnir commented on #616
In our case the NFS issue was triggered by a pod overloading the node. We got it resolved by setting resource limits to the problematic deployment.

[2022-06-08 06:57] sedflix commented on #616
I'm facing exactly the same issue as pointed by https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/616#issuecomment-1022959423

k8s version: v1.21.12-eks-a64ea69
aws-efs-csi-driver: v1.3.3

Killing the stunnel process, as mentioned by in https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/616#issuecomment-1022959423 and https://github.com/kubernetes-sigs/aws-efs-csi-driver/issue

[2022-06-08 13:55] Shunpoco commented on #589
I had the same issue in my EKS cluster that uses both fargate nodes and EC2 nodes.

Because my fargate profile forces schedulers to use a fargate node when I deploy a pod on `kube-system`, I caught the exact same error as you.
So in my case, I created another namespace and deploy the service account and other resources from Helm on this new namespace, and finally it worked fine.

[2022-06-10 23:21] jbehrends opened #709 "Can't create a PVC using the "Dynamic Provisioning" example on EKS using IRSA in a private VPC."
/kind bug

**What happened?**
Followed the dynamic_provisioning example in this repo.  The StorageClass creates fine, then after applying the PVC, the controller throws the following error:
[code]
As you can see, the second line in the above log snippet shows the controller calling "elasticfilesystem:DescribeFileSystems" against the file system id, it gets a response back.  Then it calls "elasticf

[2022-06-11 20:49] #613 closed

[2022-06-15 05:49] jonathanrainer commented on #280
#710 This PR should resolve these problems I think

[2022-06-16 01:44] bwinter commented on #690
One of my biggest struggles with those EKS docs is I am not using EKS. Converting those instructions which are so EKS heavy is not triavl for me, specific documentation - similar to what ebs has would be nice. Additionally, all I really need to do with ebs is add an account secret to the cluster - where it looks like I need to do some surgery on the efs manifests any time I want to update them / i

[2022-06-16 08:40] ilvez commented on #564
When driver was installed with Helm, I used this command to update image:
[code]

Your setup may vary -- namespace, deployment name.

[2022-06-16 10:45] tavin commented on #393
So it seems that we can specify uid and gid in the StorageClass now. Thanks @nicolas-geniteau et al. for the improvement.

Is it not technically possible to specify uid and gid in the PersistentVolumeClaim instead of the StorageClass?

[2022-06-16 12:11] jonathanrainer commented on #393
@tavin Sadly no it isn't if you look at the API Documentation for PersistentVolumeClaims, they don't carry a huge amount of information (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#persistentvolumeclaim-v1-core). StorageClasses have the nice property that the `parameters` field is just a collection of key, value pairs so you can put arbitrary data into them and then interp

[2022-06-16 15:46] tavin commented on #393
@jonathanrainer Could the driver be programmed to look at some custom annotations on the PVC?

[2022-06-16 18:35] #614 closed

[2022-06-16 20:45] bwinter commented on #697
As a workaround you might try adding `&timeout=90s` to your url. That got me past the same error in a similar context.

[2022-06-17 21:09] bwinter opened #713 "Instructions for installing EFS CSI driver on non-EKS clusters."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

I would like to use the EFS driver in a non-EKS cluster.

**Describe the solution you'd like in detail**
A clear and concise description of what you want to happen.

I would like documentation on how to do this. Or if it is not possible, mention that explicitly.

**Additional

[2022-06-18 12:55] #617 closed

[2022-06-19 00:55] #520 closed

[2022-06-20 18:24] wmgroot opened #715 "Allow dynamic provisioning to use the same access point between multiple PVCs and Namespaces"
**Is your feature request related to a problem? Please describe.**
We currently have a desire to share the same EFS path between pods in different namespaces. I could set this up using static provisioning and explicit PV specifications, but I would need to create a PV for each supported namespace, since each PVC can claim one and only one PV.

We would like to support attaching a shared EFS path a

[2022-06-20 19:00] jonathanrainer commented on #715
If you look at the implementation in #640 that would solve your problem wouldn't it? You could set the subPathPattern to be deterministic/templated depending on what you want and setting ensureUniqueDirectories to false would mean you would get the sharing behaviour you want. Like you say you'd need to take care but wouldn't that work?

[2022-06-23 02:13] AlexandreBrown opened #726 "EFS Dynamic provisioning : gid & uid ignored parameters are ignored"
/kind bug

**What happened?**
The access point created from a storage class with `uid` & `gid` specified was created with an arbitrary `uid` and `gid` that does not reflect the specified parameters.
**What you expected to happen?**
I expected the files/folders created to be owned by the specified `uid` & `gid` specified in the storage class parameters.
**How to reproduce it (as minimally and preci

[2022-06-23 19:22] sidewinder12s commented on #587
/remove-lifecycle stale

[2022-06-23 19:31] ptwohig opened #728 "Pod Fails with: 0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod ports. efs"
/kind bug

**What happened?**

Deploying via helm, the EFS driver will attempt to run two pods. One pod runs fine, one pod fails with the following message:

```0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod ports. efs```

**What you expected to happen?**

I'm not sure the intended behavior. I suspect that:

* All pods start up properly.
* Two pods using the same p

[2022-06-23 20:15] ptwohig commented on #728
Yep. Confirmed that by adding a second node to my pool solves the issue.

[2022-06-24 10:01] madhanshanmugam commented on #616
Faced exact same issue., we were using 1.3.6 tag

**Observations**
- Node load avg keeps increasing (In some nodes with 16 core it went high as 3k)
- We can observe  nfs: server 127.0.0.1 not responding, timed out
- Our main app process completely stuck trying to access the disk.
- df or ls from the problematic mounted directory hangs

For us, the tunnel process went defunct we have to tweak worka

[2022-06-25 20:23] jonathanrainer commented on #393
@tavin So unfortunately not, while it's a very good idea in principle it would require changes to the `external-provisioner` a tool used to monitor the Kubernetes objects that get created (PVCs) and to create PVs on the back of that. While that has been supplemented with passing through some metadata in the recent past there are a lot of opinions on whether that should be extended any further: htt

[2022-06-26 16:47] SpoddyCoder commented on #611
I've been unable to get `fsc` mount option to work when specifying at the StorageClass level...

[code]

The resulting mount in the pod does not have the option applied...

[code]

Moving the mount option to the PV instead...

[code]

Works, the pod mount shows the option being applied...

[code]

This is on a `1.24.1` cluster. The `fsc` mount option is used for `cachfilesd` support - which can he

[2022-06-27 10:32] jonathanrainer commented on #726
Hi @AlexandreBrown I've had a look into this and I think you just need to use a slightly later version of the driver. I know there were some issues around exactly when this fix was included, but I just spun up a cluster running Helm Chart 2.2.7/App Version 1.4.0 and the GID/UID got passed through without problem.

My storage class looked like the following:
[code]

Which then when I created a PVC,

[2022-06-27 16:32] wmgroot commented on #715
Thanks for the reply, I'll give that a try and report back.

[2022-06-28 10:12] andre-lx commented on #516
if anybody came across this issue :

`Warning  Failed     9s (x4 over 22s)  kubelet, ip-10-46-139-167.ec2.internal  Error: failed to create subPath directory for volumeMount "efs-volume-1" of container "app"`

ensure you are not writing to the root `/`. Set it as `/efs` for example

[2022-06-28 22:00] AlexandreBrown commented on #726
@jonathanrainer Thanks a lot for your help, you were right, using `v1.4.0` fixed my issue!

[2022-06-28 22:00] #726 closed

[2022-06-28 22:24] chrishenzie commented on #540
/remove-lifecycle rotten

[2022-06-30 12:04] ganesh-katakam-T18451 commented on #641
Any update?

[2022-07-01 00:07] artificial-aidan commented on #642
/remove-lifecycle stale

[2022-07-01 07:03] NSenaud commented on #673
We are affected by this issue as well, in our case we don't need to replace the node however: killing the `efs-csi-node` Pod on the affected node fixes the load issue.

[2022-07-01 07:52] jgoeres commented on #517
I think this issue should be reopened. Even if we might not get an implementation that does not use an AP for each PV(C), at least the APs for released PV(C)s should be deleted, IMO.
We are currently working on a project where we deploy a lot of applications to a cluster each day and delete the ones from the day before, each having multiple EFS-backed PVCs. This leads to a lot of newly "Released"

[2022-07-01 23:21] hrpatel commented on #673
@NSenaud - nice!
Does that affect any running pods on the node that have volumes mounted?

[2022-07-02 17:44] #628 closed

[2022-07-03 11:50] #630 closed

[2022-07-04 02:01] thesuperzapper commented on #538
@paalkr @jgoeres it seems like @jonathanrainer is proposing a directory-based approach (not using access points) in PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/732, you may want to check it out!

But in the mean time, the official [`NFS CSI Driver`](https://github.com/kubernetes-csi/csi-driver-nfs) already uses a directory-based approach (so has no 120 limit), and works with any

[2022-07-04 02:02] thesuperzapper commented on #517
@jonathanrainer is proposing a directory-based approach (not using access points) in PR https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/732, you may want to check it out!

But in the meantime, the official [`NFS CSI Driver`](https://github.com/kubernetes-csi/csi-driver-nfs) already uses a directory-based approach (so has no 120 limit), and works with any arbitrary NFS servers (including

[2022-07-04 02:04] thesuperzapper commented on #517
@Ashley-wenyizha @wongma7 @jsafrane this issue is critical (and still present), can one of you please reopen it?

[2022-07-04 06:53] NSenaud commented on #673
@hrpatel It doesn't, but in our case we only use the EFS volumes when the Pods are starting, so you should test on your own workload in a non-production environment :)

[2022-07-05 06:27] thesuperzapper commented on #125
We should be able to fix this by setting [`fsGroupPolicy: File`](https://kubernetes-csi.github.io/docs/support-fsgroup.html) in our `CSIDriver` spec, which allows Kubernetes to change file permissions regardless of `fstype`.

This is how the [NFS CSI Driver](https://github.com/kubernetes-csi/csi-driver-nfs) did it in 2021, see PR: https://github.com/kubernetes-csi/csi-driver-nfs/pull/206

Here are

[2022-07-08 01:25] #633 closed

[2022-07-08 14:34] #589 closed

[2022-07-08 15:22] RomanBednar opened #735 "GID range parameter change requires pod restart"
/kind bug

**What happened?**
In order to effectively change `gidRangeStart` and `gidRangeEnd` values defined in StorageClass the EFS controller pod currently requires a restart.

This is because the driver maintains [*one* GID cache per fileSystemId](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/pkg/driver/gid_allocator.go#L56). It's initialized when the first volume is provis

[2022-07-13 15:47] plockaby opened #736 "Remove hostNetwork from Helm chart"
/kind bug

**What happened?**

Now that #681 has been merged and released, allowing `hostNetwork` to be removed from configurations, can the helm chart be updated to remove `hostNetwork`?

https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/5e1fcd3e915d62d3b091c6de780ff9e6816f3a7b/charts/aws-efs-csi-driver/templates/node-daemonset.yaml#L52

**What you expected to happen?**

I expect no host

[2022-07-14 05:36] adammw opened #737 "Allow enabling stunnel_logs_file"
**Is your feature request related to a problem?/Why is this needed**
Currently the template hard-codes a commented-out stunnel_logs_file, preventing users from turning on stunnel logging if they are encountering issues.

/feature

**Describe the solution you'd like in detail**
Ability to have a flag to turn on stunnel logs.

[2022-07-14 19:22] Ashley-wenyizha commented on #652
/close

[2022-07-14 19:23] Ashley-wenyizha commented on #649
/close

[2022-07-14 19:24] #649 closed

[2022-07-15 06:52] RomanBednar commented on #735
@wongma7 Hi Matthew, do you thing can we expect a fix for this issue?

[2022-07-15 11:53] lefterisALEX opened #739 "Allow seting updateStrategy"
Default setting of the chart do not allow defining the updateStrategy of controller deployment neithe daemonset.
I made this [PR](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/740) which will allow this to be configured in `values.yaml`

[2022-07-15 16:09] 0x0013 commented on #635
We were having this issue regularly with helm chart up to v2.2.4 (driver v1.3.6). After updating to chart v2.2.6 (driver v1.3.8) the reports of this issue stopped for more than a month.
But today, after yesterday updating to chart v2.2.7 (driver v1.4.0), we experienced the same issue today.

The behavior was the same as I noticed previously - same EFS volume mounted on different paths, and also co

[2022-07-18 12:00] gregopenit commented on #709
Hello,
Same here, with both aws-efs-csi-driver v1.3.5 or v1.4.0.
I have IRSA and a STS regional endpoint.

Curiously it was working fine until last week.

[2022-07-18 14:16] Cagafuego commented on #474
Any chance of an update on this? We are still seeing this even in v1.4.0.

[2022-07-18 17:21] shyamsubbu commented on #476
why all needed things are closed in K8. efs-csi-driver ? EFS backup and restore PVC is essential for K8 aws recovery .
First there is no snapshot support in EFS CSI Driver
Second, there should be a staright forward way to restore pv pvs with fileaccess points with AWS backup restore

[2022-07-19 13:29] gregopenit commented on #709
@jbehrends, I found a workaround by changing the policy.

I am using [the one](https://raw.githubusercontent.com/kubernetes-sigs/aws-efs-csi-driver/master/docs/iam-policy-example.json) provided by [the documentation](https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html).

But for a reason I cannot explain yet (Cloudtrail only shows the call "elasticfilesystem:CreateAccessPoint"), I need t

[2022-07-19 16:15] Cushdrive commented on #596
What's it going to take to get some focus on the PR? Without this implementation, we have to associate overly permissive IAM policies to the node or pod. We would like to use ABAC based on request and resource tags.

[2022-07-19 18:19] dschunack opened #741 "Remove deprecated NodeSelector"
Hi,

beta.kubernetes.io/os is deprecated since v1.14 and it make no sense to set this in the template.
It's better and also best practice to set this in the values.yaml.

The new NodeSelector is kubernetes.io/os

https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/c3eaccfc13ff175db8bcdea6da00c3d0b0732c2f/charts/aws-efs-csi-driver/templates/node-daemonset.yaml#L39

[2022-07-24 06:49] kyanar commented on #693
PR #733 will solve this if/when it gets merged or superceded.

[2022-07-25 04:38] #603 closed

[2022-07-25 08:59] pierluigilenoci commented on #471
@kbasv @wongma7 @gezb @jsafrane @nckturner could you please take a look?

[2022-07-25 09:02] pierluigilenoci commented on #471
/remove-lifecycle stale

[2022-07-26 05:52] TBeijen opened #742 "Not able to mount volume: Please set the "region" parameter in the efs-utils configuration file"
/kind bug

**What happened?**

A PVC provisioned by aws-efs-csi-driver, previously mounting fine, fails to mount after pod restart due to an error seemingly originating from efs-utils:

[code]

**What you expected to happen?**

PVC mounting fine

**How to reproduce it (as minimally and precisely as possible)?**

Not (yet) clear since all other PVCs using same storageclass, on same and identical cl

[2022-07-26 07:00] dschunack commented on #741
PR created

[2022-07-26 08:31] TBeijen commented on #742
Deleting the specific efs-csi-node pod, then after it got replaced killing the statefulset pod that tried to mount the PVC, seems to have 'fixed' things.

Not knowing the ins and outs of hwo the efs-csi-node interact, it kinda looks like the pod got into a bad state, losing it's ability (or stored state) that let's it determine the region.

[2022-07-26 12:53] lintong commented on #300
I see the same issue in my stack @nickperkins

[2022-07-26 15:29] juanise commented on #697
Thank you i'will try your solution. But finally I clone the repository and execute kubectl apply -k  locally

[2022-07-26 19:17] universam1 commented on #683
/remove-lifecycle stale
Kindly asking for review @wongma7

[2022-07-27 09:37] griff92 opened #744 "Dynamic provisioning persistentVolumeReclaimPolicy how to change from Delete in helm chart"
Hi

I am trying to work out how to update the persistentVolumeReclaimPolicy from Delete to Retain via the helm chart.

Could anyone assist please?

Thank you

[2022-07-27 16:20] mirajranpura opened #745 "FIPS endpoint for EFS CSI Driver"
/kind bug

**What happened?**

Enabling AWS FIPS endpoint for EFS CSI Driver using the environment flag **AWS_USE_FIPS_ENDPOINT** to true, the controller does not talk to FIPS endpoint for EFS Service, instead communicates to standard EFS Service endpoint in the respective region.

**What you expected to happen?**
All communication from controller pods to AWS Endpoints for the services must happen

[2022-07-28 19:22] sinkr commented on #709
I've been beating on this issue off and on w/ 2.2.7 chart for days.  No matter what I do, CloudWatch shows up as _ANONYMOUS_PRINCIPAL_.  I see the environment variables set for the role, however, I see no indication that the controller and nodes are trying to assume the role.

Any thoughts?

[2022-07-28 19:48] universam1 commented on #294
/remove-lifecycle stale

[2022-07-28 23:17] #539 closed

[2022-07-29 12:05] sinkr opened #746 "Cannot get efs-csi-node to Assume Role"
/kind bug

**What happened?**

Hello, thanks for your help in advance!

Chart 2.2.7 (I have also tried chart 2.1.5 to no avail):

_efs-csi-controller_, according to CloudWatch, correctly assumes the EFS role using the prescribed policy in the documentation [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/docs/iam-policy-example.json) and create an access point, however, _ef

[2022-07-30 12:31] #641 closed

[2022-08-01 06:45] zhoub opened #747 "Single EFS Limit"
Hi,

I have a question on EFS with K8s.

Assume we have 1 EFS, and a small K8s with 10 Nodes, each Node is executing Pod which requires good IO performance, each Node requires 100MiB throughput. Back to the EFS, single EFS could have maximal 1GiB Provisioned Throughput, then question becomes, how to deal with the more IO demand from more K8s Nodes ?

After checking all the example here, it seems t

[2022-08-01 16:58] padumergue commented on #635
My team is being impacted by the same issue. We mount three persistent volume over a single EFS volumes using dynamic provisioning. Our workload tries to read specific files from specific volumes and sometimes fails because of the miss-mount.

I tried digging a little and so far I'm thinking [efs-utils](https://github.com/aws/efs-utils) which provide the support for `mount -t efs` might be the sou

[2022-08-01 17:38] rmccarth commented on #713
Did you ever get an answer to your question @bwinter ?

[2022-08-01 17:39] rmccarth commented on #690
@bwinter did you get EBS working with a non-aws cluster? I would be interested in seeing your steps as I'm trying to do the same thing.

[2022-08-04 07:42] Shwethamuralikrishnaa opened #749 "Enable SecurityContext on container level"
Is your feature request related to a problem? Please describe.
We are not able to define containerSecurityContext, this causes efs-csi-driver containers to get flagged by security scanner.

Describe the solution you'd like in detail
The chart must support the containerSecurityContext.

Describe alternatives you've considered

Additional context

[2022-08-04 08:08] pierluigilenoci commented on #682
/remove-lifecycle stale

[2022-08-05 07:27] pierluigilenoci commented on #634
@jonathanrainer #615 seems to be quite stranded. 😢

[2022-08-05 07:27] pierluigilenoci commented on #634
/remove-lifecycle stale

[2022-08-05 07:32] pierluigilenoci commented on #634
@jonathanrainer maybe #740 maybe the 740 has better luck.

[2022-08-05 07:33] pierluigilenoci commented on #739
This is a clone of #634

[2022-08-08 06:53] ydinari opened #750 "Cross account static provisioning"
**Is your feature request related to a problem?/Why is this needed**
Can't create cross account static provisioning. With cross account dynamic provisioning a unique root directory is always created, which makes the data unsharable and unaccessible between provisioning events.

/feature

**Describe the solution you'd like in detail**
I should be able to create cross account static provisioning.

*

[2022-08-08 10:55] pierluigilenoci commented on #749
@wongma7 @Ashley-wenyizha @RomanBednar can you please take a look?

[2022-08-08 17:44] #643 closed

[2022-08-10 05:01] wolffberg commented on #543
/remove-lifecycle stale

[2022-08-11 07:34] pyromaniac3010 opened #753 "How to reduce the logging of the liveness-probe with helm chart 2.2.7"
How is it possible to omit the noisy logs from the liveness-probe container?
I tried using `node.logLevel: 0` in the helm chart, but this did not omit these logs:
[code]
Every daemonset sends out a logline every two seconds. I would love to know how to stop these logs completely.

/triage support

[2022-08-11 08:18] pyromaniac3010 commented on #753
To answer my own question:
you have to set the following options in helm:
[code]
It would be really nice, if this version would be the default in helm values.yaml

[2022-08-11 10:29] universam1 commented on #696
/remove-lifecycle stale

[2022-08-11 10:44] nicon89 opened #754 "ReclaimPolicy: Delete not working"
/kind bug

**What happened?**
PV doesn't reclaim storage after PVC has been deleted.
It's throwing an error:
[code]
**What you expected to happen?**
PV to reclaim storage after PVC removal.

**How to reproduce it (as minimally and precisely as possible)?**
Apply:
[code]
And remove PVC.

**Anything else we need to know?**:
N/A

**Environment**
- Kubernetes version (use `kubectl version`):
[code]

S

[2022-08-12 15:15] good92 commented on #694
https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/653

[2022-08-12 15:45] good92 opened #756 "Dead link on README.md at 'Uncomment annotations and put the IAM role ARN in service-account manifest'"
/kind bug

**What happened?**
Clicked on 'Uncomment annotations and put the IAM role ARN in "service-account manifest"'

It points to a removed/renamed file:
https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernetes/base/serviceaccount-csi-controller.yaml

Should we use this file instead? :
https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/deploy/kubernete

[2022-08-12 16:02] cqc5511 commented on #713
I agree this would be really helpful

[2022-08-12 20:12] dremmos commented on #728
@jonathanrainer Hey. Had the same issue with an old version of the driver. Can confirm that it is now working with 1 node and Helm Chart 2.2.7.

[2022-08-16 16:01] dobsonj commented on #695
/remove-lifecycle stale

[2022-08-16 16:28] David-Krupa opened #758 "GOLANG version throwing multiple HIGH CVEs"
/kind bug

**What happened?**
Container scanning tools revealed multiple high vulnerabilities in ou- of-date go version.

CVE-2022-28327
High
go-1.17.8

CVE-2022-24675
High
go-1.17.8

CVE-2022-30580
High
go-1.17.8

CVE-2022-32189
High
go-1.17.8

CVE-2022-30635
High
go-1.17.8

CVE-2022-30633
High
go-1.17.8

CVE-2022-30632
High
go-1.17.8

CVE-2022-30631
High
go-1.17.8

CVE-2022-30630
High
go-1.17.8

[2022-08-16 16:29] David-Krupa commented on #758
Bah disregard wrong repo

[2022-08-20 05:48] #499 closed

[2022-08-22 00:10] #454 closed

[2022-08-22 06:11] #650 closed

[2022-08-22 09:15] jgoeres commented on #517
I second reopening this issue. @Ashley-wenyizha @wongma7
However, there seems to be a kind of workaround that might work for those people that do not actually need more than 120 PVs at once backed by the same EFS share, but are running into the issue that we had (deletion of PVs not deleting the APs):
When using a storage class with ReclaimPolicy set to Delete, the deletion of the PVCs and subsequ

[2022-08-23 04:13] vinayan3 commented on #627
/remove-lifecycle rotten

[2022-08-23 10:13] ilvez commented on #564
The issue is still in the latest chart. I managed to fix it with downloading the chart and replaced sidecars.livenessProbe.image.tag
[code]
Then applied the upgrade:
[code]
Probably the parameter can be overwritten by invoking helm instead of `values.yaml` change, but I don't use Helm daily, so I didn't bother to look it up.

Please fix the helm chart :)

[2022-08-26 09:52] tsmetana commented on #635
Hello. I was wondering: I run into something that sounds very similar (issue #695). Does anybody see similar symptomps in the CSI node driver and kubelet logs (some volumes are mounted multiple times)?

[2022-08-26 12:33] pierluigilenoci commented on #749
@wongma7 @Ashley-wenyizha @RomanBednar can you please take a look?

[2022-08-30 05:48] FleetAdmiralButter commented on #517
I'm in support of reopening this issue as well @Ashley-wenyizha @wongma7. We just ran headfirst into the 120 AP limit and have little recourse other than migrating all our workloads to a different EFS/NFS driver.

If this project does not want to support alternate provisioning methods, the documentation should at least make it very clear that a maximum of 120 PVs per storage class are supported so

[2022-08-31 14:07] Anticom commented on #668
/remove-lifecycle rotten

[2022-09-02 16:01] #660 closed

[2022-09-05 14:08] OuFinx opened #763 "Could not start amazon-efs-mount-watchdog"
**What happened?**

I've two regions: main `us-east-1` and replica `us-west-1` (_Between regions I've configured VPC peering_)
EFS was deployed to the `us-east-1` region
EFS has two inbound rules for 2049 port for 172.240.0.0/16 (_vpc from the main region_) and 172.241.0.0/16 (_vpc from the replica region_)

EKS in `us-east-1` was connected to EFS - everything is OK.
EKS in `us-west-1` **can't** c

[2022-09-07 21:29] z0rc commented on #698
/remove-lifecycle stale

[2022-09-07 23:03] #460 closed

[2022-09-09 04:47] sedflix opened #764 "Failed to locate a free GID with delete-access-point-root-dir=true"
/kind bug

**What happened?**
We get `Failed to locate a free GID` error, which disappears **after restarting the efs-csi-controller**. We are also using `--delete-access-point-root-dir=true`.

Note, we are running a kuberhealthy-storage-check, which creates a new PVC and mounts it on all nodes one by by one followed by deleting the PVC. We had to enable `--delete-access-point-root-dir=true` so th

[2022-09-12 08:02] good92 commented on #694
* https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/722 Upgrade k8s to v1.22.2
* https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/758 GOLANG version throwing multiple HIGH CVEs

[2022-09-12 13:45] adeweetman-al commented on #280
We are interested in this - any updates please?

[2022-09-13 07:06] OuFinx commented on #763
I checked again and got the same result
What am I doing wrong?

[2022-09-14 19:44] CrisNevares commented on #474
Bump. We are also seeing this in production running v1.3.8. Some efs-plugin containers are consuming >800M each.

[2022-09-14 22:05] bryanasdev000 commented on #474
Just in case someone needs a updated info for @blodan tip, here is the Dockerfile that I am running in prod:

[code]

In big clusters I am seeing ~200mb usage per node, which is a lot better than a few GBs as is with the default image.

[2022-09-15 15:35] jgoeres opened #765 "Pods mounting EFS-CSI-driver-based volumes stuck in ContainerCreating for a long time because EFS volumes fail to mount (kubelet error "Unable to attach or mount volumes" [...] "timed out waiting for the condition")"
Hi,
we are using the EFS CSI driver (currently version 1.3.2) to provision EFS-based volumes to our workloads.
On one of our clusters is currently suffering from a situation where freshly deployed pods that mount such volumes are stuck in ContainerCreating (resp. "Init:0/<numInitContainers>" for pods with init containers) for a very long time. Pods that are part of that same workload but do not mo

[2022-09-15 22:49] dzjiang91 opened #766 "'[efs-csi] EFS CSI [Driver: efs.csi.aws.com] [Testpattern: Dynamic PV (block volmode)] volumeMode should fail in binding dynamic provisioned PV to PVC [Slow][LinuxOnly]' failed with local test bug fix"
/kind bug

**What happened?**
The test case _[efs-csi] EFS CSI [Driver: efs.csi.aws.com] [Testpattern: Dynamic PV (block volmode)] volumeMode should fail in binding dynamic provisioned PV to PVC [Slow][LinuxOnly]_ fails as following after locally fixing a test code issue:

**What you expected to happen?**
The test case should still pass.

**How to reproduce it (as minimally and precisely as possib

[2022-09-16 21:41] #639 closed

[2022-09-18 04:06] ackris commented on #499
Please reopen this issue. This error is persisting with dynamic provisioning with or without `basePath`.

The below needs to change from below

[code]

to

[code]

However, static provisioning is working with EFS.

**PS**: Only when `ref` is changed to `master` static is working.

[2022-09-21 12:04] #313 closed

[2022-09-21 20:51] sidewinder12s commented on #587
/remove-lifecycle stale

[2022-09-24 18:34] #684 closed

[2022-09-26 20:31] lmouhib commented on #280
This is now solved and is part of release 1.4.1

[2022-09-27 12:50] msolberg8 commented on #616
/remove-lifecycle stale

Still waiting for https://github.com/aws/efs-utils/issues/99 to be closed, then a new version of the driver should be available.

[2022-09-28 16:37] razvan-moj opened #774 "Mount using pod impersonation fails with "Volume context property not supported""
/kind bug

Driver installation works fine, using the latest 2.2.8 chart (https://github.com/ministryofjustice/cloud-platform-terraform-efs-csi/blob/impersonation/main.tf#L60), driver 1.4.1

FS, PV and PVC are created with no issues, using https://github.com/ministryofjustice/cloud-platform-terraform-efs-pv/tree/frist, called as just
[code]

test pod example:
[code]

pods get stuck in `ContainerCre

[2022-09-28 19:10] Ashley-wenyizha commented on #758
Hi @David-Krupa, could you update the efs-csi-driver version you have detected them?

Our release v1.4.0 and above contain CVE fixes for all the high Sevs CVE

[2022-09-28 19:26] David-Krupa commented on #758
It was for an older version

On Wed, Sep 28, 2022 at 3:11 PM Ashley-wenyizha ***@***.***>
wrote:

[2022-09-29 01:30] artificial-aidan commented on #642
/remove-lifecycle stale

[2022-09-29 08:21] avnerv commented on #764
Any update on this?

[2022-09-29 09:37] Tejasvihuded opened #775 "EKS : Dynamic provisioning doesn't auto recover PV when EFS Mount target AZ goes down"
**Is your feature request related to a problem?/Why is this needed**
aws-efs-csi-driver dynamic provisioning do not auto recover k8s PV when EFS mount target AZ goes down.

I am trying to Mount Amazon EFS file system cross-account from Amazon EKS. I am using dynamic provisioning feature of aws-efs-csi-driver .
I found an issue on High availability of EFS via Persistent Volume in EKS

**Below is my

[2022-09-29 17:08] chrishenzie commented on #540
/remove-lifecycle stale

I'm planning on graduating the feature to beta in 1.27. I'll want to update here before then.

[2022-10-01 05:26] jonathanrainer commented on #744
Hi, if this is still a problem you can actually set this on a per storage class basis. In the Helm Chart there's a `storageClasses` stanza where you can add a list of storageClasses and the chart will maintain them. An example might be something like

[code]

If you then install the chart and reference that storage class when you want to dynamically provision you should get the behaviour you're lo

[2022-10-02 08:55] #586 closed

[2022-10-03 11:56] mtavaresmedeiros commented on #765
I am with the same problem.
EFS version 1.4.2, cluster and nodes in kuberentes version 1.19.

@jgoeres
Did you find any solution?

Thanks

[2022-10-04 06:02] BigbigY commented on #765
Me too

[2022-10-04 14:36] jebbens opened #783 "Update the Kubernetes Version Compability Matrix in README.md for 1.4.x"
A user wants to look at the Kubernetes Version Compability Matrix in README.md to see what versions of Kubernetes will work with version 1.4.x.

/triage support

[2022-10-05 08:38] mazay opened #784 "1.4.2 changelog is missing"
/kind bug

**What happened?**

The [CHANGELOG](https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/CHANGELOG-1.x.md) is missing version 1.4.2

**What you expected to happen?**

I'd like to see the list of changes included in the 1.4.2 release.

[2022-10-07 18:47] #692 closed

[2022-10-09 00:58] #691 closed

[2022-10-09 10:04] #686 closed

[2022-10-10 06:16] yemkay commented on #338
We had same issue and had to specify volumeHandle in our PVC after creating accesspoint in the EFS file system. It solved the issue.

[2022-10-11 08:18] NSenaud commented on #673
It doesn’t, *but* in our case the EFS volume is only used when the application Pods are starting, so you should test on your own workload in non-production account first 🙂

[2022-10-12 04:45] tjdett commented on #784
I'm trying to work out why pod impersonation was removed in 1.4.2:
https://github.com/kubernetes-sigs/aws-efs-csi-driver/commit/863fa0b9c114920a4a3dd8d30f004961f185276d

It would be really helpful to have this changelog so I understand if 1.4.1 is broken, as there's no reference to why it was removed in #777 or #710 .

[2022-10-12 05:07] tjdett commented on #774
Is #777 related to this?

[2022-10-12 08:37] #694 closed

[2022-10-13 12:39] aramhakobyan commented on #616
We are  facing exactly the same issue !

[2022-10-14 05:25] rubroboletus commented on #784
It is always problem with new release. efs driver team is always pointing to CHANGELOG, but they always forget to update CHANGELOG.

[2022-10-15 13:21] debu99 opened #793 "Fargate statefulset pending when use volumeClaimTemplates(after restart then running)"
/kind bug

**What happened?**
Fargate Statefulset pending when use volumeClaimTemplates, the describe shows  `Warning  FailedScheduling  40s   fargate-scheduler  Pod not supported on Fargate: volumes not supported: efs-storage not supported because: PVC efs-storage-efs-app-sts1-0 not bound` but the pvc already created and bound
`persistentvolumeclaim/efs-storage-efs-app-sts1-0   Bound    pvc-a4bb9

[2022-10-17 10:06] djmcgreal-cc commented on #642
I'd love to see >120 AP supported, and this seems like a compelling approach from a usability perspective. Would be great if the MR get some attention to inform whether it's a goer from a technical or roadmap approach?

[2022-10-17 13:35] aramhakobyan commented on #616
@sedflix  - we are using 1.4.2

[2022-10-17 13:37] artificial-aidan commented on #642
FWIW I've been using this implementation since March without issues.

[2022-10-18 07:57] zhushendhh opened #795 "Does the Pod implementation feature support dynamic provision ?"
I am happy to see that the feature "Pod Implementation" was released in version 1.4.11

But I didn't see the example from the Github. From the below link, it only shows a example for static provision mode:
[examples/kubernetes/pod_iam_impersonation/README.md](https://github.com/kubernetes-sigs/aws-efs-csi-driver/pull/710/files#diff-71ad284fa68ed32ba2442a502ced05fb895a002ad18fff8c9254fc6e8f9a32f5)

[2022-10-18 08:17] zhushendhh commented on #795
Then how to deploy the CSI with podIAMAuthorization=true ?

I am tried to setup it via below command:
`helm upgrade -i aws-efs-csi-driver aws-efs-csi-driver/aws-efs-csi-driver \
    --namespace kube-system \
    --set image.repository=xxxxxxxxxxxxx.dkr.ecr.us-east-2.amazonaws.com/eks/aws-efs-csi-driver \
    --set controller.serviceAccount.create=false \
    --set controller.serviceAccount.name=ef

[2022-10-18 21:56] rajudevop commented on #564
issue: connection.go:153] Connecting to unix:///csi/csi.sock
Can someone explain me what is the root cause of this noisy logs(1 connection.go:153] Connecting to unix:///csi/csi.sock)? Does these relate to errors or cause errors?  How did  this image version (v2.6.0-eks-1-18-17) solved the problem of logs flooded? Please tell me if anyone knows. Thanks :)

[2022-10-19 11:02] keifgwinn commented on #564
https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/564#issuecomment-949517622 has the link to the issue on the liveliness probe, basically noisy logging decision in a sub component (golang connection library).

[2022-10-20 11:56] johnson-prabu commented on #284
It works

[2022-10-21 13:14] #699 closed

[2022-10-22 07:14] kyanar commented on #693
/remove-lifecycle stale

[2022-10-24 07:43] dschunack commented on #741
/remove-lifecycle stale

[2022-10-25 05:53] universam1 commented on #683
/remove-lifecycle stale

[2022-10-26 15:06] LucaSoato commented on #517
Why is this closed? This can be critical.

[2022-10-26 20:08] libcthorne commented on #294
/remove-lifecycle stale

[2022-10-26 20:40] Ropes commented on #392
For context of @azzy123's solution. The documentation to correctly create a the EBS-CSI Role can be found here: https://docs.aws.amazon.com/eks/latest/userguide/csi-iam-role.html

After creating the role, you'll need to select it when initializing the EBS-CSI Add-On, or edit the Add-On's settings to use the new role on a per cluster basis.

[2022-10-27 06:54] ktleung2017 commented on #765
Try setting resources requests for containers. Haven't seen this error for quite a while after adding them.
https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/325#issuecomment-948639653

[2022-10-27 11:29] sppwf commented on #627
Hi Guys,

Is it possible to work a little bit on this Issue?

Thanks
Sergiu Plotnicu

[2022-10-27 15:38] djmcgreal-cc opened #799 "PV with `spec.csi.readOnly: true` is mounted as writable"
/kind bug

**What happened?**

Created resources as per https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/kubernetes/static_provisioning except with [`spec.csi.readOnly: true`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.25/#csipersistentvolumesource-v1-core).

**What you expected to happen?**

Volume mounted as readOnly, but isn't

**How to reproduce

[2022-10-31 13:27] Shivam0609 opened #800 "Remove : Deprecation warning for **spec.template.spec.nodeSelector[beta.kubernetes.io/os]**"
**Is your feature request related to a problem? Please describe.**

`spec.template.spec.nodeSelector` in `efs-csi-node` DaemonSet still uses old `beta.kubernetes.io/os` , showing below warning

[code]
**Describe the solution you'd like in detail**

Would like this warning to be removed.

**Describe alternatives you've considered**

Alternative would be for me to pull chart and update template whic

[2022-11-01 05:40] prashant-shahi commented on #589
Any update on this issue?

[2022-11-01 18:26] BloodyIron commented on #489
I am having DNS resolution for the FQDN for the EFS mount point, and I can't for the life of me find why. The relevant Role has all the appropriate permissions, as outlined here, and AWS documentation ( https://docs.aws.amazon.com/eks/latest/userguide/efs-csi.html ).

We're using EFS as a CSI driver, and the CSI driver and various components are installed via YAML manifest via Flux (as our current

[2022-11-01 21:05] mauriciopoppe opened #807 "E2E tests can't run in kubernetes v1.25"
/kind bug

**What happened?**
kubernetes 1.25 started using ginkgo v2 however this repo is still using v1 and therefore the tests in https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/test/e2e/e2e.go will fail if the kubernetes version in `go.mod` is updated.

**What you expected to happen?**
The tests to run successfully in 1.25, maybe this repo should start using ginkgo v2 too.

*

[2022-11-01 21:29] mauriciopoppe commented on #807
More info: https://github.com/onsi/ginkgo/issues/945

[2022-11-01 21:44] mauriciopoppe commented on #807
I found out the issue by comparing two runs:

- 1.24 k8s cluster with the ginkgo binary from OSS v1.24 which is v1
- 1.25 k8s cluster with the ginkgo binary from OSS v1.25 which is v2

I think it depends on how the binary in `test/e2e` is run, we run it like this:

[code]

And then wrap the execution of the binary with the ginkgo binary from k8s:

[code]

In this specific scenario it fails, I'm no

[2022-11-01 22:08] BloodyIron commented on #489
The solution is that I was missing this storageClass ( https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/examples/kubernetes/encryption_in_transit/specs/storageclass.yaml )

The reason I was unsure that the storageClass was a "requirement" (for TLS encryption for EFS interfacing???) was because these examples didn't declare a storageClass, but other examples did, so it felt like it

[2022-11-02 11:19] njuettner commented on #742
/remove-lifecycle stale

[2022-11-02 12:45] FerencTothBARB opened #812 "helm chart v2.3.0 -> EFS CSI v1.4.3 -> missing '/usr/bin/stunnel'"
/kind bug

**What happened?**

On EKS 1.23 I tried to upgrade the EFS CSI helm chart from v2.2.9 to v.2.3.0, but the `efs-csi-node` Pods started to crash like this:
[code]
I had to roll back to v2.2.9 version.

**What you expected to happen?**

Smooth helm upgrade.

**How to reproduce it (as minimally and precisely as possible)?**

Upgrade EFS CSI helm chart from v2.2.9 to v.2.3.0.

**Anything els

[2022-11-02 18:44] markmcdowell commented on #616
Looks like it still happens. It does restart now but we get `[25514.302769] nfs: server 127.0.0.1 not responding, timed out` repeated.

[2022-11-02 19:15] AndrewFarley commented on #489
@BloodyIron Perhaps submit a bug (or PR) improving the documentation to suggest/request the end user adds a StorageClass.  To me, as a Kubernetes geek, in general, I know that any storage controller added into Kubernetes would require adding a storage class.  But, I can see this not necessarily being obvious.

[2022-11-02 20:56] BloodyIron commented on #489
Actually I want to reel back my reply a bit. I am not 100% sure if the missing storageClass was problematic.

I am however 100% certain I was in error as the EFS I had made was tied to only one AZ (it was in "One AZ" mode and not "Standard" aka multi-AZ mode) and did not realise I needed the EFS to be reachable by multiple AZ's. Remaking that EFS to be reachable by multiple AZ's did the trick. Tha

[2022-11-03 02:33] kdebisschop commented on #812
Same when upgrading in rancher 2.6.8, Kubernetes v1.23.10+rke2r1

[2022-11-03 12:21] #704 closed

[2022-11-04 07:53] KqLLL commented on #812
@FerencTothBARB Your node OS is [bottlerocket](https://github.com/bottlerocket-os/bottlerocket)? I have the same issue.

[2022-11-04 09:30] FerencTothBARB commented on #812
Yes. But how is it possible that the previous image works fine on the same Bottlerocket image?

[2022-11-04 10:07] KqLLL commented on #812
We have downgraded Bottlerocket version from 1.10.1 to 1.9.2 Issue fixed.

[2022-11-04 11:38] MiGrandjean commented on #812
I have the same problem.

EKS 1.22, node OS is Amazon Linux 2.

Looks like the `aws-efs-csi-driver:v1.4.2` Docker image still has `/usr/bin/stunnel`, but in `aws-efs-csi-driver:v1.4.3` it's `/usr/bin/stunnel5`.

`yum list` shows:
* `stunnel.x86_64    4.56-6.amzn2.0.3` in `aws-efs-csi-driver:v1.4.2`
* `stunnel5.x86_64    5.58-1.amzn2.0.1` in `aws-efs-csi-driver:v1.4.3`

[2022-11-04 17:24] KlockiLego commented on #245
In my case AWS SCP was blocking traffic to the ECR in us-west-2 from eu-central-1

[code]
change daemonset container image from:
image: 602401143452.dkr.ecrus-west-2.amazonaws.com/eks/aws-efs-csi-driver:v1.2.0
to
image: 602401143452.dkr.ecr.eu-central-1.amazonaws.com/eks/aws-efs-csi-driver:v1.2.0

similar problem:
https://github.com/aws/amazon-vpc-cni-k8s/issues/1217

[2022-11-05 01:51] dmitry-mightydevops commented on #812
I have the same issue, all eks nodes are `v1.21.14-eks-ba74326`. That causes 400+ load avg on nodes where that container is present. Removing this pod - lowers the lavg < 1

[code]

[2022-11-06 12:51] z0rc commented on #812
I'm kinda amazed how this was released in the first place. This is critical issue that breaks intended driver functionality. Did e2e tests catch this (but results were ignored) or this is flaw in the test suite?

[2022-11-07 04:37] pjaak commented on #812
Getting the same issue here :(

[2022-11-07 11:20] lemosric commented on #812
@FerencTothBARB, Thanks for the detail information, we already have someone working on this fix.

[2022-11-07 13:34] jgourmelen commented on #812
Fixed issue when i have upgraded to the latest version of ami :
v1.23.7-eks-7709a84 --> v1.23.12-eks-a64d4ad

[2022-11-07 15:56] Vaibhav1919 opened #814 "Can we restrict aws efs data usage per kubernetes pod?"
Hi, I am trying to create a scalable system where I need to scale a large number of pods within the minimum amount of time. I also need to persist the data of each pod, hence I am using PV, and PVC as volume mounts for pods. I have pre created PV from EFS and just mount it to all the pods. I mount a single PV to all the pods to reduce volume mount time and also EFS is charged only for data stored

[2022-11-07 19:05] mattj150 commented on #489
@BloodyIron I just wanted to leave a note that your last post saved me countless hours of troubleshooting. I was running into the same issue and it indeed has something to with the EFS being in Single vs Multiple AZ mode. I had the exact same config in the same VPCs with the same AZs and the single AZ EFS would not work. Switching to multi AZ EFS solved the problem.

[2022-11-07 23:33] BloodyIron commented on #489
haha yay! And this is the textbook reason why I post such messages! So things I find (even by my own mistake) can help others! I'm really glad it helped you :) Yay! :D warm vibes your way my friend.

[2022-11-08 07:22] wolffberg commented on #543
/remove-lifecycle stale

[2022-11-08 21:28] t0rr3sp3dr0 opened #819 "AMR64 images missing from ECR registry"
/kind bug

**What happened?**
AMR64 images for some components are missing from the 602401143452 ECR registry.

**What you expected to happen?**
All AMD64 images should have an equivalent AMR64 image, just like they do on Public ECR.

**How to reproduce it (as minimally and precisely as possible)?**

[code]

**Anything else we need to know?**:
This problem is exactly the same as kubernetes-sigs/aw

[2022-11-08 21:30] t0rr3sp3dr0 commented on #819
@wongma7, can we update the version of the components used by AWS EFS CSI Driver to match the versions used by AWS EBS CSI Driver or is there something that requires us to use the old versions on this CSI Driver?

[2022-11-09 18:34] headyj commented on #812
Rolling back or installing latest v2.3.1 doesn't seems to fix the issue, still seeing `No such file or directory: '/usr/bin/stunnel5': '/usr/bin/stunnel5'` errors on most of my nodes. Do we need to drain and start new nodes to fix?

[2022-11-09 23:07] tijumat commented on #812
aws-efs-csi-driver:v1.4.4 have the stunnel5 change rolled back. Please use this version if you are still facing this issue.

[2022-11-10 06:26] headyj commented on #812
@tijumat that's precisely what I did, but for any reason the issue only disappeared once I drained and replace all the nodes

[2022-11-10 10:25] z0rc commented on #812
@tijumat @lemosric the revert is not enough. I'd like to see how broken release happened in the first place and what did you do to prevent it it in future.

[2022-11-11 11:50] bcbrockway commented on #596
Hey we're really interested in this. We're currently figuring out what our DR process for a region outage looks like using EFS replication but we have no way of knowing what each of the access points in the replicated region contain without access to the original Kubernetes cluster (or manually mounting each one to see what files are inside!).

[2022-11-11 11:51] bcbrockway commented on #596
/remove-lifecycle stale

[2022-11-13 09:50] gilbrown123 commented on #765
we have the same issue
EKS: 1.21.14
EFS Driver Version 1.4.0

[2022-11-14 05:52] jurgen-weber-deltatre commented on #812
Did the revert get reverted because we are seeing this in 1.4.5?

[2022-11-14 23:01] mauriciopoppe opened #830 "Run the control plane component in rootless mode"
/feature

**Describe the solution you'd like in detail**
We'd like to run the control plane EFS CSI Driver as rootless however efs-utils is trying to use a few commands https://github.com/aws/efs-utils/blob/master/src/watchdog/__init__.py#L82-L89 that are not available in rootless mode (efs-plugin/amazon-efs-watchdog looks up user database for retrieving credentials from '%user_home%/.aws' directo

[2022-11-15 14:57] pierluigilenoci commented on #471
/remove-lifecycle stale

[2022-11-15 16:11] pierluigilenoci commented on #682
/remove-lifecycle stale

[2022-11-15 16:15] pierluigilenoci commented on #634
/remove-lifecycle stale

[2022-11-15 16:15] pierluigilenoci commented on #739
/remove-lifecycle stale

[2022-11-16 12:37] 617m4rc commented on #642
The limit of 120 APs is a major issue for us, so I'd love to see this flexibility added to the driver. What needs to be done to get #761 reviewed?

[2022-11-17 19:38] tropnikovvl commented on #763
I have the same problem.
I followed the installation instructions [1](https://github.com/kubernetes-sigs/aws-efs-csi-driver#installation), [2](https://github.com/kubernetes-sigs/aws-efs-csi-driver/tree/master/examples/kubernetes/dynamic_provisioning)
Deployed pod and it failed to connect with the same error.
True, in my case, everything is in the same region and in the same VPS. I use eks with man

[2022-11-17 22:17] steromano87 commented on #693
The same issue can be found if the Access Point creation fails because the AP limit has been hit.
If a static GID/UID is used, the nil pointere dereference happens.
If a dynamic GID/UID is used, a proper error message is shown.

[2022-11-17 22:27] steromano87 opened #832 "Access points created via Dynamic Provisioning are not deleted when PVCs are deleted"
/kind bug

**What happened?**
Create a PVC using dynamic provisioning. Both the PVC and a dedicated Access Point is created.
After creation, delete the same PVC.
The previously created AP remain in the EFS file system AP list, but cannot be used anymore by other dynamically created PVCs.

**What you expected to happen?**
When a PVC created using dynamic provisioning is deleted, the corresponding A

[2022-11-17 22:52] steromano87 commented on #832
Additionally, the AP is not deleted even if the PV linked to the dynamically created PVC is manually deleted

[2022-11-18 19:26] MarkSpencerTan commented on #832
Hi @steromano87 you need to redeploy the efs-csi-driver with the appropriate config to also delete the access points when deleting the PVC. see my findings here: https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/411

if you're using the helm chart there's a value to set it as well:

[code]

Also make sure your retain policy is on Delete, looks like you're using Retain. That might have s

[2022-11-21 07:07] RomanBednar commented on #735
/remove-lifecycle rotten

[2022-11-21 07:31] phyzical commented on #104
@lemmikens Thanks!!! this was driving me mad

for me it was the SGs on the mount points didnt needs the sa (but im not using the csi driver)

[2022-11-21 12:47] infa-rahusingh commented on #616
We are facing the same issue on v1.4.3.
Killing stunnel process did not fix the problem.

[2022-11-22 09:23] tsmetana commented on #695
/remove-lifecycle stale

This is still plaguing the driver and causes quite some problems to us.

[2022-11-23 17:21] #800 closed

[2022-11-23 18:01] #611 closed

[2022-11-24 11:42] jgoeres commented on #635
/remove-lifecycle stale
This issue has just today resurfaced on a production system, so it should be kept active.

[2022-11-24 18:12] #715 closed

[2022-11-24 22:46] BalzGuenat commented on #715
/reopen

[2022-11-25 02:17] snoord commented on #474
This issue _may_ now be resolved with the recently-released [aws-efs-csi-driver v1.4.6](https://github.com/kubernetes-sigs/aws-efs-csi-driver/releases/tag/v1.4.6), which uses stunnel5 via [efs-utils v1.34.2](https://github.com/aws/efs-utils/releases/tag/v1.34.2).

[2022-11-25 19:24] batman1754 commented on #489
@fptiangco you saved my day, thanks a lot for sharing this. i have attached the iam policy (AmazonEKS_EFS_CSI_Driver_Policy) to my eks node group role. that did the trick

[2022-11-25 19:48] batman1754 commented on #489
Yes correct, this resolved my issue as well. @ipleten

[2022-11-26 19:31] #521 closed

[2022-11-28 11:36] pierluigilenoci commented on #749
/remove-lifecycle stale

[2022-11-28 11:38] pierluigilenoci commented on #749
@mskanth972 @mjsoyeon could you please take a look?
@Ashley-wenyizha @dschunack @lmouhib who should I ask for feedback?

[2022-11-28 18:59] collinhayden commented on #819
Running into this issue also.  When I docker inspect the relative images on the nodes that are having issue, I see they are running the amd64 version and not the arm64 version like they are supposed to be.  Therefore the liveness checks fail and things are in a backoff loop.  Is there a work around for this issue?

[2022-11-29 19:40] collinhayden commented on #819
Just FYI, for someone else who might find it useful, as an interim and fix for us, we moved from using the path:
deploy/kubernetes/overlays/stable/ecr

to

deploy/kubernetes/overlays/stable

and this works since the private repos for the sidecar containers in the pod aren't using the private repo, but the public and this seems to be where things are broken.  We are using kustomize as the installer

[2022-11-30 15:00] SoulKyu opened #841 "Can't fetch metrics from Kubelet"
/kind bug

**What happened?**
I'm not able to get metrics for EFS on Kubelet

**What you expected to happen?**
Metrics available when option --vol-metrics-opt-in=true is enable

**How to reproduce it (as minimally and precisely as possible)?**
Create an EFS volume and deploy EFS-CSI with option --vol-metrics-opt-in=true on daemonset and deployment

**Anything else we need to know?**:
Their is the